{% extends "layouts/new-nav.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
Deactivate/reactivate records
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/ec98fd3a-11f4-47d8-93c8-bc720b09bbfe/edit?beaconFlowId=D5502C6980999AC7&invitationId=inv_8d91f52b-bee5-4d09-b292-cc3174889fdc&page=0_0#" target="_blank">Design board</a>
  </p>

<h2 class="govuk-heading-s">
Active records
  </h2>

<table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="active/personal-details-v1">Record v1</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         Updated record page
         <br>
         Version with tag. New button at the bottom showing option to deactivate. Alternate design, not taken forward for MVP.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="active/personal-details-v2">Record v2</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         Updated record page
         <br>
       Button only. <b>Finalised design</b>
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="active/personal-details-after">Record v2 - with banner</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        Record page after reactivating record.
         <br>
       Showing the success banner.
         
          </p>
        </td>
      </tr>

      

      
   </tbody>
  </table>

  <h2 class="govuk-heading-s">
Deactivated records
  </h2>

  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivated/personal-details-v1">Record v1</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         Updated record page
         <br>
         Version with a deactivated tag. New button at the bottom showing option to reactivate. Alternate design, not taken forward for MVP.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivated/personal-details-v2">Record v2</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         Updated record page
         <br>
         Simple version with supplementary text for deactivation. <b>Finalised design</b>
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivated/from-merge">Deactivated record from merge</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         View of a record deactivated via merge support task.
         <br>
         No button.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivated/change-history">Change history on deactivated account</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
            Deactivation reasons view.
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivated/change-history-merge">Change history on deactivated account via merge</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
           Deactivated via merge.
          </p>
        </td>
      </tr>
      
   </tbody>
  </table>



      <h2 class="govuk-heading-s">
Deactivation pages
  </h2>

 <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="deactivate-reasons">Deactivation reasons</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       New screen
         <br>
         Showing reasons for deactivation.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="reactivate-reasons">Reactivation reasons</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       New screen
         <br>
      Reason for reactivation
         
          </p>
        </td>
      </tr>
      
   </tbody>
  </table>
         
   <h2 class="govuk-heading-s">
Search results
  </h2>

 <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="search-results">Search results</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
      Updated screen
         <br>
       Updated to include a filter. View shows active records.
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="search-results-deactivated">Search results including deactivated records</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
      Updated screen
         <br>
       Shows deactivated record.
         
          </p>
        </td>
      </tr>

        <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="search-results-alt">Old search results</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
     Alternate design, not taken forward. Just for reference.
      
          </p>
        </td>
      </tr>
      
   </tbody>
  </table>
         
  
{% endblock %}
