{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route - " + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% set subjectChoices %}
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukInsetText({
        text: "You can add a professional status once you confirm this route."
      }) }}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Induction status"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "/induction/status?returnUrl=/induction/check",
                  text: "Change",
                  visuallyHiddenText: "induction status"
                }
              ]
            }
          },
          {
            key: {
              text: "Induction start date"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "/induction/start-date?returnUrl=/induction/check",
                  text: "Change",
                  visuallyHiddenText: "start-date"
                }
              ]
            }
          },
          {
            key: {
              text: "Induction completion date"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "/induction/completion-date?returnUrl=/induction/check",
                  text: "Change",
                  visuallyHiddenText: "induction completion date"
                }
              ]
            }
          }        
        ]
      }) }}

      <form method="post" action="/induction/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
