{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Induction  - " + teacher.fullName %}
{% set questionName = "Why are they exempt from induction?" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{pageName}}</span>
    <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukDetails({
        summaryText: "Why am I unable to deselect some exemption reasons?",
        text: "Some exemption reasons associated to a teacher are acquired from their route to QTS or QTLS and therefore can't be changed."
      }) }}


      {{ data.teachers | log }}
      {{ data.chooseQtsRoute | log }}
 
      <form method="post" novalidate>

        {% include "_includes/induction/exemption-reasons.njk" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
    </p>
  </div>
</div>

{% endblock %}
