{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "induction" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

{{ govukNotificationBanner({
  type: "success",
  html: '<h2 class="govuk-heading-m">'+flash+'</h2>'
}) if flash.length }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ teacher.fullName }}</h1>

     


      {% include "_includes/secondary-navigation.njk" %}  

      {% if data.newInductionStatus %}
        {% include "_includes/induction/main-status-change.njk" %}  
      {% else %}
        {% include "_includes/induction/main.njk" %}  
      {% endif %}

      {{ data.teachers | log }}
      {{ data['inductionStatus'] | log }}
      {{ data.chooseQtsRoute | log }}


  </div>
</div>

{% endblock %}
