{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Induction  - " + teacher.fullName %}
{% set questionName = "Select induction status" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{pageName}}</span>
    <h1 class="govuk-heading-l"> {{questionName}}</h1>

      {{ data.teachers | log }}
      {{ data.chooseQtsRoute | log }}
 
      <form method="post" novalidate>

        {% if teacher.trn  == '494612' %}
          {% include "_includes/induction/statuses/none.njk" %}
        {% endif %}

        {% if teacher.trn  == '553092' %}
          {% include "_includes/induction/statuses/required.njk" %}
        {% endif %}

        {% if teacher.trn  == '571028' %}
          {% include "_includes/induction/statuses/exempt.njk" %}
        {% endif %}

        {% if teacher.trn  == '752394' %}
          {% include "_includes/induction/statuses/in-progress.njk" %}
        {% endif %}

        {% if teacher.trn  == '764087' %}
          {% include "_includes/induction/statuses/passed.njk" %}
        {% endif %}

        {% if teacher.trn  == '822123' %}
          {% include "_includes/induction/statuses/passed-in-wales.njk" %}
        {% endif %}

        {% if teacher.trn  == '824781' %}
          {% include "_includes/induction/statuses/failed.njk" %}
        {% endif %}

        {% if teacher.trn  == '869361' %}
          {% include "_includes/induction/statuses/failed.njk" %}
        {% endif %}



      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
