{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Induction  - " + teacher.fullName %}
{% set questionName = "Select an induction status" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{pageName}}</span>
    <h1 class="govuk-heading-l"> {{questionName}}</h1>

      {{ data.teachers | log }}
      {{ data.chooseQtsRoute | log }}
 
      <form method="post" novalidate>
      {{ govukRadios({
        name: "changeInductionStatus",
        fieldset: {
          legend: {
            text: "Select a status"
          }
        },
        items: [
          {
            value: "None",
            text: "None"
          },
          {
            value: "Required to complete",
            text: "Required to complete"
          },
          {
            value: "Exempt",
            text: "Exempt"
          },
          {
            value: "In progress",
            text: "In progress"
          },
          {
            value: "Passed",
            text: "Passed"
          },
          {
            value: "Passed in Wales",
            text: "Passed in Wales"
          },
          {
            value: "Failed",
            text: "Failed"
          },
          {
            value: "Failed in Wales",
            text: "Failed in Wales"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
