{% extends "layouts/nav-search.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "changelog" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Charlie Williams</h1>

    <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
      <ul class="x-govuk-secondary-navigation__list">
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="personal-details">
            Personal details
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="routes" >
           Routes and qualifications
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="induction" aria-current=page>
           Induction
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="alerts">
           Alerts
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="notes">
         Notes
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
          <a class="x-govuk-secondary-navigation__link" href="change-history">
           Change history
          </a>
        </li>
      </ul>
    </nav>
    
    <br><br>
    <div class="hods-timeline">
      <div class="hods-timeline__item">
        <h2 class="hods-timeline__title">
         Alert added
        </h2>
        <p class="hods-timeline__date">
          <time
            class="hods-date-time"
            datetime="2021-03-15T16:27:00.000Z"
          >
            by Erica Francoise-Smith on 17 March 2025 at 3:02 PM
          </time>
        </p>
    
       
     
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Alert type</dt>
        <dd class="govuk-summary-list__value">Prohibition by the Secretary of State - misconduct</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Start date</dt>
        <dd class="govuk-summary-list__value">	3 March 2025</dd>
      </div>

    </dl>

                <details class="govuk-details govuk-!-margin-bottom-2">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Reason for adding alert</span>
            </summary>
            <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason</dt>
                        <dd class="govuk-summary-list__value" data-testid="reason">Routine notification from stakeholder</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason details</dt>
                        <dd class="govuk-summary-list__value">
                           Not provided
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason details</dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="">evidence.jpg</a>
                        </dd>
                    </div>
                   
                </dl>
            </div>
        </details>
        </p>
  </div>
</div>

{% endblock %}
