{% extends "layouts/new-nav.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
Create a new record screen index
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/969a7336-89a6-4b51-8b6b-e027b092c7ed/edit?viewport_loc=135874%2C56849%2C14692%2C7147%2C0_0&invitationId=inv_4a3d7b1b-7fac-4081-93bb-25f42b559ea6" target="blank">Flow</a>
  </p>

  <p>
    24 July 2025
  </p>

  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
 <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="landing-page">Landing page</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
            The screen with the tiles. The existing screen.
         
          </p>
        </td>
      </tr>


      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="create-new-blank">Create new record (blank)</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          Blank version with no data inputs. The existing screen.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="create-new">Create new record</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          Filled out version with data inputs. The existing screen.
         
          </p>
        </td>
      </tr>

        <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="check">Check</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
      Check your answers page. The existing screen.
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="success">Record: personal details</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen.
         
          </p>
        </td>
      </tr>

       

      
</tbody>
  </table>


 
         
  
{% endblock %}
