{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "All records" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data.teachers %}
{% set teacher = trn | find(teacherArray)  %}






{% block content %}

{{ govukNotificationBanner({
  type: "success",
  html: '<h2 class="govuk-heading-m">'+flash+'</h2>'
}) if flash.length }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l"> {{pageName}}</h1>

      {{ data.teachers | log }}
      {{ data.chooseQtsRoute | log }}


      {% include "_includes/support-tasks/secondary-navigation.njk" %}
      
      {{ govukButton({
        text: "Add a record",
        href: "/create-record/add"
      }) }}

      {% include "_includes/support-tasks/existing-records-table.njk" %}

      {# <h2 class="govuk-heading-m">No records to show</h2> #}
        

          


      {% if data.chooseQtsRoute  == 'Legacy route' %}
        {% include "_includes/summary/legacy-route-snapshot.njk" %}
      {% endif %}


  </div>
</div>

{% endblock %}
