{% extends "layouts/main.html" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}
{% set questionName = "Edit route details" %}

{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set exemptionReasons %}
 <ul class="govuk-list">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>



      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route"
            },
            value: {
              text: data.activeRouteType or data.legacyRouteType
            },
            actions: {
              items: [
                {
                  href: "/all-qts-routes?returnUrl=route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "route type"
                }
              ]
            }
          },

          {
            key: {
              text: "Status"
            },
            value: {
              html: "<strong class='govuk-tag govuk-tag--orange'>" + data.routeStatus + "</strong>"
            },
            actions: {
              items: [
                {
                  href: "/route-status?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "route status"
                }
              ]
            }
          },

          {
            key: {
              text: "End date"
            },
            value: {
              text:  data | isoDateFromDateInput('routeCompleteEndDate') | govukDate
            },
            actions: {
              items: [
                {
                  href: "/route-complete/end-date?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "route status"
                }
              ]
            }
          } if data.routeCompleteEndDate,

          {
            key: {
              text: "Award date"
            },
            value: {
              text:  data | isoDateFromDateInput('routeAwardDate') | govukDate
            },
            actions: {
              items: [
                {
                  href: "/route-complete/award-date?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "route status"
                }
              ]
            }
          } if data.routeAwardDate,

          {
            key: {
              text: "Has exemption"
            },
            value: {
              text: data.hasRouteExemption
            },
            actions: {
              items: [
                {
                  href: "/route-complete/has-exemption?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "if they have an exemption"
                }
              ]
            }
          } if not data.hasRouteExemption == "No",

          {
            key: {
              text: "Training provider"
            },
            value: {
              html: data.trainingProvider
            },
            actions: {
              items: [
                {
                  href: "/route-information/training-provider?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "Training provider"
                }
              ]
            }
          },

          {
            key: {
              text: "Degree type"
            },
            value: {
              html: data.degreeTypes
            },
            actions: {
              items: [
                {
                  href: "/route-information/degree-type?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "Degree type"
                }
              ]
            }
          },

          {
            key: {
              text: "Country of training"
            },
            value: {
              text: data.routeCountryOfTraining
            },
            actions: {
              items: [
                {
                  href: "/route-information/country?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "Country of training"
                }
              ]
            }
          },
          
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "From " + data.ageFromRestriction + " to " + data.ageToRestriction
            },
            actions: {
              items: [
                {
                  href: "/route-information/age-to-from?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "teaching age range"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              html: subjectChoices 
            },
            actions: {
              items: [
                {
                  href: "/route-information/subjects?returnUrl=/route/edit/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          }     
        ]
      }) }}

      

      <form method="post" action="/route/edit/check">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
