{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "What age is " + data.teachers[0].fullName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>
      
  
      <form method="post" novalidate>
        {{ govukRadios({
          name: "applyForQtsBeenAgeRange",
          value: data.applyForQtsBeenAgeRange,    
          items: [
            {
              value: "Between 20 and 30",
              text: "Between 20 and 30"
            },
            {
              value: "Between 30 and 40",
              text: "Between 30 and 40"
            },
            {
              value: "Between 40 and 50",
              text: "Between 40 and 50"
            },
            {
              value: "Between 50 and 60",
              text: "Between 50 and 60"
            }
          ]
        }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
