{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "What age range does " + data.teachers[0].fullName + " teach?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>
      
  
      <form method="post" novalidate>
        
          <p class="govuk-body govuk-!-font-weight-bold">From</p>
  
          {{ govukDateInput({
            id: "applyQtsAgeRangeFrom",
            namePrefix: "applyQtsAgeRangeFromDate",
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['applyQtsAgeRangeFromDate-day']
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['applyQtsAgeRangeFromDate-month']
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['applyQtsAgeRangeFromDate-year']
              }
            ]
          }) }}
  
          <p class="govuk-body govuk-!-font-weight-bold">to</p>
  
          {{ govukDateInput({
            id: "applyAtqAgeRangeTo",
            namePrefix: "applyAtqAgeRangeToDate",
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['applyAtqAgeRangeToDate-day']
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['applyAtqAgeRangeToDate-month']
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['applyAtqAgeRangeToDate-year']
              }
            ]
          }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
