{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details to confirm route and qualification" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukInsetText({
        text: "A professional status will be immediately added when you confirm this route."
      }) }}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route"
            },
            value: {
              text: data.chooseQtsRoute
            },
            actions: {
              items: [
                {
                  href: "/change-qts-route",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data.applyQtsCountry
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/country?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Has exemption"
            },
            value: {
              text: data.applyForQtsHasExemption
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/exemption?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Award date"
            },
            value: {
              text: data['applyQtsStartDate-day'] + " " + data['applyQtsStartDate-month'] + " " + data['applyQtsStartDate-year']
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/award-date?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "Award date"
                }
              ]
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/age-restrictions?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "age restrictions"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: data.ittQualSubjectRestrictions
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/subject-restrictions?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "subject restrictions"
                }
              ]
            }
          } 
        ]
      }) }}

      

      <form method="post" action="/apply-for-qts/check-handler">
        {{ govukButton({
          text: "Confirm to add route and qualification"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
