{% extends "layouts/nav-search.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "route" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Harry Taylor</h1>

    <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
      <ul class="x-govuk-secondary-navigation__list">
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="personal-details">
            Personal details
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
          <a class="x-govuk-secondary-navigation__link" href="routes" aria-current=page>
           Routes and qualifications
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="induction">
           Induction
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="#">
           Alerts
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="#">
         Notes
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="#">
           Change history
          </a>
        </li>
      </ul>
    </nav>

  <br><br>

  
          <h2 class="govuk-heading-m">Routes to professional statuses</h2>
          <p class="govuk-body">No routes added yet</p>

          {{ govukButton({
            text: "Add a route",
            href: "/all-qts-routes"
          }) }}

    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Mandatory qualifications</h2>
      <p class="govuk-body">No mandatory qualifications added yet</p>
      {{ govukButton({
        text: "Add a mandatory qualification",
        href: "#"
      }) }}

    
  

  </div>
</div>

{% endblock %}
