{% set exemptionReasons %}
 <ul class="govuk-list govuk-list--bullet">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}



{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Induction status"
      },
      value: {
        text: data["newInductionStatus"]
      },
      actions: {
        items: [
          {
            href: "/induction/status?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction status"
          }
        ]
      }
    },
    {
      key: {
        text: "Exemption reason"
      },
      value: {
        html: exemptionReasons
      },
      actions: {
        items: [
          {
            href: "/induction/reason?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction reason"
          }
        ]
      }
    },
    {
      key: {
        text: "Induction start date"
      },
      value: {
        text:  data | isoDateFromDateInput('inductionStartDate') | govukDate 
      },
      actions: {
        items: [
          {
            href: "/induction/start-date?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "start-date"
          }
        ]
      }
    },
    {
      key: {
        text: "Induction completion date"
      },
      value: {
        text:  data | isoDateFromDateInput('inductionCompletionDate') | govukDate
      },
      actions: {
        items: [
          {
            href: "/induction/completion-date?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction completion date"
          }
        ]
      }
    }        
  ]
}) }}