{% set exemptionReasons %}
 <ul class="govuk-list">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}

{% set inductionStartDate  = teacher['inductionStartDate'] or "Not applicable" %}
{% set inductionCompletionDate  = teacher['inductionCompletionDAte'] or "Not applicable" %}

{% set changeReason %}  
  {% if data.statusChangeReason == "Another reason" %}
     {{ data.otherReason }}
  {% else %}
    {{ data.statusChangeReason }}
  {% endif %}
{% endset %}

{% set details %}  
  {% if data.hasMoreInfo == "Yes" %}
     {{ data.yesAdditionalInfo }}
  {% else %}
    {{ data.hasMoreInfo }}   
  {% endif %}
{% endset %}


{{ data.teachers.inductionStartDate | log }}

{{ data.teachers.inductionCompletionDate | log }}





{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Induction status"
      },
      value: {
        text: data["newInductionStatus"]
      },
      actions: {
        items: [
          {
            href: "/induction/status?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction status"
          }
        ]
      }
    },



    {
      key: {
        text: "Exemption reason"
      },
      value: {
        html: exemptionReasons
      },
      actions: {
        items: [
          {
            href: "/induction/reason?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction reason"
          }
        ]
      }
    },



    {
      key: {
          text: "Reason for changing induction details"
      },
      value: {
          text: changeReason
      },
      actions: {
        items: [
        {
            href: "/induction/change-reason?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "reason for change"
        }
        ]
      } 
    },


     {
      key: {
          text: "Addtional information"
      },
      value: {
          html: details
      },
      actions: {
        items: [
        {
            href: "/induction/change-reason?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "if you have evidence"
        }
        ]
      } 
    },



    {
      key: {
          text: "Do you have evidence to upload?"
      },
      value: {
          html: data.evidence.hasEvidence + '<p class="govuk-body"><a href="#" class="govuk-link">evidence-2024.pdf</a>.</p>'
      },
      actions: {
        items: [
        {
            href: "/induction/change-reason?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "if you have evidence"
        }
        ]
      } 
    } if data.evidence.hasEvidence == "Yes"    
  ]
}) }}