{% set inductionStartDate  = teacher['inductionStartDate'] or "Not applicable" %}
{% set inductionCompletionDate  = teacher['inductionCompletionDAte'] or "Not applicable" %}
{% set newInductionStartDate = data['newInductionStartDate']%}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Induction status"
      },
      value: {
        text: data["newInductionStatus"]
      },
      actions: {
        items: [
          {
            href: "/induction/status?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction status"
          }
        ]
      }
    },
    {
      key: {
        text: "Induction start date"
      },
      value: {
        text:  data | isoDateFromDateInput('newInductionStartDate') | govukDate 
      },
      actions: {
        items: [
          {
            href: "/induction/start-date?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "start-date"
          }
        ]
      }
    },
    {
      key: {
        text: "Induction completion date"
      },
      value: {
        text:  data | isoDateFromDateInput('inductionCompletionDate') | govukDate
      },
      actions: {
        items: [
          {
            href: "/induction/completion-date?returnUrl=/induction/check",
            text: "Change",
            visuallyHiddenText: "induction completion date"
          }
        ]
      } if teacher.inductionStatus == "Required to complete"
    }        
  ]
}) }}