{{ govukCheckboxes({
  name: "inductionExemptionReason",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Select exmeption reasons",
      classes: "govuk-fieldset__legend--s govuk-visually-hidden"

    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "carcasses",
      text: "Waste from animal carcasses"
    },
    {
      value: "mines",
      text: "Waste from mines or quarries"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    },
    {
      value: "farm",
      text: "Farm or agricultural waste"
    }
  ]
}) }}