{% set exemptionReasons %}
 <ul class="govuk-list govuk-list--bullet">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}

{% set inductionStartDate  = teacher['inductionStartDate'] or "Not applicable" %}
{% set newInductionCompletionDate  = data['newInductionCompletionDate'] %}
{% set newInductionStartDate = data['newInductionStartDate']  %}

{{ govukSummaryList({
  card: {
      title: {
      text: "Induction details"
      }
  },
  rows: [
      {
        key: {
          text: "Induction status"
        },
        value: {
            text: data.newInductionStatus
        },
        actions: {
            items: [
            {
                href: "/induction/status",
                text: "Change",
                visuallyHiddenText: "name"
            }
            ]
        } if data.newInductionStatus == "Required to complete" or data.newInductionStatus == "Exempt" or data.newInductionStatus == "In progress" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed in Wales"
      },


      {
      key: {
          text: "Exemption reason"
      },
      value: {
          html: exemptionReasons
      },
      actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction start date"
          }
          ]
        }  
      } if data.newInductionStatus == "Exempt",
      {
      key: {
          text: "Induction start date"
      },
      value: {
          text: newInductionStartDate
      },
      actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction start date"
          }
          ]
        } if data.newInductionStatus == "Exempt" or data.newInductionStatus == "In progress" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed" or data.newInductionStatus == "Failed in Wales"

      } if data.newInductionStatus == "Required to complete" or data.newInductionStatus == "In progress" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed" or data.newInductionStatus == "Failed in Wales",


      {
        key: {
            text: "Induction completion date"
        },
        value: {
            text: newInductionCompletionDate
        },
        actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction completion date"
          }
          ]
        } if data.newInductionStatus == "Exempt" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed" or data.newInductionStatus == "Failed in Wales"
      
      } if data.newInductionStatus == "Exempt" or data.newInductionStatus == "Passed" or data.newInductionStatus == "Failed" or data.newInductionStatus == "Failed in Wales"
  ] 
}) }}

