{% set exemptionReasons %}
 <ul class="govuk-list govuk-list--bullet">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}

{% set inductionStartDate  = teacher['inductionStartDate'] or "Not applicable" %}
{% set inductionCompletionDate  = teacher['inductionCompletionDAte'] or "Not applicable" %}
{% set newInductionStartDate = data['newInductionStartDate']%}

{{ govukSummaryList({
  card: {
      title: {
      text: "Induction details"
      }
  },
  rows: [
      {
        key: {
          text: "Induction status"
        },
        value: {
            text: data.newInductionStatus
        },
        actions: {
            items: [
            {
                href: "/induction/status",
                text: "Change",
                visuallyHiddenText: "name"
            }
            ]
        }
      },
      {
      key: {
          text: "Exemption reason"
      },
      value: {
          html: exemptionReasons
      },
      actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction start date"
          }
          ]
        }  
      } if data.newInductionStatus == "Exempt",
      {
      key: {
          text: "Induction start date"
      },
      value: {
          text: inductionStartDate
      },
      actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction start date"
          }
          ]
        }
      },
      {
        key: {
            text: "Induction completion date"
        },
        value: {
            text: inductionCompletionDate
        },
        actions: {
          items: [
          {
              href: "#",
              text: "Change",
              visuallyHiddenText: "induction completion date"
          }
          ]
        } if teacher.inductionStatus == "Required to complete"
      } 
  ] 
}) }}

