{{ xGovukAutocomplete({
  id: "induction-exemption",
  name: "inductionExemptionReason",
  fieldset: {
      legend: {
      classes: "govuk-visually-hidden",
      text: "Select induction status"
      }
  },
  allowEmpty: false,
  classes: "govuk-input--width-10",  
  items: [
    {"text": "Exempt"},
    {"text": "Exempt - Data Loss/Error Criteria"},
    {"text": "Has, or is eligible for, full registration in Scotland"},
    {"text": "Overseas Trained Teacher"},
    {"text": "Qualified before 07 May 1999"},
    {"text": "Qualified between 07 May 1999 and 01 April 2003. First post was in Wales and lasted a minimum of two terms."},
    {"text": "Qualified through EEA mutual recognition route"},
    {"text": "Qualified through FE route between 01 Sep 2001 and 01 Sep 2004"},
    {"text": "Registered Teacher (having at least two year's full time teaching experience)"},
    {"text": "Successfully completed induction in Guernsey"},
    {"text": "Successfully completed induction in Isle Of Man"},
    {"text": "Successfully completed induction in Jersey"},
    {"text": "Successfully completed induction in Northern Ireland"},
    {"text": "Successfully completed induction in Service Children's Education schools in Germany or Cyprus"},
    {"text": "Successfully completed induction in Wales"},
    {"text": "Successfully completed probationary period in Gibraltar"},
    {"text": "Teacher has been awarded QTLS and is exempt provided they maintain their membership with the Society for Education and Training"}
  ]
}) }}