{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "route" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{{ govukNotificationBanner({
  type: "success",
  html: '<h2 class="govuk-heading-m">'+flash+'</h2>'
}) if flash.length }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">{{data.teachers[0].fullName}}</h1>

        {% include "_includes/secondary-navigation.njk" %}


      {% if not data.chooseQtsRoute %}

          {{ govukInsetText({
            text: "You must add a route before you can see any professional statuses."
          }) }}
          <h2 class="govuk-heading-m">Routes to professional statuses</h2>
          <p class="govuk-body">No routes to show</p>

          {{ govukButton({
            text: "Add a route",
            href: "/all-qts-routes"
          }) }}

      {% else %}

    
            {% if data.chooseQtsRoute  == 'Initial teacher training' %}
              {% include "_includes/itt-qual-table.njk" %}
            {% endif %}

            {% if data.chooseQtsRoute  == 'Assessment only' %}
              {% include "_includes/assessment-only-qual-table.njk" %}
            {% endif %}

            {% if data.chooseQtsRoute  == 'Overseas qualified' %}
              {% include "_includes/apply-qts-qual-table.njk" %}
            {% endif %}

            {% if data.chooseQtsRoute  == 'qtls and set' %}
              {% include "_includes/qtls-and-set-qual-table.njk" %}
            {% endif %}

            {% if data.chooseQtsRoute  == 'iqts' %}
              {% include "_includes/iqts-qual-table.njk" %}
            {% endif %}

            {% if data.chooseQtsRoute  == 'Another route' %}
              {% include "_includes/legacy-qual-table.njk" %}
            {% endif %}
            

      {{ govukButton({
        text: "Add a route",
        href: "/all-qts-routes"
      }) }}

    {% endif %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Mandatory qualifications</h2>
    <p class="govuk-body">No mandatory qualifications to show</p>
    {{ govukButton({
      text: "Add a mandatory qualification",
      href: "#"
    }) }}

    {{ data.chooseQtsRoute | log }}

  </div>
</div>

{% endblock %}
