{% extends "layouts/main.html" %}

{% set primaryNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukInsetText({
        text: "A professional status will be added when you confirm this route."
      }) }}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "QTS route"
            },
            value: {
              text: data.chooseQtsRoute
            },
            actions: {
              items: [
                {
                  href: "/change-qts-route",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Qualification type"
            },
            value: {
              text: data.assessmentOnlyQualType
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/qualification-type?returnUrl=/assessment-only/check",
                  text: "Change",
                  visuallyHiddenText: "qualification type"
                }
              ]
            }
          },
          {
            key: {
              text: "Has exemption"
            },
            value: {
              text: data.assessmentOnlyHasExemption
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/qualification-type?returnUrl=/assessment-only/check",
                  text: "Change",
                  visuallyHiddenText: "qualification type"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/assessment-only/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
