{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route - " + data.teachers[0].fullName %}
{% set questionName = "Select subject restrictions" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      
      <form method="post" novalidate>
        {{ govukCheckboxes({
          name: "ittQualSubjectRestrictions",
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "100511 - Education Studies",
              text: "100511 - Education Studies"
            },
            {
              value: "100463 - Teaching",
              text: "100463 - Teaching"
            },
            {
              value: "100512 - Training Teachers",
              text: "100512 - Training Teachers"
            },
            {
              value: "100455 - Primary Education",
              text: "100455 - Primary Education"
            },
            {
              value: "100456 - Secondary Education",
              text: "100456 - Secondary Education"
            },
            {
              value: "100459 - Early Childhood Studies",
              text: "100459 - Early Childhood Studies"
            },
            {
              value: "100467 - Educational Psychology",
              text: "100467 - Educational Psychology"
            },
            {
              value: "100464 - Special Educational Needs",
              text: "100464 - Special Educational Needs"
            }
          ]
        }) }}
  

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
