{{ govukRadios({
  name: "changeInductionStatus",
  fieldset: {
      legend: {
      classes: "govuk-visually-hidden",
      text: "Select induction status"
      }
  },
  items: [
      {
      value: "None",
      text: "None"
      },
      {
      value: "Required to complete",
      text: "Required to complete"
      },
      {
      value: "Exempt",
      text: "Exempt"
      },
      {
      value: "Passed in Wales",
      text: "Passed in Wales"
      },
      {
      value: "Failed in Wales",
      text: "Failed in Wales"
      }
  ]
}) }}