{% extends "layouts/new-nav.html" %}
{% set currentPage = "records" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Compare potential duplicate records" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set summaryCardTitle %}
  {% if data.trnreq.potentialRecordMatch == "Yes" %}
     {{ record.sourceOfMatch }} request
  {% else %}
   {{ record.sourceOfMatch }} request&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="govuk-tag govuk-tag--red">Potential duplicate</span>
  {% endif %}
{% endset %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ record | log }}

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>

      {# <p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> on the right hand side</p> #}
      
      {{ govukInsetText({
        html: '<p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> in the existing record</p>',
        classes: "govuk-!-width-two-thirds"
      }) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            
            {# <p class="govuk-body">This is a paragraph inside a one half column</p> #}


            {{ govukSummaryList({
              card: {
                title: {
                  text: 'Register request'
                }
              },
              rows: [
                {
                  key: { text: "First name" },
                  value: { text: 'Emily' }
                },
                {
                  key: { text: "Middle name" },
                  value: { text: "Not provided" }
                } if record.middleName or "Not provided",
                {
                  key: { text: "Last Name" },
                  value: { text: "Taylor" }
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: "30 November 1995" }
                },
                {
                  key: { text: "Email" },
                  value: { text: "EmzTaylor@gmail.com" }
                },
                {
                  key: { text: "NI number" },
                  value: { text: "XZ 45 78 32 A" }
                }, 
                {
                  key: { text: "Evidence" },
                  value: { html: '<a href="#" class="govuk-link">' + record.providedEvidence + ' (opens in a new tab)</a>' or "None"} 
                } if not record.providedEvidence
              ]
            }) }}
          </div>
        
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
  
  
            
      
          <h2 class="govuk-heading-m">Potential matches</h2>

          {{ govukSummaryList({
            card: {
              title: {
                html: "Record A"
              },
              actions: {
                items: [
                  {
                    href: "/deactivate/show/" + match.id,
                    text: "View record",
                    visuallyHiddenText: "view record"
                  }
                ]
              }
            },
            rows: [
            
              {
                key: { text: "First name" },
                value: { text: "Emily" }
              },
              {
                key: { text: "Middle name" },
                value:  { html: '<mark class="hods-highlight"><strong>' + 'Mauve' + '</strong></mark>' }
              },
              {
                key: { text: "Last Name" },
                value: { text: "Taylor" }
              },
              {
                key: { text: "Date of birth" },
                value: { text: "	30 November 1995" }
              },
              {
                key: { text: "Email address" },
                value: { html: '<mark class="hods-highlight"><strong>' + "	EmmmyTee@icloud.com" + '</strong></mark>' }
              },
              {
                key: { text: "NI number" },
                value: { html: '<mark class="hods-highlight"><strong>' + match.nationalInsuranceNumber + '</strong></mark>' }
              } if match.nationalInsuranceNumber,
              {
                key: { text: "TRN" },
                value: { text: "123456" }
              }
            ]
          }) }}
          
          {{ govukSummaryList({
            card: {
              title: {
                html: "Record B"
              },
              actions: {
                items: [
                  {
                    href: "/deactivate/show/" + match.id,
                    text: "View record",
                    visuallyHiddenText: "view record"
                  }
                ]
              }
            },
            rows: [
            {
              key: { text: "Status" },
              html: '<span class="govuk-tag govuk-tag--red"><strong>' + 'Alert' + '</strong></span>'
            },
              {
                key: { text: "First name" },
                value: { text: 'Emily' }
              },
              {
                key: { text: "Middle name" },
                value: { html: '<mark class="hods-highlight"><strong>' + 'Marie' + '</strong></mark>' }
              } if record.middleName or "Not provided",
              {
                key: { text: "Last Name" },
                value: { text: "Taylor" }
              },
              {
                key: { text: "Date of birth" },
                value: { text: "30 November 1995" }
              },
              {
                key: { text: "Email" },
                value: { html: '<mark class="hods-highlight"><strong>' + "	EmmmyTee@icloud.com" + '</strong></mark>' }
              }
            ]
          }) }}

          {{ govukSummaryList({
            card: {
              title: {
                html: "Record C"
              },
              actions: {
                items: [
                  {
                    href: "/deactivate/show/" + match.id,
                    text: "View record",
                    visuallyHiddenText: "view record"
                  }
                ]
              }
            },
            rows: [
              {
                key: { text: "First name" },
                value: { text: 'Emily' }
              },
              {
                key: { text: "Middle name" },
                value: { html: '<mark class="hods-highlight"><strong>' + "	Jane" + '</strong></mark>' }
              } if record.middleName or "Not provided",
              {
                key: { text: "Last Name" },
                value: { html: '<mark class="hods-highlight"><strong>' + "	Taylor-Hill" + '</strong></mark>' }
              },
              {
                key: { text: "Date of birth" },
                value: { text: "30 November 1995" }
              },
              {
                key: { text: "Email" },
                value: { text: "EmzTaylor@gmail.com" }
              },
              {
                key: { text: "NI number" },
                value: { text: "XZ 45 78 32 A" }
              }, 
              {
                key: { text: "Evidence" },
                value: { html: '<a href="#" class="govuk-link">' + record.providedEvidence + ' (opens in a new tab)</a>' or "None"} 
              } if not record.providedEvidence
            ]
          }) }}
     

        {{ govukRadios({
          name: "mergeRecord",
          fieldset: {
            legend: {
              text: "Select a record to merge the Register request into",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Record A",
              text: "Record A"
            },
            {
              value: "Record B",
              text: "Record B"
            },
            {
              value: "Record C",
              text: "Record C"
            },
            {
              divider: "or"
            },
            {
              value: "I want to create a new record from the Register request",
              text: "I want to create a new record from the Register request"
            }
          ]
        }) }}
        
        <form method="get" action="select-data">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
        
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: "javascript:window.history.back()"
            }) }}
          </div>
        </form>
    
  </div>
</div>

{% endblock %}
