{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Compare matching records" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set summaryCardTitle %}
  {% if data.deactivate.govUkId == "No" %}
    Record A
  {% else %}
    Record A &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="govuk-tag govuk-tag--blue">Gov.uk ID</span>
  {% endif %}
{% endset %}

{% set record = data.deactivate %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>
      {# <p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> on the right hand side</p> #}
      {{ govukInsetText({
        text: "Both records include a qualification. After merging, both qualifications will be shown on the primary record.",
        classes: "govuk-!-width-two-thirds"
      }) }}

      <form method="post" novalidate >

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            
            {# <p class="govuk-body">This is a paragraph inside a one half column</p> #}

            {{ data.mergeRecord | log }}


            {{ govukSummaryList({
              card: {
                title: {
                  html: summaryCardTitle
                },
                actions: {
                  items: [
                    {
                      href: "/deactivate/show/"+record[0].id,
                      text: "View record",
                      visuallyHiddenText: "view record"
                    }
                  ]
                }
              },
              rows: [
                {
                  key: { text: "First name" },
                  value: { html: data.deactivate[0].firstName }
                },
                {
                  key: { text: "Middle name" },
                  value: { html: data.deactivate[0].middleName }
                } if data.deactivate[0].middleName,
                {
                  key: { text: "Last Name" },
                  value: { html: data.deactivate[0].lastName }
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: data.deactivate[0].dateOfBirth }
                },
                {
                  key: { text: "Email address" },
                  value: { text: data.deactivate[0].email }
                },
                {
                  key: { text: "National Insurance number" },
                  value: { text: data.deactivate[0].nationalInsuranceNumber }
                } if data.deactivate[0].nationalInsuranceNumber,
             
                {
                  key: { text: "TRN" },
                  value: { html:  data.deactivate[0].trn  }
                },
                {
                  key: { text: "Alerts" },
                  value: { text: data.deactivate[0].hasAlerts }
                }
              ]
            }) }}
          </div>
  
      

          <div class="govuk-grid-column-one-half">
       
            
              {{ govukSummaryList({
                card: {
                  title: {
                    html: "Record B"
                  },
                  actions: {
                    items: [
                      {
                        href: "/deactivate/show/"+record[1].id,
                        text: "View record",
                        visuallyHiddenText: "view record"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: { text: "First name" },
                    value: { html: data.deactivate[1].firstName }
                  },
                  {
                    key: { text: "Middle name" },
                    value:  { html: data.deactivate[1].middleName }
                  } if data.deactivate[1].middleName,
                  {
                    key: { text: "Last Name" },
                    value: { html: data.deactivate[1].lastName }
                  },
                  {
                    key: { text: "Date of birth" },
                    value: { text: data.deactivate[1].dateOfBirth }
                  },
                  {
                    key: { text: "Email address" },
                    value: { html: data.deactivate[1].email }
                  },
                  {
                    key: { text: "National Insurance number" },
                    value: { html: data.deactivate[1].nationalInsuranceNumber }
                  } if data.deactivate[1].nationalInsuranceNumber,
            
                  {
                    key: { text: "TRN" },
                    value: { html: data.deactivate[1].trn }
                  },
                  {
                    key: { text: "Alerts" },
                    value: { text: data.deactivate[1].hasAlerts }
                  }
                ]
              }) }}
          </div>
        </div>
     

        {{ govukRadios({
          name: "mergeRecord",
          fieldset: {
            legend: {
              text: "Which is the primary record?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Record A",
              text: "Record A"
            },
            {
              value: "Record B",
              text: "Record B"
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "javascript:window.history.back()"
          }) }}
        </div>

      </form>    
    
    
  </div>
</div>

{% endblock %}
