{% extends "layouts/main.html" %}

{% set pageName="Find a record" %}
{% set serviceNavId = "findRecord" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukNotificationBanner({
      type: "success",
      html: '<h2 class="govuk-heading-m">' + flash + data.deactivate[0].firstName + data.deactivate[0].lastName + '</h2>'
    }) if flash.length }}


    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

   <h2 class="govuk-heading-m">{{ data.deactivate | length }} records found</h2>

    <form method="post" novalidate>
      <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all" data-multi-select-idprefix="mountains-">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" id="select-all"></th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Date of birth</th>
            <th class="govuk-table__header" scope="col">TRN</th>
            <th class="govuk-table__header" scope="col">National Insurance number</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
  
          
          <tr class="govuk-table__row govuk-table__row--selected">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="duplicate-records">
                <label class="govuk-label govuk-checkboxes__label" for="duplicate-records">
                  <span class="govuk-visually-hidden">Select this row/span>
                </label>
              </div>
            </td>
              <td class="govuk-table__cell">{{data.deactivate[1].firstName}} {{data.deactivate[1].lastName}}</td>
              <td class="govuk-table__cell">{{data.deactivate[1].dateOfBirth}}</td>
              <td class="govuk-table__cell">{{data.deactivate[1].trn}}</td>
              <td class="govuk-table__cell">{{data.deactivate[1].nationalInsuranceNumber}}</td>
          </tr>
          
         
        </tbody>
      </table>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Compare records"
        }) }}
      
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "javascript:window.history.back()"
        }) }}
      </div>


    </form>
    
    
  </div>
</div>

{% endblock %}
