{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = "Create a record" %}
{% set pageName = "Merge and create primary record" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ task.supportTaskType | log }}
    {{ task.reference | log }}
    {{ task.dateOfTrnRequest | log }}
    {{ task.firstName | log }}
    {{ task.middleName | log }}
    {{ task.lastName | log }}
    {{ task.dateOfBirth | log }}
    {{ task.email | log }}
    {{ task.nationalInsuranceNumber | log }}

    {{ task | log }}

    <span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    
    {% include "_includes/support-tasks/create-from-trn/keep-primary-merge-deactivate.njk" %}

    
    <form method="post" novalidate action="/support-tasks/create-record/deactivate/{{task.id}}/reason">
      <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
      </div>
    </form>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Cancel and return to record</a>
    </p>

  </div>
</div>

{% endblock %}

