{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


{% set serviceNavId = "findRecord" %}
{% set secondaryNavId = "thisRecord" %}


{% set pageName = person.firstName + " " + person.middleName + " " + person.lastName %}






{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      {% if flashMessage %}
        {{ govukNotificationBanner({
          type: "success",
          html: '
            <div class="banner-flex">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Records merged successfully for ' ~ person.fullName ~ '<br> <a href="/support-tasks/create-record/from-trn-request/match-create-record/updated/' ~ recordId ~ '" class="govuk-link">View record</a>
              </h2>             
            </div>'
        }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      {% include "_includes/support-tasks/secondary-navigation-for-record.njk" %}

      
      
      {{ data.retainFirstName | log }}
      {{ data.retainLastName | log }}
      {{ data.retainMiddleName | log }}
      {{ data.retainDOB  | log }}
      {{ data.retainEmail  | log }}
      {{ data.retainnationalInsuranceNumber  | log }}
      {{ data.retainTRN  | log }}
      {{ data.makeMergeComment  | log }}
      {{ data.combineTheseSelections  | log }}


      {{ govukSummaryList({
        card: {
                title: {
                  text: "Personal details"
                },
                actions: {
                  items: [
                    {
                      href: "/create-record/add/reason",
                      text: "Change",
                      visuallyHiddenText: "Why I am creating this record"
                    }
                  ]
                }
              },
              rows: [
              {
                key: { text: "First name" },
                value: { html: person.firstName }
              },
              {
                key: { text: "Middle name (optional)" },
                value:  { html: person.middleName  }
              } if person.middleName,
              {
                key: { text: "Last Name" },
                value: { html: person.lastName }
              },
              {
                key: { text: "Date of birth" },
                value: { text: person.dateOfBirth }
              },
              {
                key: { text: "Email address" },
                value: { html: person.email  }
              },
              {
                key: { text: "National Insurance number" },
                value: { html: person.nationalInsuranceNumber  }
              } if person.nationalInsuranceNumber,
              {
                key: { text: "Sex" },
                value: { text: "Male" }
              },
              {
                key: { text: "TRN" },
                value: { html: person.trn }
              }
            ]
      }) }}


      {{ govukInsetText({
        html: "You can see the " + '<a href="#" class="govuk-link">deactivated record</a>' + " here."
      }) }}


     

      {# <form method="post">
        {{ govukButton({
          text: "Confirm and create record"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p> #}
    </div>
  </div>
{% endblock %}
