{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


{% set serviceNavId = "findRecord" %}
{% set secondaryNavId = "thisRecord" %}


{% set pageName = person.firstName + " " + person.middleName + " " + person.lastName %}






{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      {% if flashMessage %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Primary record updated for John Henry Doe
          </h3>
          <p class="govuk-body">Details from the secondary record were merged. The secondary record has been deactivated.</p>
          <!-- 
          <a href="/support-tasks/create-record/from-trn-request/match-create-record/updated/' ~ recordId ~ '" class="govuk-link">View record</a>-->
        </div>
      </div>
      {% endif %}

      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      {% include "_includes/support-tasks/secondary-navigation-for-record.njk" %}

      
      
      {{ data.retainFirstName | log }}
      {{ data.retainLastName | log }}
      {{ data.retainMiddleName | log }}
      {{ data.retainDOB  | log }}
      {{ data.retainEmail  | log }}
      {{ data.retainnationalInsuranceNumber  | log }}
      {{ data.retainTRN  | log }}
      {{ data.makeMergeComment  | log }}
      {{ data.combineTheseSelections  | log }}


      {{ govukSummaryList({
        card: {
                title: {
                  text: "Personal details"
                },
                actions: {
                  items: [
                    {
                      href: "/create-record/add/reason",
                      text: "Change",
                      visuallyHiddenText: "Why I am creating this record"
                    }
                  ]
                }
              },
              rows: [
              {
                key: { text: "First name" },
                value: { html: person.firstName }
              },
              {
                key: { text: "Middle name (optional)" },
                value:  { html: person.middleName  }
              } if person.middleName,
              {
                key: { text: "Last Name" },
                value: { html: person.lastName }
              },
              {
                key: { text: "Date of birth" },
                value: { text: person.dateOfBirth }
              },
              {
                key: { text: "Email address" },
                value: { html: person.email  }
              },
              {
                key: { text: "National Insurance number" },
                value: { html: person.nationalInsuranceNumber  }
              } if person.nationalInsuranceNumber,
              {
                key: { text: "Sex" },
                value: { text: "Male" }
              },
              {
                key: { text: "TRN" },
                value: { html: person.trn }
              }
            ]
      }) }}

      <div class="govuk-inset-text">
        <a href="#" class="govuk-link">View the deactivated record (opens in a new tab)</a>
      </div>

     
     

      {# <form method="post">
        {{ govukButton({
          text: "Confirm and create record"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p> #}
    </div>
  </div>
{% endblock %}
