{% extends "layouts/main.html" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}
{% set questionName = "Which age range do they specialise in teaching?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      
      <form method="post" novalidate>
        {{ govukRadios({
          name: "keyStageAgeRanges",
          fieldset: {
            legend: {
              text: questionName,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s, govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "Age range",
              text: "Age range"
            },
            {
              value: "Foundation stage",
              text: "Foundation stage"
            },
            {
              value: "Further education",
              text: "Further education"
            },
            {
              value: "Key stage 1",
              text: "Key stage 1"
            },
            {
              value: "Key stage 2",
              text: "Key stage 2"
            },
            {
              value: "Key stage 3",
              text: "Key stage 3"
            },
            {
              value: "Key stage 4",
              text: "Key stage 4"
            }
          ]
        }) }}
  

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
