{% extends "layouts/main.html" %}

{% set primaryNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a professional status -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm professional status" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Professional status"
            },
            value: {
              text: data.ittProfessionalQualification
            },
            actions: {
              items: [
                {
                  href: "/itt/qualifications/qualification-type?returnUrl=/itt/qualifications/check",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Award date"
            },
            value: {
              text: data['ittAwardDate-day'] + " " + data['ittAwardDate-month'] + " " + data['ittAwardDate-year']
            },
            actions: {
              items: [
                {
                  href: "/itt/qualifications/award-date?returnUrl=/itt/qualifications/check",
                  text: "Change",
                  visuallyHiddenText: "award date"
                }
              ]
            }
          },
          {
            key: {
              text: "End date"
            },
            value: {
              text: data['ittEndDate-day'] + " " + data['ittEndDate-month'] + " " + data['ittEndDate-year']
            },
            actions: {
              items: [
                {
                  href: "/itt/qualifications/end-date?returnUrl=/itt/check",
                  text: "Change",
                  visuallyHiddenText: "end date"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/itt/qualifications/check-handler">
        {{ govukButton({
          text: "Confirm and add professional status"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
