{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a professional status - " + data.teachers[0].fullName %}
{% set questionName = "End date" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>
      
      <form method="post" novalidate>
        {{ govukDateInput({
          id: "ittStart",
          namePrefix: "ittEndDate",
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['ittEndDate-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['ittEndDate-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['ittEndDate-year']
            }
          ]
        }) }}
  

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
