{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = " " %}
{% set pageName = "Support tasks" %}


{% if data.trn %}
  <p>Generated TRN: {{ data.trn }}</p>
{% else %}
  <p>No TRN generated yet.</p>
{% endif %}


{% block content %}

{% if not data.duplicates[3].trn %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '<a href="#" class="govuk-link">' + data.trn  + '</a></h2>'
  }) if flash.length }}
{% else %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '<a href="#" class="govuk-link">' + data.duplicates[3].trn  + '</a></h2>'
  }) if flash.length }}
{% endif%}


    {{ task.supportTaskType | log }}
    {{ task.reference | log }}
    {{ task.dateOfTrnRequest | log }}
    {{ task.firstName | log }}
    {{ task.middleName | log }}
    {{ task.lastName | log }}
    {{ task.dateOfBirth | log }}
    {{ task.email | log }}
    {{ task.nationalInsuranceNumber | log }}

  

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
      </div>
    </div>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Some other stuff</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Do something</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Something else</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Another thing</a>
          </li>
          <li>
            <a class="govuk-link" href="#">More</a>
          </li>
        </ul>        
      </div>
    </div>
  
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Some other stuff available to do</h2>
        <div class="app-home-statuses app-home-statuses--3-up govuk-!-margin-bottom-4">
          
          

          {# Draft #}
          <a href="#" class="status-card">
            <span class="status-card__count">20</span>
            <span class="status-card__status">Get a TRN Requests</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
  
          {# Upcoming #}
          
          <a href="#" class="status-card status-card--in-training">
            <span class="status-card__count">16</span>
            <span class="status-card__status">Possible duplicates</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
  
          {# Actively training #}
          
          <a href="#" class="status-card status-card--in-training">
            <span class="status-card__count">100</span>
            <span class="status-card__status">Actively training</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
  
          {# Awarded this year #}
          
          <a href="#" class="status-card status-card--awarded">
            <span class="status-card__count">100</span>
            <span class="status-card__status">Awarded this year</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
  
          {# Currently deferred #}
          
  
          <a href="#" class="status-card status-card--deferred">
            <span class="status-card__count">100</span>
            <span class="status-card__status">Currently deferred</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
  
          {# Incomplete #}
          
  
          <a href="#" class="status-card status-card status-card--incomplete">
            <span class="status-card__count">100</span>
            <span class="status-card__status">Incomplete records</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

  {% endblock %}


{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}
