{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 

{% set pageName = "Support tasks" %}


{% if data.trn %}
  <p>Generated TRN: {{ data.trn }}</p>
{% else %}
  <p>No TRN generated yet.</p>
{% endif %}


{% block content %}

{% if not data.duplicates[3].trn %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '<a href="#" class="govuk-link">' + data.trn  + '</a></h2>'
  }) if flash.length }}
{% else %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '<a href="#" class="govuk-link">' + data.duplicates[3].trn  + '</a></h2>'
  }) if flash.length }}
{% endif%}

    {{ data.user | log }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
      </div>
    </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Teaching records</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/find-teacher">Find a record</a>
          </li>
          <li>
            <a class="govuk-link" href="/support-tasks/create-record/manual">Create a record</a>
          </li>
        </ul>        
      </div>
    </div>
  
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Other tasks</h2>
        <div class="app-home-statuses app-home-statuses--3-up govuk-!-margin-bottom-4">
          
          

          {# Get a TRN requests #}
          <a href="/support-tasks/create-record/from-trn-request/get-a-trn/list" class="status-card status-card--in-training">
            <span class="status-card__count">10</span>
            <span class="status-card__status">Get a TRN requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
          {# Change details requests #}   
          <a href="#" class="status-card status-card--in-training">
            <span class="status-card__count">27</span>
            <span class="status-card__status">One login requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
          {# Connect GOV.UK One Login requests #} 
          <a href="#" class="status-card status-card--in-training">
            <span class="status-card__count">14</span>
            <span class="status-card__status">Change date of birth requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
          {# APIs Register / AFQTS / Potential duplicate records #}    
          <a href="/support-tasks/create-record/from-trn-request/match-create-record/list" class="status-card status-card--withdrawn">
            <span class="status-card__count">20</span>
            <span class="status-card__status">Potential duplicates from APIs</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
          {# Records with alerts #}
          <a href="#" class="status-card status-card--deferred">
            <span class="status-card__count">3</span>
            <span class="status-card__status">Change name requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
          {# Incomplete #}
          
  
          <a href="interfaces" class="status-card status-card--incomplete">
            <!-- <span class="status-card__count">40</span>-->
             <span class="status-card__status">Intergration transaction records (ITRs)</span><span class="govuk-visually-hidden">View these records.</span>
           </a>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

  {% endblock %}



