{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% set subjectChoices %}
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route type"
            },
            value: {
              text: data.legacyRouteType
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data.applyQtsCountry

            },
            actions: {
              items: [
                {
                  href: "/legacy/country?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Establishment"
            },
            value: {
              text: data.establishment
            },
            actions: {
              items: [
                {
                  href: "/legacy/establishment?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "establishment"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: data['legacyStartDate-day'] + " " + data['legacyStartDate-month'] + " " + data['legacyStartDate-year']
            },
            actions: {
              items: [
                {
                  href: "/legacy/start-date?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "End date"
            },
            value: {
              text: data['legacyEndDate-day'] + " " + data['legacyEndDate-month'] + " " + data['legacyEndDate-year']
            },
            actions: {
              items: [
                {
                  href: "/legacy/end-date?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Induction exemption"
            },
            value: {
              text: data.legacyHasExemption
            },
            actions: {
              items: [
                {
                  href: "/legacy/induction?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "exemption"
                }
              ]
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "From " + data.legacyFromAgeRestriction + " to " + data.legacyToAgeRestriction
            },
            actions: {
              items: [
                {
                  href: "/legacy/age-restrictions?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "age restrictions"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              html: subjectChoices
            },
            actions: {
              items: [
                {
                href: "/legacy/subjects?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          },    
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data.iqtsProvider
            },
            actions: {
              items: [
                {
                  href: "/legacy/provider?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "Provider"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/legacy/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
