{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route type"
            },
            value: {
              text: data.chooseLegacyRouteType
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data.legacyCountry
            },
            actions: {
              items: [
                {
                  href: "/legacy/country?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Establishment"
            },
            value: {
              text: data.legacyEstablishment
            },
            actions: {
              items: [
                {
                  href: "/legacy/establishment?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "establishment"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: data['legacyStartDate-day'] + " " + data['legacyStartDate-month'] + " " + data['legacyStartDate-year']
            },
            actions: {
              items: [
                {
                  href: "/legacy/start-date?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "End date"
            },
            value: {
              text: data['legacyEndDate-day'] + " " + data['legacyEndDate-month'] + " " + data['legacyEndDate-year']
            },
            actions: {
              items: [
                {
                  href: "/legacy/end-date?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Exemption"
            },
            value: {
              text: data.legacyExemption
            },
            actions: {
              items: [
                {
                  href: "/legacy/exemption?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "exemption"
                }
              ]
            }
          },
          {
            key: {
              text: "Teaching age range"
            },
            value: {
              text: data.legacyAgeRange
            },
            actions: {
              items: [
                {
                  href: "/legacy/age-range?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "age range"
                }
              ]
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data.legacyProvider
            },
            actions: {
              items: [
                {
                  href: "/legacy/provider?returnUrl=/legacy/check",
                  text: "Change",
                  visuallyHiddenText: "Provider"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/legacy/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
