<h2 class="govuk-heading-m">Existing records</h2>
<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all" data-multi-select-idprefix="poss-matches-">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" id="select-all"></th>
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Date of birth</th>
      <th class="govuk-table__header" scope="col">Email address</th>
      <th class="govuk-table__header" scope="col">National insurance number</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="poss-matches-1" value="1">
          <label class="govuk-label govuk-checkboxes__label" for="poss-matches-1" value="1">
            <span class="govuk-visually-hidden">Select this match</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">Susan Arrowsmith</td>
      <td class="govuk-table__cell">10 June 2001</td>
      <td class="govuk-table__cell">s.arrowsmith@icloud.com</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">QT 36 38 47 C</td>
    </tr>
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="poss-matches-2" value="2">
          <label class="govuk-label govuk-checkboxes__label" for="poss-matches-2" value="2">
            <span class="govuk-visually-hidden">Select this match</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">Suzie Arrowsmith</td>
      <td class="govuk-table__cell">10 May 1998</td>
      <td class="govuk-table__cell">Susan.Arrowsmith@yahoo.com</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">HZ 96 87 96 C</td>
    </tr>
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="poss-matches-1" value="1">
          <label class="govuk-label govuk-checkboxes__label" for="poss-matches-1" value="1">
            <span class="govuk-visually-hidden">Select this match</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">Susanne Barrowsmith</td>
      <td class="govuk-table__cell">10 May 1998</td>
      <td class="govuk-table__cell">susan.barrowsmith@gmail.com</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">XX 96 87 96 C</td>
    </tr>
  </tbody>
</table>
