
{{ xGovukSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    classes: "govuk-!-margin-bottom-6",
    items: [
    {
      text: "All tasks",
      href: "/create-record/from-trn-request/tasks",
      current: (secondaryNavId == "allTasks")
    },
    {
      text: "Create a record",
      href: "/create-record",
      current: (secondaryNavId == "createRecord")
    }
  ] if data.user
}) }}