{{ govukSummaryList({
  card: {
    title: {
       text: "Qualified teacher status - " + data.chooseQtsRoute
    }
  },
  rows: [
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      },
      actions: {
        items: [
          {
            href: "/change-qts-route",
            text: "Change",
            visuallyHiddenText: "QTS route"
          }
        ]
      }
    },
    {
      key: {
        text: "Country"
      },
      value: {
        text: data.applyQtsCountry
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/country?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "country"
          }
        ]
      }
    },
    {
      key: {
        text: "Has exemption"
      },
      value: {
        text: data.applyForQtsHasExemption
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/exemption?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "country"
          }
        ]
      }
    },
    {
      key: {
        text: "Award date"
      },
      value: {
        text: data['applyQtsStartDate-day'] + " " + data['applyQtsStartDate-month'] + " " + data['applyQtsStartDate-year']
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/award-date?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "Award date"
          }
        ]
      }
    },
    {
      key: {
        text: "Age range"
      },
      value: {
        text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/age-restrictions?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "age restrictions"
          }
        ]
      }
    },
          {
            key: {
              text: "Subjects"
            },
            value: {
              html: "<ul class='govuk-list govuk-list--bullet'>
                      <li>" + data.subjectChoiceOne + "</li>
                      <li>" + data.subjectChoiceTwo + "</li>
                      <li>" + data.subjectChoiceThree + "</li>
                    </ul>" 
            },
            actions: {
              items: [
                {
                  href: "/apply-for-qts/subjects?returnUrl=/apply-for-qts/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          }     
  ]
}) }}