{{ govukSummaryList({
        card: {
    title: {
       text: data.chooseQtsRoute
    },
    actions: {
      items: [
        {
          href: "/itt/add-qualification/index",
          text: "Add qualification to route",
          visuallyHiddenText: "route"
        }
      ]
    }
  },
rows: [
  {
    key: {
      text: "Route"
    },
    value: {
      text: data.chooseQtsRoute
    },
    actions: {
      items: [
        {
          href: "/change-qts-route",
          text: "Change",
          visuallyHiddenText: "QTS route"
        }
      ]
    }
  },
  {
    key: {
      text: "Establishment"
    },
    value: {
      text: data.establishment
    },
    actions: {
      items: [
        {
          href: "/assessment-only/establishment?returnUrl=/assessment-only/check",
          text: "Change",
          visuallyHiddenText: "establishment"
        }
      ]
    }
  },
  {
    key: {
      text: "Qualification"
    },
    value: {
      text: data.establishmentQualification or data.someOtherEstQual
    },
    actions: {
      items: [
        {
          href: "/assessment-only/establishment-qualification?returnUrl=/assessment-only/check",
          text: "Change",
          visuallyHiddenText: "establishment qualification"
        }
      ]
    }
  },
  {
    key: {
      text: "Start date"
    },
    value: {
      text: data['assessmentOnlyStartDate-day'] + " " + data['assessmentOnlyStartDate-month'] + " " + data['assessmentOnlyStartDate-year']
    },
    actions: {
      items: [
        {
          href: "/assessment-only/start-date?returnUrl=/assessment-only/check",
          text: "Change",
          visuallyHiddenText: "start date"
        }
      ]
    }
  }          
]
}) }}