{{ govukSummaryList({
  card: {
    title: {
       text: "[Available/inferred qualification for selected route]"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Add qualification",
          visuallyHiddenText: "route"
        }
      ]
    }
  },ws: [
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      },
      actions: {
        items: [
          {
            href: "/change-qts-route",
            text: "Change",
            visuallyHiddenText: "QTS route"
          }
        ]
      }
    },
    {
      key: {
        text: "Country"
      },
      value: {
        text: data.applyQtsCountry
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/country?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "country"
          }
        ]
      }
    },
    {
      key: {
        text: "Has exemption"
      },
      value: {
        text: data.applyForQtsHasExemption
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/exemption?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "country"
          }
        ]
      }
    },
    {
      key: {
        text: "Qualification awarded"
      },
      value: {
        text: data.applyForQtsBeenAwarded
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/qualification-awarded?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "qualification awarded"
          }
        ]
      }
    },
    {
      key: {
        text: "Award date"
      },
      value: {
        text: data['applyQtsStartDate-day'] + " " + data['applyQtsStartDate-month'] + " " + data['applyQtsStartDate-year']
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/award-date?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "Award date"
          }
        ]
      }
    },
    {
      key: {
        text: "Age range"
      },
      value: {
        text: data.applyForQtsBeenAgeRange
      },
      actions: {
        items: [
          {
            href: "/apply-for-qts/age?returnUrl=/apply-for-qts/check",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    }
  ]
}) }}