{{ govukSummaryList({
      card: {
        title: {
          text: "Qualified teacher status - " + data.chooseQtsRoute
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Delete",
              visuallyHiddenText: "Qualification"
            }
          ]
        }
      },
      rows: [
          {
            key: {
              text: "Professional status"
            },
            value: {
              text: "Qualified teacher status (QTS)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "professional status"
                }
              ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Awarded"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "professional status"
                }
              ]
            }
          },
          {
            key: {
              text: "Award date"
            },
            value: {
              text: data.assOnlyAddQualDate
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/add-qualification/award-date?returnUrl=/assessment-only/add-qualification/check",
                  text: "Change",
                  visuallyHiddenText: "award date"
                }
              ]
            }
          },  
          {
            key: {
              text: "Route"
            },
            value: {
              text: data.chooseQtsRoute
            },
            actions: {
              items: [
                {
                  href: "/change-qts-route",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Establishment"
            },
            value: {
              text: data.establishment
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/establishment?returnUrl=/assessment-only/check",
                  text: "Change",
                  visuallyHiddenText: "establishment"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: data['ittStartDate-day'] + " " + data['ittStartDate-month'] + " " + data['ittStartDate-year']
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/start-date?returnUrl=/assessment-only/check",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
            },
            actions: {
              items: [
                {
                  href: "/assessment-only/age-restriction?returnUrl=/assessment-only/check",
                  text: "Change",
                  visuallyHiddenText: "age restrictions"
                }
              ]
            }
          },
      {
    key: {
      text: "Subjects"
    },
    value: {
      html: "<ul class='govuk-list govuk-list--bullet'>
              <li>" + data.subjectChoiceOne + "</li>
              <li>" + data.subjectChoiceTwo + "</li>
              <li>" + data.subjectChoiceThree + "</li>
            </ul>" 
    },
    actions: {
      items: [
        {
          href: "/assessment-only/subjects?returnUrl=/assessment-only/check",
          text: "Change",
          visuallyHiddenText: "subjects"
        }
      ]
    }
  }          
        ]
}) }}