{% if data.user %}
  {% set serviceUrl = '/find-teacher' %}
{% else %}
  {% set serviceUrl = '/account/sign-in' %}
{% endif %}

{{ govukHeader({
    serviceUrl: serviceUrl,
    navigationClasses: "govuk-header__navigation--end",
    classes: "govuk-header--full-width-border",
    navigation: [
    {
      href: '/account/sign-out',
      text: 'Sign out',
      current: (headerNavId == "signOut")
    }
    ] if data.user
  })
}}

{% if data.user %}
{{ govukServiceNavigation({
    serviceName: serviceName,
    navigation: [
      {
        href: '/find-teacher',
        text: 'Find a record',
        current: (serviceNavId == "findRecord")
      },{
        href: '/create-record',
        text: 'Support tasks',
        current: (serviceNavId == "supportTasks")
      }
    ]
}) }}
{% endif %}
