{{ govukSummaryList({
card: {
title: {
    text: data.chooseQtsRoute
},
  actions: {
    items: [
      {
        href: "/iqts/add-qualification/award-date",
        text: "Add qualification to route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
  {
    key: {
      text: "Route"
    },
    value: {
      text: data.chooseQtsRoute
    },
    actions: {
      items: [
        {
          href: "/change-qts-route",
          text: "Change",
          visuallyHiddenText: "QTS route"
        }
      ]
    }
  },
  {
    key: {
      text: "Country"
    },
    value: {
      text: data.applyQtsCountry
    },
    actions: {
      items: [
        {
          href: "/iqts/country?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "country"
        }
      ]
    }
  },
  {
    key: {
      text: "Establishment"
    },
    value: {
      text: data.establishment
    },
    actions: {
      items: [
        {
          href: "/iqts/establishment?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "establishment"
        }
      ]
    }
  },
  {
    key: {
      text: "Qualification"
    },
    value: {
      text: data.establishmentQualification
    },
    actions: {
      items: [
        {
          href: "/iqts/qualification?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "establishment qualification"
        }
      ]
    }
  },
  {
    key: {
      text: "Start date"
    },
    value: {
      text: data['iqtsStartDate-day'] + " " + data['iqtsStartDate-month'] + " " + data['iqtsStartDate-year']
    },
    actions: {
      items: [
        {
          href: "/iqts/start-date?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "start date"
        }
      ]
    }
  },
  {
    key: {
      text: "Age range"
    },
    value: {
      text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
    },
    actions: {
      items: [
        {
          href: "/iqts/age-restrictions?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "age restrictions"
        }
      ]
    }
  },
  {
    key: {
      text: "Subjects"
    },
    value: {
      text: data.ittQualSubjectRestrictions
    },
    actions: {
      items: [
        {
          href: "/iqts/subject-restrictions?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "subject restrictions"
        }
      ]
    }
  },  
  {
    key: {
      text: "Provider"
    },
    value: {
      text: data.iqtsProvider
    },
    actions: {
      items: [
        {
          href: "/iqts/provider?returnUrl=/iqts/check",
          text: "Change",
          visuallyHiddenText: "Provider"
        }
      ]
    }
  }
]
}) }}