{{ govukSummaryList({
  card: {
    title: {
      text: "Qualified teacher status (QTS) [**type will append here**]"
    }
  },
  rows: [
    {
      key: {
        text: "Establishment"
      },
      value: {
        text: data.establishment
      }
    },
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      }
    },
    {
      key: {
        text: "Route start date"
      },
      value: {
        text: data['ittStartDate-day'] + " " + data['ittStartDate-month'] + " " + data['ittStartDate-year']
      }
    },

    {
      key: {
        text: "Route status"
      },
      value: {
        text: "Working towards route"
      }
    }
  ]
}) }}