{{ govukSummaryList({
  card: {
    title: {
      text: "Qualified teacher status (QTS) [**type will append here**]"
    }
  },
  rows: [
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      },
      actions: {
        items: [
          {
            href: "/itt/edit/start-date?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "route type"
          }
        ]
      }
    },
    {
      key: {
        text: "Establishment"
      },
      value: {
        text: data.establishment
      },
      actions: {
        items: [
          {
            href: "/itt/edit/establishment?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "establishment"
          }
        ]
      }
    },
    {
      key: {
        text: "Route start date"
      },
      value: {
        text: data['ittStartDate-day'] + " " + data['ittStartDate-month'] + " " + data['ittStartDate-year']
      },
      actions: {
        items: [
          {
            href: "/itt/start-date?returnUrl=/itt/check",
            text: "Change",
            visuallyHiddenText: "route start date"
          }
        ]
      }
    },

    {
      key: {
        text: "Route status"
      },
      value: {
        text: "Working towards route"
      },
      actions: {
        items: [
          {
            href: "/itt/route-status?returnUrl=/itt/check",
            text: "Change",
            visuallyHiddenText: "route start date"
          }
        ]
      }
    }
  ]
}) }}