{{ govukSummaryList({
card: {
title: {
    text: data.chooseQtsRoute
},
  actions: {
    items: [
      {
        href: "/itt/add-qualification/award-date",
        text: "Add qualification to route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
      {
        key: {
          text: "Route"
        },
        value: {
          text: data.chooseQtsRoute
        },
        actions: {
          items: [
            {
              href: "/change-qts-route",
              text: "Change",
              visuallyHiddenText: "QTS route"
            }
          ]
        }
      },
      {
        key: {
          text: "Establishment"
        },
        value: {
          text: data.establishment
        },
        actions: {
          items: [
            {
              href: "/itt/establishment?returnUrl=/itt/check",
              text: "Change",
              visuallyHiddenText: "establishment"
            }
          ]
        }
      },
      {
        key: {
          text: "Qualification"
        },
        value: {
          text: data.establishmentQualification
        },
        actions: {
          items: [
            {
              href: "/itt/establishment-qualification?returnUrl=/itt/check",
              text: "Change",
              visuallyHiddenText: "establishment qualification"
            }
          ]
        }
      },
      {
        key: {
          text: "Start date"
        },
        value: {
          text: data['ittStartDate-day'] + " " + data['ittStartDate-month'] + " " + data['ittStartDate-year']
        },
        actions: {
          items: [
            {
              href: "/itt/start-date?returnUrl=/itt/check",
              text: "Change",
              visuallyHiddenText: "start date"
            }
          ]
        }
      },
      {
        key: {
          text: "Age range"
        },
        value: {
          text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
        },
        actions: {
          items: [
            {
              href: "/itt/age-restriction?returnUrl=/itt/check",
              text: "Change",
              visuallyHiddenText: "age restrictions"
            }
          ]
        }
      },
      {
        key: {
          text: "Subjects"
        },
        value: {
          text: data.ittQualSubjectRestrictions
        },
        actions: {
          items: [
            {
              href: "/itt/subject-restriction?returnUrl=/itt/check",
              text: "Change",
              visuallyHiddenText: "subject restrictions"
            }
          ]
        }
      }          
    ]
}) }}