{{ govukSummaryList({
  card: {
    title: {
       text: "[Available/inferred qualification for selected route]"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Add qualification",
          visuallyHiddenText: "route"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      },
      actions: {
        items: [
          {
            href: "/itt/edit/start-date?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "route type"
          }
        ]
      }
    },
    {
      key: {
        text: "Establishment"
      },
      value: {
        text: data.establishment
      },
      actions: {
        items: [
          {
            href: "/itt/edit/establishment?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "establishment"
          }
        ]
      }
    },
    {
      key: {
        text: "Establishment qualification"
      },
      value: {
        text: data.establishmentQualification
      },
      actions: {
        items: [
          {
            href: "/itt/edit/establishment-qualification?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "establishment"
          }
        ]
      }
    },
    {
      key: {
        text: "Route start date"
      },
      value: {
        text: data['ittStartDate-day'] + " " + data['ittStartDate-month'] + " " + data['ittStartDate-year']
      },
      actions: {
        items: [
          {
            href: "/itt/start-date?returnUrl=/itt/check",
            text: "Change",
            visuallyHiddenText: "route start date"
          }
        ]
      }
    },

    {
      key: {
        text: "Route status"
      },
      value: {
        text: "Working towards route"
      },
      actions: {
        items: [
          {
            href: "/itt/edit/route-status?returnUrl=/itt/edit/check",
            text: "Change",
            visuallyHiddenText: "route start date"
          }
        ]
      }
    }
  ]
}) }}