{{ govukSummaryList({
card: {
  title: {
    text: "Apply for QTS"
  },
  actions: {
    items: [
      {
        href: "#",
        text: "Delete",
        visuallyHiddenText: "Qualification"
      }
    ]
  }
},
rows: [
    {
      key: {
        text: "Professional status"
      },
      value: {
        text: "Qualified teacher status (QTS)"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "professional status"
          }
        ]
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        text: "Awarded"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "professional status"
          }
        ]
      }
    },
    {
      key: {
        text: "Award date"
      },
      value: {
        text: "11 October 2018"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "award date"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "12 September 2016"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "start date"
          }
        ]
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        text: "12 September 2018"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "subjects"
          }
        ]
      }
    },
     {
      key: {
        text: "Induction exemption"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "subjects"
          }
        ]
      }
    }       
  ]
}) }}






{{ govukSummaryList({
card: {
  title: {
    text: "ITT Initial teacher training"
  },
  actions: {
    items: [
      {
        href: "#",
        text: "Delete",
        visuallyHiddenText: "Qualification"
      }
    ]
  }
},
rows: [
    {
      key: {
        text: "Professional status"
      },
      value: {
        text: "Qualified teacher status (QTS)"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "professional status"
          }
        ]
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        text: "Awarded"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "professional status"
          }
        ]
      }
    },
    {
      key: {
        text: "Award date"
      },
      value: {
        text: "15 September 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "award date"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "15 September 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "start date"
          }
        ]
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        text: "11 October 2023"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "subjects"
          }
        ]
      }
    },
     {
      key: {
        text: "Induction exemption"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "subjects"
          }
        ]
      }
    }       
  ]
}) }}


