{{ govukSummaryList({
   card: {
    title: {
       text: data.chooseQtsRoute
    },
    actions: {
      items: [
        {
          href: "/itt/add-qualification/index",
          text: "Add qualification to route",
          visuallyHiddenText: "route"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Route"
      },
      value: {
        text: data.chooseQtsRoute
      },
      actions: {
        items: [
          {
            href: "/change-qts-route",
            text: "Change",
            visuallyHiddenText: "QTS route"
          }
        ]
      }
    },
    {
      key: {
        text: "SET membership number"
      },
      value: {
        text: data.setMemberNumber
      },
      actions: {
        items: [
          {
            href: "/new-qtls-set/set-member-number?returnUrl=/new-qtls-set/check",
            text: "Change",
            visuallyHiddenText: "set membership number"
          }
        ]
      }
    },
    {
      key: {
        text: "QTS equivalent award date"
      },
      value: {
        text: data['qtlsAndSetEquivalentDate-day'] + " " + data['qtlsAndSetEquivalentDate-month'] + " " + data['qtlsAndSetEquivalentDate-year']
      },
      actions: {
        items: [
          {
            href: "/new-qtls-set/award-date?returnUrl=/new-qtls-set/check",
            text: "Change",
            visuallyHiddenText: "award date"
          }
        ]
      }
    }
  ]
}) }}