{% if data.subjectChoiceTwo %}
  <li>" + data.subjectChoiceTwo + "</li>
{% else %}
  "None"
{% endif %}


{% if data.subjectChoiceThree %}
  <li>" + data.subjectChoiceThree + "</li>
{% else %}
  "None"
{% endif %}