{% extends "layouts/nav-search.html" %}

{% set currentPage = "records" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Support tasks</span>
    <h1 class="govuk-heading-l">Further checks required</h1>
<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter" style="width:280px!important;">

    <div class="moj-filter">

      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action"></div>
      </div>

      <div class="moj-filter__options">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="keywords">
            Search
          </label>
          <input class="govuk-input" id="keywords" name="keywords" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Flag
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="source-afqts" name="source" type="checkbox" value="afqts">
                <label class="govuk-label govuk-checkboxes__label" for="source-afqts">
                  QTS (9)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="source-register" name="source" type="checkbox" value="register">
                <label class="govuk-label govuk-checkboxes__label" for="source-register">
                  Alert (9)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="source-register" name="source" type="checkbox" value="register">
                <label class="govuk-label govuk-checkboxes__label" for="source-register">
                  EYTS (9)
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Source
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="source-afqts" name="source" type="checkbox" value="afqts">
                <label class="govuk-label govuk-checkboxes__label" for="source-afqts">
                  AfQTS (9)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="source-register" name="source" type="checkbox" value="register">
                <label class="govuk-label govuk-checkboxes__label" for="source-register">
                  Register (9)
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="appt-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">Date created</h1>
            </legend>
            <div class="govuk-date-input" id="appt-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="appt-date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="appt-date-day" name="appt-date-day" type="text" value=" " inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="appt-date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="appt-date-month" name="appt-date-month" type="text" value=" " inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="appt-date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="appt-date-year" name="appt-date-year" type="text" value=" " inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">Apply filters</button>
          <div class="moj-filter__heading-action">
            <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="moj-filter-layout__content">
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date created</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Flag</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Source</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% for person in [
          { name: "Richard Porter", date: "27 Nov 2024", flag: "Alert", flagClass: "red", source: "AfQTS", sourceClass: "yellow" },
          { name: "Amelia Fraser", date: "12 Jan 2025", flag: "QTS", flagClass: "turquoise", source: "Register", sourceClass: "blue" },
          { name: "Thomas Reid", date: "03 Feb 2025", flag: "EYTS", flagClass: "light-blue", source: "AfQTS", sourceClass: "yellow" },
          { name: "Lily Grant", date: "18 Dec 2024", flag: "QTS", flagClass: "turquoise", source: "Register", sourceClass: "blue" },
          { name: "Ethan Doyle", date: "24 Mar 2025", flag: "Alert", flagClass: "red", source: "Register", sourceClass: "blue" },
          { name: "Sophie Newton", date: "09 Apr 2025", flag: "EYTS", flagClass: "light-blue", source: "AfQTS", sourceClass: "yellow" },
          { name: "Jack Morrison", date: "27 Jan 2025", flag: "QTS", flagClass: "turquoise", source: "AfQTS", sourceClass: "yellow" },
          { name: "Ruby Khan", date: "15 Feb 2025", flag: "Alert", flagClass: "red", source: "Register", sourceClass: "blue" },
          { name: "Zara Patel", date: "11 Mar 2025", flag: "Alert", flagClass: "red", source: "AfQTS", sourceClass: "yellow" },
          { name: "Leo Armstrong", date: "28 Apr 2025", flag: "QTS", flagClass: "turquoise", source: "Register", sourceClass: "blue" },
          { name: "Maya Russell", date: "07 May 2025", flag: "EYTS", flagClass: "light-blue", source: "Register", sourceClass: "blue" },
          { name: "Isla Murphy", date: "16 May 2025", flag: "QTS", flagClass: "turquoise", source: "Register", sourceClass: "blue" },
          { name: "Noah Wells", date: "21 May 2025", flag: "Alert", flagClass: "red", source: "AfQTS", sourceClass: "yellow" }
        ] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="review" class="govuk-link">{{ person.name }}</a></td>
            <td class="govuk-table__cell">{{ person.date }}</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ person.flagClass }}">{{ person.flag }}</strong></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--{{ person.sourceClass }}">{{ person.source }}</strong></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>  

<br><br>
<!-- 
{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}-->
 
  {% endblock %}
