{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set statusTagType %}
	{% if data.routeStatus == "Awarded" %}
		<strong class='govuk-tag govuk-tag--green'>AWARDED</strong>
	{% elseif data.routeStatus == "In progress" %}
		<strong class='govuk-tag govuk-tag--orange'>IN PROGRESS</strong>
	{% elseif data.routeStatus == "Failed" %}
		<strong class='govuk-tag govuk-tag--red'>FAILED</strong>
	{% elseif data.routeStatus == "Withdrawn" %}
		<strong class='govuk-tag govuk-tag--yellow'>AWARDED</strong>
	{% elseif data.routeStatus == "Deferred" %}
		<strong class='govuk-tag govuk-tag--blue'>DEFERRED</strong>	
	{% endif%}
{% endset %}

{% set inProgressDate = data | isoDateFromDateInput('routeInProgressStartDate') | govukDate %}

{{ govukSummaryList({
card: {
title: {
    html: "Qualified teacher status (QTS) in progress from " + inProgressDate
},
  actions: {
    items: [
			{
        href: "/route/edit/change-reason",
        text: "Edit route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
      {
        key: {
          text: "Route"
        },
        value: {
          text: data.activeRouteType
        }
      },

      {
        key: {
          text: "Status"
        },
        value: {
          html: statusTagType
        }
      },

      {
        key: {
          text: "Start date"
        },
        value: {
          text:  data | isoDateFromDateInput('routeInProgressStartDate') | govukDate
        }
      } if data.routeInProgressStartDate or 'Not provided',

      {
        key: {
          text: "End date"
        },
        value: {
          text:  data | isoDateFromDateInput('routeCompleteEndDate') | govukDate
        }
      } if data.routeCompleteEndDate or 'Not provided',

      {
        key: {
          text: "Training provider"
        },
        value: {
          text: data.trainingProvider
        }
      },

      {
        key: {
          text: "Degree type"
        },
        value: {
          text: data.degreeTypes
        }
      },

      {
        key: {
          text: "Country of training"
        },
        value: {
          text: data.routeCountryOfTraining
        }
      },

      {
        key: {
          text: "Start date"
        },
        value: {
          text: inProgressDate
        }
      },

      {
        key: {
          text: "Age range"
        },
        value: {
          html: "From " + data.ageFromRestriction + " to " + data.ageToRestriction
        }
      },

      {
        key: {
          text: "Subjects"
        },
        value: {
          html: subjectChoices
        }
      }          
    ]
}) }}