<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I can't see the route I'm looking for
    </span>
  </summary>
  <div class="govuk-details__text govuk-!-font-weight-bold">

    {{ xGovukAutocomplete({
      id: "legacy-inactive-route",
      name: "legacyInactiveRoute",
      allowEmpty: false,
      label: {
        classes: "govuk-label--s",
        isPageHeading: false,
        text: "Inactive route type"
      },
      hint: {
        text: "Start typing to see inaxctive of historical routes"
      },
      classes: "govuk-input--width-10",  
        items: [
          {"text": "applied biology"},
          {"text": "applied chemistry"},
          {"text": "applied computing"},
          {"text": "applied physics"},
          {"text": "biology"},
          {"text": "business and management"},
          {"text": "business studies"},
          {"text": "chemistry"},
          {"text": "classical Greek studies"},
          {"text": "classical studies"},
          {"text": "computer science"},
          {"text": "construction and the built environment"},
          {"text": "art and design"},
          {"text": "dance"},
          {"text": "design"},
          {"text": "drama"},
          {"text": "early years teaching"},
          {"text": "economics"},
          {"text": "English studies"},
          {"text": "environmental sciences"},
          {"text": "food and beverage studies"},
          {"text": "French language"},
          {"text": "general or integrated engineering"},
          {"text": "general sciences"},
          {"text": "geography"},
          {"text": "German language"},
          {"text": "graphic design"},
          {"text": "hair and beauty sciences"},
          {"text": "health and social care"},
          {"text": "health studies"},
          {"text": "historical linguistics"},
          {"text": "history"},
          {"text": "hospitality"},
          {"text": "information technology"},
          {"text": "Italian language"},
          {"text": "Latin language"},
          {"text": "law"},
          {"text": "manufacturing engineering"},
          {"text": "materials science"},
          {"text": "mathematics"},
          {"text": "media and communication studies"},
          {"text": "modern languages"},
          {"text": "music education and teaching"},
          {"text": "performing arts"},
          {"text": "physics"},
          {"text": "Portuguese language"},
          {"text": "primary teaching"},
          {"text": "product design"},
          {"text": "production and manufacturing engineering"},
          {"text": "psychology"},
          {"text": "public services"},
          {"text": "recreation and leisure studies"},
          {"text": "religious studies"},
          {"text": "retail management"},
          {"text": "Russian languages"},
          {"text": "social sciences"},
          {"text": "Spanish language"},
          {"text": "specialist teaching"},
          {"text": "sport and exercise sciences"},
          {"text": "sports management"},
          {"text": "textiles technology"},
          {"text": "travel and tourism"},
          {"text": "UK government/parliamentary studies"},
          {"text": "Welsh language"},
          {"text": "Ancient Hebrew"},
          {"text": "Arabic"},
          {"text": "child development"},
          {"text": "Chinese"},
          {"text": "philosophy"},
          {"text": "statistics"},
          {"text": "English as a foreign language"},
          {"text": "Japanese language"},
          {"text": "Citizenship"},
          {"text": "Physical Education"},
          {"text": "Design and technology"},
          {"text": "English as a second or other language"},
          {"text": "Teaching English as a foreign language"}
        ] 
    }) }}
  </div>
 
</details>