{% set subjectChoices %}
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{{ govukSummaryList({
card: {
title: {
  text: data.activeRouteType
},
  actions: {
    items: [
      {
        href: "/itt/add-qualification/award-date",
        text: "Edit route to professi",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
				{
					key: {
						text: "Route"
					},
					value: {
						text: data.activeRouteType or data.legacyRouteType
					},
					actions: {
						items: [
							{
								href: "/all-qts-routes",
								text: "Change",
								visuallyHiddenText: "route type"
							}
						]
					}
				},

				{
					key: {
						text: "Status"
					},
					value: {
						text: data.routeStatus
					},
					actions: {
						items: [
							{
								href: "/route-status",
								text: "Change",
								visuallyHiddenText: "route status"
							}
						]
					}
				},

				{
					key: {
						text: "End date"
					},
					value: {
						text:  data | isoDateFromDateInput('routeCompleteEndDate') | govukDate
					},
					actions: {
						items: [
							{
								href: "/route-complete/end-date",
								text: "Change",
								visuallyHiddenText: "route status"
							}
						]
					}
				},

				{
					key: {
						text: "Award date"
					},
					value: {
						text:  data | isoDateFromDateInput('routeAwardDate') | govukDate
					},
					actions: {
						items: [
							{
								href: "/route-complete/award-date",
								text: "Change",
								visuallyHiddenText: "route status"
							}
						]
					}
				},

				{
					key: {
						text: "Has exemption"
					},
					value: {
						text: data.hasRouteExemption
					},
					actions: {
						items: [
							{
								href: "/route-complete/has-exemption",
								text: "Change",
								visuallyHiddenText: "if they have an exemption"
							}
						]
					}
				},

				{
					key: {
						text: "Exemption reason"
					},
					value: {
						html: exemptionReasons
					},
					actions: {
						items: [
							{
								href: "/route-complete/exemption-reason",
								text: "Change",
								visuallyHiddenText: "exemption reason"
							}
						]
					}
				},

				{
					key: {
						text: "Training provider"
					},
					value: {
						html: data.trainingProvider
					},
					actions: {
						items: [
							{
								href: "/route-information/training-provider",
								text: "Change",
								visuallyHiddenText: "Training provider"
							}
						]
					}
				},

				{
					key: {
						text: "Degree type"
					},
					value: {
						html: data.degreeTypes
					},
					actions: {
						items: [
							{
								href: "/route-information/degree-type",
								text: "Change",
								visuallyHiddenText: "Degree type"
							}
						]
					}
				},

				{
					key: {
						text: "Country of training"
					},
					value: {
						text: data.routeCountryOfTraining
					},
					actions: {
						items: [
							{
								href: "/route-information/country",
								text: "Change",
								visuallyHiddenText: "Country of training"
							}
						]
					}
				},
				
				{
					key: {
						text: "Age range"
					},
					value: {
						text: "From " + data.ageFromRestriction + " to " + data.ageToRestriction
					},
					actions: {
						items: [
							{
								href: "/route-information/age-to-from",
								text: "Change",
								visuallyHiddenText: "teaching age range"
							}
						]
					}
				},
				{
					key: {
						text: "Subjects"
					},
					value: {
						html: subjectChoices 
					},
					actions: {
						items: [
							{
								href: "/route-information/subjects",
								text: "Change",
								visuallyHiddenText: "subjects"
							}
						]
					}
				}     
			]
}) }}