<div class="column-card">
	<div class="column-card__item">
			<div class="govuk-grid-row">
				<div class="flexContainer">
					<div class="govuk-grid-two-thirds">
						<h2 class="govuk-heading-m">63GD1757930 at Manchester MC on 17/10/2024</h2>
					</div>
					<div class="govuk-grid-one-third">
						<a href="#" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold">Edit</a>
					</div>
				</div>
			</div>
			<div class="flexContainer">
				<div class="govuk-grid-row">
					<strong class="govuk-tag govuk-tag--green">Awarded</strong>	
				</div>
			</div>	


			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<p class=" column-card__body-text-bold"><strong>Route</strong></p>
					<p class=" column-card__body-text">{{ data.activeRouteType or data.legacyRouteType }}</p>
					<p class=" column-card__body-text-bold"><strong>End date</strong></p>
					<p class=" column-card__body-text">17/10/2024</p>
					<p class=" column-card__body-text-bold"><strong>Award date</strong></p>
					<p class=" column-card__body-text">17/10/2024</p>
					<p class=" column-card__body-text-bold"><strong>Award date</strong></p>
					<p class=" column-card__body-text">17/10/2024</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class=" column-card__body-text-bold"><strong>Has exemption</strong></p>
					<p class=" column-card__body-text">Manchester MC</p>
					<p class=" column-card__body-text-bold"><strong>Exemption reason</strong></p>
					<p class=" column-card__body-text">Remanded in custody</p>
					<p class=" column-card__body-text-bold"><strong>Training provider</strong></p>
					<p class=" column-card__body-text">Remanded in custody</p>
					<p class=" column-card__body-text-bold"><strong>Training provider</strong></p>
					<p class=" column-card__body-text">Remanded in custody</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class=" column-card__body-text-bold"><strong>Degree type</strong></p>
					<p class=" column-card__body-text">Manchester MC</p>
					<p class=" column-card__body-text-bold"><strong>Conutry of training</strong></p>
					<p class=" column-card__body-text">Remanded in custody</p>
					<p class=" column-card__body-text-bold"><strong>Age range</strong></p>
					<p class=" column-card__body-text">Remanded in custody</p>
				</div>
			</div>
	</div>
</div>