{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set statusTagType %}
	{% if data | isoDateFromDateInput('routeAwardDate') | govukDate %}
		<strong class='govuk-tag govuk-tag--green'>AWARDED</strong>
	{% elseif data.routeStatus == "In progress" %}
		<strong class='govuk-tag govuk-tag--orange'>IN PROGRESS</strong>
	{% elseif data.routeStatus == "Failed" %}
		<strong class='govuk-tag govuk-tag--red'>FAILED</strong>
	{% elseif data.routeStatus == "Withdrawn" %}
		<strong class='govuk-tag govuk-tag--yellow'>AWARDED</strong>
	{% elseif data.routeStatus == "Deferred" %}
		<strong class='govuk-tag govuk-tag--blue'>DEFERRED</strong>	
	{% endif%}
{% endset %}  


{% set exemptionReasons %}
 <ul class="govuk-list">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}

{# comment #}

{{ govukSummaryList({
card: {
title: {
  html: "Qualified teacher status (QTS) &nbsp; " + statusTagType + " &nbsp; " + data | isoDateFromDateInput('routeAwardDate') | govukDate,
	classes: "govuk-!-font-size-22"
},
  actions: {
    items: [
      {
        href: "/route-complete/end-date",
        text: "Complete route",
        visuallyHiddenText: "route"
      } if not data.hasRouteExemption,
			{
        href: "/route/edit/check",
        text: "Edit route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
				{
					key: {
						text: "Route"
					},
					value: {
						text: data.activeRouteType or data.legacyRouteType
					}
				},


				{
					key: {
						text: "End date"
					},
					value: {
						text:  data | isoDateFromDateInput('routeCompleteEndDate') | govukDate
					}
				},

				{
					key: {
						text: "Award date"
					},
					value: {
						text:  data | isoDateFromDateInput('routeAwardDate') | govukDate
					}
				},

				{
					key: {
						text: "Has exemption"
					},
					value: {
						html: data.hasRouteExemption
					}
				},

				{
					key: {
						text: "Training provider"
					},
					value: {
						html: data.trainingProvider
					}
				},

				{
					key: {
						text: "Degree type"
					},
					value: {
						html: data.degreeTypes
					}
				},

				{
					key: {
						text: "Country of training"
					},
					value: {
						text: data.routeCountryOfTraining
					}
				},
				
				{
					key: {
						text: "Age range"
					},
					value: {
						text: "From " + data.ageFromRestriction + " to " + data.ageToRestriction
					}
				},
				{
					key: {
						text: "Subjects"
					},
					value: {
						html: subjectChoices 
					}
				}     
			]
}) }}