{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set inProgressDate = data | isoDateFromDateInput('routeInProgressStartDate') | govukDate %}

{{ govukSummaryList({
card: {
title: {
    html: "Qualified teacher status (QTS) &nbsp; <strong class='govuk-tag govuk-tag--orange'>IN PROGRESS</strong> &nbsp; from " + inProgressDate
},
  actions: {
    items: [
      {
        href: "/route-complete/end-date",
        text: "Complete route",
        visuallyHiddenText: "route"
      } if not data.hasRouteExemption,
			{
        href: "/route/edit/check",
        text: "Edit route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
      {
        key: {
          text: "Route"
        },
        value: {
          text: data.activeRouteType
        }
      },

      {
        key: {
          text: "Training provider"
        },
        value: {
          text: data.trainingProvider
        }
      },

      {
        key: {
          text: "Degree type"
        },
        value: {
          text: data.degreeTypes
        }
      },

      {
        key: {
          text: "Country of training"
        },
        value: {
          text: data.routeCountryOfTraining
        }
      },

      {
        key: {
          text: "Start date"
        },
        value: {
          text: inProgressDate
        }
      },

      {
        key: {
          text: "Age range"
        },
        value: {
          html: "From " + data.ageFromRestriction + " to " + data.ageToRestriction
        }
      },

      {
        key: {
          text: "Subjects"
        },
        value: {
          html: subjectChoices
        }
      }          
    ]
}) }}