<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I can't see the route I'm looking for
    </span>
  </summary>
  <div class="govuk-details__text govuk-!-font-weight-bold">

    {{ xGovukAutocomplete({
      id: "legacy-inactive-route",
      name: "legacyInactiveRoute",
      allowEmpty: false,
      label: {
        classes: "govuk-label--s",
        isPageHeading: false,
        text: "Inactive route type"
      },
      hint: {
        text: "Start typing to search inactive or historical routes"
      },
      classes: "govuk-input--width-10",  
        items: [
          {"text": "Authorised Teacher Programme"},
          {"text": "CTC or CCTA"},
          {"text": "Graduate Teacher Programme"},
          {"text": "Overseas Trained Teacher Programme"},
          {"text": "EC directive"},
          {"text": "EYTS ITT Migrated"},
          {"text": "EYPS"},
          {"text": "EYPS ITT Migrated"},
          {"text": "FE Recognition 2000-2004"},
          {"text": "Graduate non-trained"},
          {"text": "Licensed Teacher Programme"},
          {"text": "Licensed Teacher Programme - Armed Forces"},
          {"text": "Licensed Teacher Programme - FE"},
          {"text": "Licensed Teacher Programme - Independent School"},
          {"text": "Licensed Teacher Programme - Maintained School"},
          {"text": "Licensed Teacher Programme - OTT"},
          {"text": "Long Service"},
          {"text": "Other Qualifications non ITT"},
          {"text": "Overseas Trained Teacher Recognition"},
          {"text": "European Recognition - PQTS"},
          {"text": "Core - Core Programme Type"},
          {"text": "HEI - Historic"},
          {"text": "Legacy ITT"},
          {"text": "Registered Teacher Programme"},
          {"text": "Troops to Teach"},
          {"text": "PGCE ITT"},
          {"text": "PGATC ITT"},
          {"text": "PGDE ITT"},
          {"text": "ProfGCE ITT"},
          {"text": "TC ITT"},
          {"text": "UGMT ITT"},
          {"text": "Legacy Migration"},
          {"text": "TCMH"},
          {"text": "Core Flexible"}
        ] 
    }) }}
  </div>
 
</details>