{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set statusTagType %}
	{% if data | isoDateFromDateInput('routeAwardDate') | govukDate %}
		<strong class='govuk-tag govuk-tag--green'>AWARDED</strong>
	{% elseif data.routeStatus == "In progress" %}
		<strong class='govuk-tag govuk-tag--orange'>IN PROGRESS</strong>
	{% elseif data.routeStatus == "Failed" %}
		<strong class='govuk-tag govuk-tag--red'>FAILED</strong>
	{% elseif data.routeStatus == "Withdrawn" %}
		<strong class='govuk-tag govuk-tag--yellow'>AWARDED</strong>
	{% elseif data.routeStatus == "Deferred" %}
		<strong class='govuk-tag govuk-tag--blue'>DEFERRED</strong>	
	{% endif%}
{% endset %}  


{% set exemptionReasons %}
 <ul class="govuk-list">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}

{# comment #}


{{ govukSummaryList({
card: {
title: {
  html: "Qualified teacher status (QTS) &nbsp; <strong class='govuk-tag govuk-tag--green'>AWARDED</strong>&nbsp; on 10 September 2016",
	classes: "govuk-!-font-size-22"
},
  actions: {
    items: [
			{
        href: "/route/edit/check",
        text: "Edit route",
        visuallyHiddenText: "route"
      }
    ]
  }
},
rows: [
		{
			key: {
				text: "Route"
			},
			value: {
				text: "School Direct Training Programme Self Funded"
			}
		},

		{
			key: {
				text: "End date"
			},
			value: {
				text:  "2 August 2016"
			}
		},

		{
			key: {
				text: "Award date"
			},
			value: {
				text:  "10 September 2016"
			}
		},

		{
			key: {
				text: "Has exemption"
			},
			value: {
				html: "Yes"
			}
		},


		{
			key: {
				text: "Training provider"
			},
			value: {
				html: "University of Edinburgh"
			}
		},

		{
			key: {
				text: "Degree type"
			},
			value: {
				html: "BEng (Hons)/Education"
			}
		},

		{
			key: {
				text: "Country of training"
			},
			value: {
				text: "	XK United Kingdom"
			}
		},
		
		{
			key: {
				text: "Age range"
			},
			value: {
				text: "From 5 to 11"
			}
		},
		{
			key: {
				text: "Subjects"
			},
			value: {
				html: "English" 
			}
		}     
	]
}) }}