{{ xGovukAutocomplete({
  id: "route-type",
  name: "routeType",
  allowEmpty: false,
  classes: "govuk-input--width-10",  
  items: [
    {"text": "Assessment Only Route"},
    {"text": "Authorised Teacher Programme"},
    {"text": "CTC or CCTA"},
    {"text": "Graduate Teacher Programme"},
    {"text": "Overseas Trained Teacher Programme"},
    {"text": "School Direct Training Programme Salaried"},
    {"text": "EC directive"},
    {"text": "European Recognition"},
    {"text": "Early Years ITT Assessment Only"},
    {"text": "Early Years ITT Graduate Employment Based"},
    {"text": "Early Years ITT Graduate Entry"},
    {"text": "Early Years ITT School Direct"},
    {"text": "Early Years ITT Undergraduate"},
    {"text": "EYTS ITT Migrated"},
    {"text": "EYPS"},
    {"text": "EYPS ITT Migrated"},
    {"text": "FE Recognition 2000-2004"},
    {"text": "Graduate non-trained"},
    {"text": "International Qualified Teacher Status"},
    {"text": "Licensed Teacher Programme"},
    {"text": "Licensed Teacher Programme - Armed Forces"},
    {"text": "Licensed Teacher Programme - FE"},
    {"text": "Licensed Teacher Programme - Independent School"},
    {"text": "Licensed Teacher Programme - Maintained School"},
    {"text": "Licensed Teacher Programme - OTT"},
    {"text": "Long Service"},
    {"text": "Other Qualifications non ITT"},
    {"text": "Apply for QTS"},
    {"text": "Overseas Trained Teacher Recognition"},
    {"text": "European Recognition - PQTS"},
    {"text": "QTLS and SET Membership"},
    {"text": "Apprenticeship"},
    {"text": "Core - Core Programme Type"},
    {"text": "Flexible ITT"},
    {"text": "Future Teaching Scholars"},
    {"text": "HEI - HEI Programme Type"},
    {"text": "HEI - Historic"},
    {"text": "High Potential ITT"},
    {"text": "Legacy ITT"},
    {"text": "Primary and secondary postgraduate fee funded"},
    {"text": "Primary and secondary undergraduate fee funded"},
    {"text": "Provider led Postgrad"},
    {"text": "Provider led Undergrad"},
    {"text": "Registered Teacher Programme"},
    {"text": "School Centered ITT"},
    {"text": "School Direct Training Programme"},
    {"text": "School Direct Training Programme Self Funded"},
    {"text": "Teach First Programme"},
    {"text": "Troops to Teach"},
    {"text": "Undergraduate Opt In"},
    {"text": "PGCE ITT"},
    {"text": "PGATC ITT"},
    {"text": "PGATD ITT"},
    {"text": "PGDE ITT"},
    {"text": "ProfGCE ITT"},
    {"text": "ProfGDE ITT"},
    {"text": "TC ITT"},
    {"text": "UGMT ITT"},
    {"text": "Legacy Migration"},
    {"text": "TCMH"},
    {"text": "NI R"},
    {"text": "Scotland R"},
    {"text": "Welsh R"},
    {"text": "Core Flexible"}
  ]
}) }}