{{ xGovukAutocomplete({
  id: "active-route-type",
  name: "activeRouteType",
  allowEmpty: false,
  label: {
    classes: "govuk-label--s",
    isPageHeading: false,
    text: "Route type"
  },
  hint: {
    text: "Start typing the name of the route"
  },
  classes: "govuk-input--width-10",  
  items: [
    { "text": "Assessment Only Route" },
    { "text": "Authorised Teacher Programme" },
    { "text": "CTC or CCTA" },
    { "text": "Graduate Teacher Programme" },
    { "text": "Overseas Trained Teacher Programme" },
    { "text": "School Direct Training Programme Salaried" },
    { "text": "EC directive" },
    { "text": "European Recognition" },
    { "text": "Early Years ITT Assessment Only" },
    { "text": "Early Years ITT Graduate Employment Based" },
    { "text": "Early Years ITT Graduate Entry" },
    { "text": "Early Years ITT School Direct" },
    { "text": "Early Years ITT Undergraduate" },
    { "text": "EYTS ITT Migrated" },
    { "text": "EYPS" },
    { "text": "EYPS ITT Migrated" },
    { "text": "FE Recognition 2000-2004" },
    { "text": "Graduate non-trained" },
    { "text": "International Qualified Teacher Status" },
    { "text": "Licensed Teacher Programme" },
    { "text": "Licensed Teacher Programme - Armed Forces" },
    { "text": "Licensed Teacher Programme - FE" },
    { "text": "Licensed Teacher Programme - Independent School" },
    { "text": "Licensed Teacher Programme - Maintained School" },
    { "text": "Licensed Teacher Programme - OTT" },
    { "text": "Long Service" },
    { "text": "Other Qualifications non ITT" },
    { "text": "Apply for QTS" }
  ]
}) }}