{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Compare potential duplicate records" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set summaryCardTitle %}
  {% if data.trnreq.potentialRecordMatch == "Yes" %}
    From {{ record.sourceOfMatch }} 
  {% else %}
  From {{ record.sourceOfMatch }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="govuk-tag govuk-tag--red">Potential duplicate</span>
  {% endif %}
{% endset %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ record | log }}

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>

      {# <p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> on the right hand side</p> #}
      
      {{ govukInsetText({
        html: '<p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> in the existing record</p>',
        classes: "govuk-!-width-two-thirds"
      }) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            
            {# <p class="govuk-body">This is a paragraph inside a one half column</p> #}


            {{ govukSummaryList({
              card: {
                title: {
                  html: summaryCardTitle
                }
              },
              rows: [
                {
                  key: { text: "First name" },
                  value: { html: record.firstName }
                },
                {
                  key: { text: "Middle name" },
                  value: { html: record.middleName }
                } if not record.middleName === "Not given",
                {
                  key: { text: "Last Name" },
                  value: { html: record.lastName }
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: record.dateOfBirth }
                },
                {
                  key: { text: "Email" },
                  value: { text: record.email }
                },
                {
                  key: { text: "NI number" },
                  value: { text: record.nationalInsuranceNumber }
                } if record.nationalInsuranceNumber,
                {
                  key: { text: "Evidence" },
                  value: { html: '<a href="#" class="govuk-link">' + record.providedEvidence + ' (opens in a new tab)</a>' or "None"} 
                } if not record.hasEvidence === "None"
              ]
            }) }}
          </div>
  
      

          <div class="govuk-grid-column-one-half">
            {% if record.sourceOfMatch == "Get a TRN" %}
              {% include "_includes/support-tasks/create-from-trn/compare-get-a-trn.njk" %}
            {% endif %}
            {% if record.sourceOfMatch == "Register" %}
              {% include "_includes/support-tasks/create-from-trn/compare-register.njk" %}
            {% endif %}
            {% if record.sourceOfMatch == "AfQTS" %}
              {% include "_includes/support-tasks/create-from-trn/compare-afqts.njk" %}
            {% endif %} 
          </div>
        </div>

        {# <p>{{ record.id }}</p> #}
     

        {{ govukRadios({
          name: "mergeRecord",
          fieldset: {
            legend: {
              text: "Are they the same person?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes, I want to merge these records",
              text: "Yes, I want to merge these records"
            },
            {
              value: "No, I want to create a new record",
              text: "No, I want to create a new record"
            }
          ]
        }) }}
        
        <form method="get" action="/support-tasks/create-record/from-trn-request/match-create-record/merge/{{ record.id }}">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
        
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: "javascript:window.history.back()"
            }) }}
          </div>
        </form>
    
  </div>
</div>

{% endblock %}
