{% extends "layouts/main.html" %}

{% set pageName="TRN requests" %}
{% set serviceNavId = "supportTasks" %}
{# {% set secondaryNavId = "findRecord" %} #}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ data.trnreq | log }}
    {{ data.teachers | log }}

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {# {% include "_includes/support-tasks/secondary-navigation-find-record.njk" %} #}
  
  </div>
</div>

{% include "_includes/search-form.njk" %}

{% include "_includes/support-tasks/create-from-trn/trn-req-list.njk" %}

{% endblock %}

{# value: data.findRecord #}