{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Incoming TRN request" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {# We call record here from the route `/support-tasks/create-record/from-trn-request/match-create-record/show/:id` #}

    {{ record.trn | log }}
    {{ record.caseStatus | log }}
    {{ record.fullName | log }}
    {{ record.trnRequestId | log }}
    {{ record.trnRequestType | log }}

    {{ record.supportTaskType | log }}
    {{ record.reference | log }}
    {{ record.dateOfTrnRequest | log }}
    {{ record.firstName | log }}
    {{ record.middleName | log }}
    {{ record.lastName | log }}
    {{ record.dateOfBirth | log }}
    {{ record.email | log }}
    {{ record.nationalInsuranceNumber | log }}

    {{ record | log }}

    <span class="govuk-caption-l">{{captionName}}</span>

    {% if record.potentialRecordMatch == "Yes" %}
      <h1 class="govuk-heading-l">{{pageName}} &nbsp;&nbsp;<span class="moj-badge moj-badge--red moj-badge--large">Potential duplicate</span></h1> 
    {% else %}
      <h1 class="govuk-heading-l">{{pageName}}</h1>
    {% endif %}


    
    {% include "_includes/support-tasks/create-from-trn/trn-request-details.njk" %}

    
    <div class="govuk-button-group">
      {% if record.potentialRecordMatch == "Yes" %}
        {{ govukButton({
          text: "Compare potential duplicates",
          href: "/support-tasks/create-record/from-trn-request/match-create-record/compare-request-with-existing/" + record.id
        }) }}
        {{ govukButton({
          text: "Cancel",
          href: "javascript:window.history.back()",
          classes: "govuk-button--secondary"
        }) }}
      {% else %}  
        {{ govukButton({
          text: "Create a record from TRN request",
          href: "/support-tasks/create-record/from-trn-request/no-match/" + record.id + "/reason"
        }) }}
        {{ govukButton({
          text: "Cancel",
          href: "javascript:window.history.back()",
          classes: "govuk-button--secondary"
        }) }}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}

