{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "changelog" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Amber Lola McDonald</h1>

    <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
      <ul class="x-govuk-secondary-navigation__list">
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="personal-details-after">
            Personal details
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="routes" >
           Routes and qualifications
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="induction" aria-current=page>
           Induction
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="alerts">
           Alerts
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item ">
          <a class="x-govuk-secondary-navigation__link" href="notes">
         Notes
          </a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
          <a class="x-govuk-secondary-navigation__link" href="change-history">
           Change history
          </a>
        </li>
      </ul>
    </nav>
    
    <br><br>
    <div class="hods-timeline">
      <div class="hods-timeline__item">
        <h2 class="hods-timeline__title">
         Name change
        </h2>
        <p class="hods-timeline__date">
          <time
            class="hods-date-time"
            datetime="2021-03-15T16:27:00.000Z"
          >
            by Erica Francoise-Smith on {{ "now" | govukDateTime }} at  {{ "now" | govukTime }}
          </time>
         

 <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">Amber Lola Tronson</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].dateOfBirthDay }} {{ data.person[0].dateOfBirthMonth }} {{ data.person[0].dateOfBirthYear }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Gender</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].gender }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Teacher reference number (TRN)</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].trn }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">National Insurance number</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].nationalInsurance }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].email }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Mobile number</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].mobile }}</dd>
      </div>

    </dl>
          
          <details class="govuk-details govuk-!-margin-bottom-2" open="">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Reason for change</span>
            </summary>
            <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason for name change</dt>
                        <dd class="govuk-summary-list__value" data-testid="reason">{{ data['createRecordReason'] }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Evidence</dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="">evidence.jpg</a>
                        </dd>
                    </div>
                    <br>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Other change</dt>
                        <dd class="govuk-summary-list__value">
                            <span data-testid="reason-detail">
                              New information received
                           
                              {{ data['moreDetails'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Evidence</dt>
                        <dd class="govuk-summary-list__value">
                            <span data-testid="uploaded-evidence-link">Not provided</span>
                        </dd>
                    </div>
                </dl>
            </div>
        </details>
        </p>
    

         <details class="govuk-details govuk-!-margin-bottom-2">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Previous data</span>
            </summary>
            <div class="govuk-details__text">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">Amber Lola McDonald</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].dateOfBirthDay }} {{ data.person[0].dateOfBirthMonth }} {{ data.person[0].dateOfBirthYear }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Gender</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].gender }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Teacher reference number (TRN)</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].trn }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">National Insurance number</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].nationalInsurance }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].email }}</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Mobile number</dt>
        <dd class="govuk-summary-list__value">{{ data.person[0].mobile }}</dd>
      </div>

    </dl>
                   </div>
        </details>
        </p>
    

      
  </div>
</div>

{% endblock %}
