{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set headingName = "Edit personal details" %}
{% set captionName = data.person[0].fullName %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l"> {{headingName}}</h1>

    {{ data.teachers | log }}
    {{ data.newInductionStatus | log }}

    {{ data.person[0] | log }}
 


    <form action="personal-details-after" method="post" novalidate>

      {# -------- Set some stuf below -------------- #}

      {% set moreDetailsTextArea %}
        {{ govukTextarea({
          id: "yes-additional-info",
          name: "yesAdditionalInfo",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Enter details",
            classes: "govuk-label--s"
          },
          value: data.yesAdditionalInfo
        }) }}
      {% endset %}

      {% set evidenceYes %}
        {{ govukFileUpload({
          id: "evidenceFile",
          name: "evidenceFile",
          label: {
            text: "Upload files",
            classes: "govuk-label--m"
          },
          value: data.evidenceFile,
          hint: {
            text: "Must be smaller than 100MB"
          }
        }) }}
      {% endset %}


      
      {# -------- Start of name & DOB stuff  -------------- #}

      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-label--s govuk-input--width-10"
        },
        id: "first-name",
        name: "personalDetailsFirstName",
        autocomplete: "given-name",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: data.person[0].firstName
      }) }}
      
      {{ govukInput({
        label: {
          text: "Middle name",
          classes: "govuk-label--s govuk-input--width-10"
        },
        id: "middle-name",
        name: "personalDetailsMiddleName",
        autocomplete: "additional-name",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: data.person[0].middleName
      }) }}
      
      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-label--s govuk-input--width-10"
        },
        id: "last-name",
        name: "personalDetailsLastName",
        autocomplete: "family-name",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: data.person[0].lastName
      }) }}


      {{ govukDateInput({
        id: "personal-details-dob",
        namePrefix: "personalDetailsDateOfBirth",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data.person[0].dateOfBirthDay
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data.person[0].dateOfBirthMonth
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data.person[0].dateOfBirthYear
          }
        ]
      }) }}

      {# -------- Start of EMAIL & PHONE   -------------- #}

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--s"
        },
        id: "personalDetailsEmail",
        name: "personalDetailsEmail",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: data.person[0].email
      }) }}

      {{ govukInput({
        label: {
          text: "Phone number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For international numbers include the country code"
        },
        id: "personalDetailsPhoneNumber",
        name: "personalDetailsPhoneNumber",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: data.person[0].mobile
      }) }}

      {# -------- Start of NiNO & SEX   -------------- #}

      {{ govukInput({
        label: {
          text: "National Insurance number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, 'QQ 12 34 56 C'"
        },
        value:  data.person[0].nationalInsurance,
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "create-record-national-insurance-number",
        name: "personalDetailsNationalInsuranceNumber",
        spellcheck: false
      }) }}


      {{ govukRadios({
        name: "personalDetailsSex",
        fieldset: {
          legend: {
            text: "Sex",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Male",
            text: "Male"
          },
          {
            value: "Female",
            text: "Female"
          }
        ], value: data.person[0].gender
      }) }}


      <h2 class="govuk-heading-m">Why are you changing this record?</h2>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">Reason for change</legend>
      
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reason-1" name="createRecordReason" type="radio" value="Data loss or incomplete information">
            <label class="govuk-label govuk-radios__label" for="reason-1">
              Data loss or incomplete information
            </label>
          </div>
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reason-2" name="createRecordReason" type="radio" value="New information recovered" data-aria-controls="conditional-new-info">
            <label class="govuk-label govuk-radios__label" for="reason-2">
              New information received
            </label>
          </div>
      
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-new-info">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">Type of new information</legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sub-reason-1" name="newInfoType" type="radio" value="Change of name: marriage">
                  <label class="govuk-label govuk-radios__label" for="sub-reason-1">
                    Name change (marriage or civil partnership)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sub-reason-2" name="newInfoType" type="radio" value="Change of name: legal name change">
                  <label class="govuk-label govuk-radios__label" for="sub-reason-2">
                    Name change (deed poll or other legal process)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other-reason-2" name="newInfoType" type="radio" value="Other with info" data-aria-controls="conditional-other-info">
                  <label class="govuk-label govuk-radios__label" for="other-reason-2">
                    Something else
                  </label>
                </div>
      
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-info">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="additional-other-info">
                     Please provide more details
                    </label>
                    <textarea class="govuk-textarea  govuk-!-width-one-half" id="additional-other-info" name="additionalOtherInfo" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-1" name="createRecordReason" type="radio" value="Data loss or incomplete information">
              <label class="govuk-label govuk-radios__label" for="reason-1">
                Updating incorrect details
              </label>
            </div>
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="reason-3" name="createRecordReason" type="radio" value="Another reason" data-aria-controls="conditional-reason">
            <label class="govuk-label govuk-radios__label" for="reason-3">
              Another reason
            </label>
          </div>
      
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason">
            <div class="govuk-form-group">
              <label class="govuk-label" for="more-details">
                Please provide more details
              </label>
              <textarea class="govuk-textarea govuk-!-width-one-half" id="more-details" name="moreDetails" rows="4"></textarea>
            </div>
          </div>
        </div>
      </fieldset>
      <br>

      <h2 class="govuk-heading-m">Do you want to upload evidence?</h2>
      {{ govukRadios({
        name: "evidenceUploaded",
        fieldset: {
          legend: {
            text: "Do you have evidence to upload?",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: evidenceYes
            }
          },
          {
            value: "No",
            text: "No"
          }
        ],
        value: data.evidenceUploaded
      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
    </p>
  </div>
</div>

{% endblock %}
