{% extends "layouts/new-nav.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
Manual merge screen index
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/4329ab97-f9f8-428f-bcec-635e8721833b/edit?invitationId=inv_45778f9b-4504-4ffb-9435-da6958bbdcde&page=0_0#" target="blank">Design board</a>
  </p>

  <p>
    June/July 2025
  </p>

  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
 <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="search-results">Search results</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen.
       <br>
       Updated to match with the updated screen on <a href="../deactivated-record/_screen-index">Deactivated record</a> 
         
          </p>
        </td>
      </tr>


      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="personal-details">Personal details</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        Updated personal details tab showing 'merge with another record' button. Also showing a button for deactivating the record manually.
         
          </p>
        </td>
      </tr>


       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="personal-details-general">Personal details with new general tab</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
      Showing new 'general' tab rather than personal details.
         
          </p>
        </td>
      </tr>

        <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="merge-manual">Merge</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        New screen.
        <br>
        Showing an input field to manually kick of the merge journey.
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="compare">Compare records</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen. This screen is for reference.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="compare-alert">Compare records with alert</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen, showing the scenario that one of the records holds an alert. This screen is for reference.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="select-data">Select data</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen. This screen is for reference.
         
          </p>
        </td>
      </tr>


       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="check">Check your answers</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen. This screen is for reference.
         
          </p>
        </td>
      </tr>


         <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="personal-details-after">Personal details - after update</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
      Personal details showing success banner.
         
          </p>
        </td>
      </tr>


      
</tbody>
  </table>


 
         
  
{% endblock %}
