{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
Manual merge screen index
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/4329ab97-f9f8-428f-bcec-635e8721833b/edit?invitationId=inv_45778f9b-4504-4ffb-9435-da6958bbdcde&page=0_0#" target="blank">Design board</a>
  </p>

  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
 <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="search-results-v1">Search results</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen. This screen is for reference as the journey can be triggered through the button at the bottom of the page or by clicking into the record.
         
          </p>
        </td>
      </tr>


      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="personal-details-v1">Personal details</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        Updated personal details tab showing 'merge with another record' button.
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="compare">Compare records</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen. This screen is for reference.
         
          </p>
        </td>
      </tr>

       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="compare-alert">Compare records with alert</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       The existing screen, showing the scenario that one of the records holds an alert. This screen is for reference.
         
          </p>
        </td>
      </tr>

        <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="merge-manual">Enter TRN</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       New screen.
       <br>
         Allowing users to enter a TRN to manually merge into the record.
          </p>
        </td>
      </tr>


      
</tbody>
  </table>


 
         
  
{% endblock %}
