{{ xGovukAutocomplete({
  id: "degree-types",
  name: "degreeTypes",
  allowEmpty: false,
  classes: "govuk-input--width-10",  
    items: [
      {"text": "BA"},
      {"text": "BA (Hons)"},
      {"text": "BA (Hons) Combined Studies/Education of the Deaf"},
      {"text": "BA (Hons) with Intercalated PGCE"},
      {"text": "BA Combined Studies/Education of the Deaf"},
      {"text": "BA Education Certificate"},
      {"text": "BA Education"},
      {"text": "BEd"},
      {"text": "BEd (Hons)"},
      {"text": "BEng (Hons)/Education"},
      {"text": "BSc"},
      {"text": "BSc (Hons)"},
      {"text": "BSc (Hons) with Intercalated PGCE"},
      {"text": "BSc/Certificate in Education"},
      {"text": "BSc/Education"},
      {"text": "BTech (Hons)/Education"},
      {"text": "BTech/Education"},
      {"text": "Certificate in Education"},
      {"text": "Certificate in Education (FE)"},
      {"text": "Degree"},
      {"text": "Degree Equivalent (this will include foreign qualifications)"},
      {"text": "PGCE"},
      {"text": "Professional PGCE"},
      {"text": "Graduate Certificate in Education"},
      {"text": "Graduate Certificate in Mathematics and Education"},
      {"text": "Graduate Certificate in Science and Education"},
      {"text": "Graduate Diploma"},
      {"text": "PGCE (Articled Teachers Scheme)"},
      {"text": "Postgraduate Art Teachers Certificate"},
      {"text": "Postgraduate Art Teachers Diploma"},
      {"text": "Postgraduate Certificate in Education"},
      {"text": "Postgraduate Certificate in Education (Further Education)"},
      {"text": "Postgraduate Diploma in Education"},
      {"text": "Professional Graduate Certificate in Education"},
      {"text": "Professional Graduate Diploma in Education"},
      {"text": "Qualification gained in Europe"},
      {"text": "Teachers Certificate"},
      {"text": "Teachers Certificate FE"},
      {"text": "Undergraduate Master of Teaching"},
      {"text": "Unknown"},
      {"text": "BA with Intercalated PGCE"}
  ]
}) }}