{% extends "layouts/main.html" %}

{% block pageTitle %}
Interfaces – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}

{{ govukServiceNavigation({
  serviceName: "Teaching Records System",
  serviceUrl: "#",
  navigation: [
    {
      href: "general/index",
      text: "Find a record"
    },
    {
      href: "#",
      text: "Support tasks",
      active: true
    },
    {
      href: "permissions/overview",
      text: "Add and manage users"
    }
  ]
}) }}


  

  

  <div class="govuk-width-container">


    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <nav class="govuk-breadcrumbs govuk-!-padding-bottom-4" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Support tasks</a>
              </li>
            </ol>
          </nav>
         
          <span class="govuk-caption-l">Integration transactions</span>
          <h1 class="govuk-heading-l">Interfaces</h1>

        
         

          <table class="govuk-table" data-module="moj-sortable-table" style="table-layout: autp; govuk-table__row:hover {
            background-color: #f3f2f1;
          }" >

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">ID</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Interface</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Upload time</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Duplicates</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Failures</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115141</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">17 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">2 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115135</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">16 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">3 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115136</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">15 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">4 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
                <td class="govuk-table__cell"><a href="itr">4</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115137</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">14 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">5 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115138</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">13 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">6 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">5</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115139</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">12 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">7 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115140</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">11 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">8 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115141</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">10 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">9 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
                <td class="govuk-table__cell"><a href="itr">4</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115142</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">9 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">10 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">6</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115143</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">8 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">11 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">5</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115134</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">17 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">2 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115135</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">16 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">3 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115136</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">15 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">4 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
                <td class="govuk-table__cell"><a href="itr">4</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115137</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">14 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">5 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115138</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">13 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">6 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">5</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115139</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">12 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">7 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115140</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">11 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">8 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
                <td class="govuk-table__cell"><a href="itr">2</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115141</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Export</a></td>
                <td class="govuk-table__cell"><a href="itr">10 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">9 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">3</a></td>
                <td class="govuk-table__cell"><a href="itr">4</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115142</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Amend</a></td>
                <td class="govuk-table__cell"><a href="itr">9 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">10 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">0</a></td>
                <td class="govuk-table__cell"><a href="itr">6</a></td>
              </tr>
              <tr class="govuk-table__row govuk-task-list__item--with-link">
                <td class="govuk-table__cell"><a href="itr">115143</a></td>
                <td class="govuk-table__cell"><a href="itr">Capita Import</a></td>
                <td class="govuk-table__cell"><a href="itr">8 March 2025</a></td>
                <td class="govuk-table__cell"><a href="itr">11 minutes</a></td>
                <td class="govuk-table__cell"><a href="itr">1</a></td>
                <td class="govuk-table__cell"><a href="itr">5</a></td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-!-padding-bottom-4"></div>
          <!-- pagination -->
          <nav class="govuk-pagination" role="navigation" aria-label="results" style="justify-content: center;">
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">Previous</span></a>
            </div>
            <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                        1
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                        2
                    </a>
                </li>
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                        3
                    </a>
                </li>
            </ul>
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg></a>
            </div>
        </nav>

    </div>
  </div>
</main>
</div>
{% endblock %}