{{ xGovukAutocomplete({
  id: "country",
  name: "establishment",
  allowEmpty: false,
  classes: "govuk-input--width-10",  
    items: [
    { "text": "University of Oxford" },
    { "text": "University of Cambridge" },
    { "text": "Imperial College London" },
    { "text": "ETH Zurich" },
    { "text": "UCL (University College London)" },
    { "text": "London School of Economics and Political Science (LSE)" },
    { "text": "University of Edinburgh" },
    { "text": "Karolinska Institutet" },
    { "text": "LMU Munich" },
    { "text": "Technical University of Munich" },
    { "text": "King's College London" },
    { "text": "École Polytechnique Fédérale de Lausanne (EPFL)" },
    { "text": "University of Amsterdam" },
    { "text": "KU Leuven" },
    { "text": "Heidelberg University" },
    { "text": "University of Copenhagen" },
    { "text": "Paris Sciences et Lettres University (PSL)" },
    { "text": "Sorbonne University" },
    { "text": "University of Zurich" },
    { "text": "Delft University of Technology" },
    { "text": "University of Glasgow" },
    { "text": "University of Warwick" },
    { "text": "Erasmus University Rotterdam" },
    { "text": "Trinity College Dublin" },
    { "text": "University of Manchester" },
    { "text": "Aarhus University" },
    { "text": "University of Barcelona" },
    { "text": "Free University of Berlin" },
    { "text": "Leiden University" },
    { "text": "Uppsala University" }
  ]
}) }}