{{ xGovukAutocomplete({
  id: "country",
  name: "applyQtsCountry",
  allowEmpty: false,
  classes: "govuk-input--width-10",  
  items: [
    {"text": "AF Afghanistan"},
    {"text": "XQ Africa, not otherwise specified"},
    {"text": "AX Åland Islands {Ahvenamaa}"},
    {"text": "AL Albania"},
    {"text": "DZ Algeria"},
    {"text": "AS American Samoa"},
    {"text": "AD Andorra"},
    {"text": "AO Angola"},
    {"text": "AI Anguilla"},
    {"text": "XX Antarctica & Oceania, not otherwise specified"},
    {"text": "AG Antigua & Barbuda"},
    {"text": "AR Argentina"},
    {"text": "AM Armenia"},
    {"text": "AW Aruba"},
    {"text": "XS Asia (Except Middle East), not otherwise specified"},
    {"text": "AT Austria"},
    {"text": "BE Belgium"},
    {"text": "AZ Azerbaijan"},
    {"text": "BS Bahamas, The"},
    {"text": "BH Bahrain"},
    {"text": "BD Bangladesh"},
    {"text": "BB Barbados"},
    {"text": "BL St Barthelemy"},
    {"text": "BY Belarus"},
    {"text": "BG Bulgaria"},
    {"text": "BZ Belize"},
    {"text": "BJ Benin"},
    {"text": "BM Bermuda"},
    {"text": "BT Bhutan"},
    {"text": "BO Bolivia"},
    {"text": "BQ Bonaire, Sint Eustatius and Saba"},
    {"text": "BA Bosnia & Herzegovina"},
    {"text": "BW Botswana"},
    {"text": "BR Brazil"},
    {"text": "VG British Virgin Islands [Virgin Islands, British]"},
    {"text": "BN Brunei [Brunei Darussalam]"},
    {"text": "HR Croatia"},
    {"text": "BF Burkina [Burkina Faso]"},
    {"text": "MM Burma [Myanmar]"},
    {"text": "BI Burundi"},
    {"text": "KH Cambodia"},
    {"text": "CM Cameroon"},
    {"text": "XC Cyprus"},
    {"text": "IC Canary Islands"},
    {"text": "CV Cape Verde"},
    {"text": "XW Caribbean, not otherwise specified"},
    {"text": "KY Cayman Islands"},
    {"text": "CF Central African Republic"},
    {"text": "XU Central America, not otherwise specified"},
    {"text": "TD Chad"},
    {"text": "XL Channel Islands, not elsewhere specified"},
    {"text": "CL Chile"},
    {"text": "CN China"},
    {"text": "TW China (Taiwan) [Taiwan, Province Of China]"},
    {"text": "CX Christmas Island"},
    {"text": "CC Cocos (Keeling) Islands"},
    {"text": "CO Colombia"},
    {"text": "KM Comoros"},
    {"text": "CG Congo"},
    {"text": "CD Congo (Democratic Republic) [Congo (The Democratic Republic of the)] {Formerly Zaire}"},
    {"text": "CK Cook Islands"},
    {"text": "CR Costa Rica"},
    {"text": "CZ Czech Republic"},
    {"text": "CU Cuba"},
    {"text": "CW Curaçao"},
    {"text": "XA Cyprus (European Union)"},
    {"text": "XB Cyprus (Non-European Union)"},
    {"text": "DK Denmark"},
    {"text": "EE Estonia"},
    {"text": "FI Finland"},
    {"text": "DJ Djibouti"},
    {"text": "DM Dominica"},
    {"text": "DO Dominican Republic"},
    {"text": "TL East Timor [Timor Leste]"},
    {"text": "EC Ecuador"},
    {"text": "EG Egypt"},
    {"text": "SV El Salvador"},
    {"text": "XF England"},
    {"text": "GQ Equatorial Guinea"},
    {"text": "ER Eritrea"},
    {"text": "FR France"},
    {"text": "ET Ethiopia"},
    {"text": "XP Europe, not otherwise specified"},
    {"text": "EU European Union, not otherwise specified"},
    {"text": "FK Falkland Islands [Falkland Islands (Malvinas)]"},
    {"text": "FO Faroe Islands"},
    {"text": "FJ Fiji"},
    {"text": "DE Germany"},
    {"text": "GR Greece"},
    {"text": "GF French Guiana"},
    {"text": "PF French Polynesia"},
    {"text": "GA Gabon"},
    {"text": "GM Gambia, The"},
    {"text": "GE Georgia"},
    {"text": "HU Hungary"},
    {"text": "GH Ghana"},
    {"text": "GI Gibraltar"},
    {"text": "IS Iceland"},
    {"text": "GL Greenland"},
    {"text": "GD Grenada"},
    {"text": "GP Guadeloupe"},
    {"text": "GU Guam"},
    {"text": "GT Guatemala"},
    {"text": "GG Guernsey"},
    {"text": "GN Guinea"},
    {"text": "GW Guinea-Bissau"},
    {"text": "GY Guyana"},
    {"text": "HT Haiti"},
    {"text": "HN Honduras"},
    {"text": "HK Hong Kong (Special Administrative Region of China) [Hong Kong]"},
    {"text": "IE Ireland"},
    {"text": "IT Italy"},
    {"text": "IN India"},
    {"text": "ID Indonesia"},
    {"text": "IR Iran [Iran, Islamic Republic of]"},
    {"text": "IQ Iraq"},
    {"text": "LI Liechtenstein"},
    {"text": "IM Isle of Man"},
    {"text": "IL Israel"},
    {"text": "LT Lithuania"},
    {"text": "CI Ivory Coast [Côte D'ivoire]"},
    {"text": "JM Jamaica"},
    {"text": "JP Japan"},
    {"text": "JE Jersey"},
    {"text": "JO Jordan"},
    {"text": "KZ Kazakhstan"},
    {"text": "KE Kenya"},
    {"text": "KI Kiribati"},
    {"text": "KP Korea (North) [Korea, Democratic People's Republic of]"},
    {"text": "KR Korea (South) [Korea, Republic of]"},
    {"text": "QO Kosovo"},
    {"text": "KW Kuwait"},
    {"text": "KG Kyrgyzstan"},
    {"text": "LA Laos [Lao People's Democratic Republic]"},
    {"text": "LV Latvia"},
    {"text": "LB Lebanon"},
    {"text": "LS Lesotho"},
    {"text": "LR Liberia"},
    {"text": "LY Libya [Libyan Arab Jamahiriya]"},
    {"text": "LU Luxembourg"},
    {"text": "MT Malta"},
    {"text": "NL Netherlands"},
    {"text": "MO Macao (Special Administrative Region of China) [Macao]"},
    {"text": "MK Macedonia [Macedonia, The Former Yugoslav Republic of]"},
    {"text": "MG Madagascar"},
    {"text": "MW Malawi"},
    {"text": "MY Malaysia"},
    {"text": "MV Maldives"},
    {"text": "ML Mali"},
    {"text": "NO Norway"},
    {"text": "MH Marshall Islands"},
    {"text": "MF St Martin (French part)"},
    {"text": "MQ Martinique"},
    {"text": "MR Mauritania"},
    {"text": "MU Mauritius"},
    {"text": "YT Mayotte"},
    {"text": "MX Mexico"},
    {"text": "FM Micronesia [Micronesia, Federated States of]"},
    {"text": "XR Middle East, not otherwise specified"},
    {"text": "MD Moldova [Moldova, Republic of]"},
    {"text": "MC Monaco"},
    {"text": "MN Mongolia"},
    {"text": "ME Montenegro"},
    {"text": "MS Montserrat"},
    {"text": "MA Morocco"},
    {"text": "MZ Mozambique"},
    {"text": "NA Namibia"},
    {"text": "NR Nauru"},
    {"text": "NP Nepal"},
    {"text": "PL Poland"},
    {"text": "AN Netherlands Antilles"},
    {"text": "NC New Caledonia"},
    {"text": "PT Portugal"},
    {"text": "NI Nicaragua"},
    {"text": "NE Niger"},
    {"text": "NG Nigeria"},
    {"text": "NU Niue"},
    {"text": "NF Norfolk Island"},
    {"text": "XT North America, not otherwise specified"},
    {"text": "XG Northern Ireland"},
    {"text": "MP Northern Mariana Islands"},
    {"text": "RO Romania"},
    {"text": "ZZ Not Known"},
    {"text": "OM Oman"},
    {"text": "PK Pakistan"},
    {"text": "PW Palau"},
    {"text": "PA Panama"},
    {"text": "PG Papua New Guinea"},
    {"text": "PY Paraguay"},
    {"text": "PE Peru"},
    {"text": "PH Philippines"},
    {"text": "PN Pitcairn, Henderson, Ducie And Oeno Islands [Pitcairn]"},
    {"text": "SK Slovakia"},
    {"text": "SI Slovenia"},
    {"text": "PR Puerto Rico"},
    {"text": "QA Qatar"},
    {"text": "RE Réunion"},
    {"text": "ES Spain"},
    {"text": "RU Russia [Russian Federation]"},
    {"text": "RW Rwanda"},
    {"text": "WS Samoa"},
    {"text": "SM San Marino"},
    {"text": "ST Sao Tome And Principe"},
    {"text": "SA Saudi Arabia"},
    {"text": "XH Scotland"},
    {"text": "SN Senegal"},
    {"text": "RS Serbia"},
    {"text": "SC Seychelles"},
    {"text": "SL Sierra Leone"},
    {"text": "SG Singapore"},
    {"text": "SX Sint Maarten (Dutch part)"},
    {"text": "SE Sweden"},
    {"text": "CH Switzerland"},
    {"text": "SB Solomon Islands"},
    {"text": "SO Somalia"},
    {"text": "ZA South Africa"},
    {"text": "XV South America, not otherwise specified"},
    {"text": "GS South Georgia And The South Sandwich Islands"},
    {"text": "SS South Sudan"},
    {"text": "XK United Kingdom"},
    {"text": "LK Sri Lanka"},
    {"text": "SH St Helena, Ascension and Tristan da Cunha"},
    {"text": "KN St Kitts And Nevis"},
    {"text": "LC St Lucia"},
    {"text": "PM St Pierre And Miquelon"},
    {"text": "VC St Vincent And The Grenadines"},
    {"text": "SD Sudan"},
    {"text": "SR Surinam [Suriname]"},
    {"text": "SJ Svalbard And Jan Mayen"},
    {"text": "SZ Swaziland"},
    {"text": "XI Wales"},
    {"text": "9610 Austria"},
    {"text": "SY Syria [Syrian Arab Republic]"},
    {"text": "TJ Tajikistan"},
    {"text": "TZ Tanzania [Tanzania, United Republic of]"},
    {"text": "TH Thailand"},
    {"text": "TG Togo"},
    {"text": "TK Tokelau"},
    {"text": "TO Tonga"},
    {"text": "TT Trinidad & Tobago"},
    {"text": "TN Tunisia"},
    {"text": "TR Turkey"},
    {"text": "TM Turkmenistan"},
    {"text": "TC Turks & Caicos Islands"},
    {"text": "TV Tuvalu"},
    {"text": "UG Uganda"},
    {"text": "UA Ukraine"},
    {"text": "AE United Arab Emirates"},
    {"text": "9614 Belgium"},
    {"text": "9621 Bulgaria"},
    {"text": "VI United States Virgin Islands [Virgin Islands, U. S.]"},
    {"text": "UY Uruguay"},
    {"text": "UZ Uzbekistan"},
    {"text": "VU Vanuatu"},
    {"text": "VA Vatican City [Holy See (Vatican City State)]"},
    {"text": "VE Venezuela"},
    {"text": "VN Vietnam [Viet Nam]"},
    {"text": "9899 Croatia"},
    {"text": "WF Wallis & Futuna"},
    {"text": "PS West Bank (including East Jerusalem) & Gaza Strip [Palestinian Territory, Occupied]"},
    {"text": "EH Western Sahara"},
    {"text": "YE Yemen"},
    {"text": "ZM Zambia"},
    {"text": "ZW Zimbabwe"},
    {"text": "9102 Non EEA Countries"},
    {"text": "9101 EEA Countries"},
    {"text": "9602 Afghanistan"},
    {"text": "9138 Africa, not otherwise specified"},
    {"text": "9104 Åland Islands (Ahvenamaa)"},
    {"text": "9603 Albania"},
    {"text": "9604 Algeria"},
    {"text": "9105 Andorra"},
    {"text": "9606 Angola"},
    {"text": "9884 Anguilla (UK Overseas Territory)"},
    {"text": "9139 Antarctica & Oceania, not otherwise specified"},
    {"text": "9885 Antigua and Barbuda"},
    {"text": "9608 Argentina"},
    {"text": "9886 Armenia"},
    {"text": "9106 Aruba"},
    {"text": "9887 Ascension (UK Overseas Territory)"},
    {"text": "9140 Asia (Except Middle East), not otherwise specified"},
    {"text": "9638 Cyprus"},
    {"text": "9124 Czech Republic"},
    {"text": "9888 Azerbaijan"},
    {"text": "9611 Bahamas"},
    {"text": "9889 Bahrain"},
    {"text": "9787 Bangladesh"},
    {"text": "9613 Barbados"},
    {"text": "9890 Belarus"},
    {"text": "9641 Denmark"},
    {"text": "9891 Belize"},
    {"text": "9640 Benin (formerly Dahomey)"},
    {"text": "9615 Bermuda"},
    {"text": "9892 Bhutan"},
    {"text": "9617 Bolivia"},
    {"text": "9893 Bosnia and Herzegovina"},
    {"text": "9894 Botswana"},
    {"text": "9619 Brazil"},
    {"text": "9895 British Antarctic Territory (UK O'seas Territory)"},
    {"text": "9896 British Indian Ocean Territory (UK O'seas Territ.)"},
    {"text": "9897 British Virgin Islands (UK Overseas Territory)"},
    {"text": "9620 Brunei"},
    {"text": "9905 Estonia"},
    {"text": "9898 Burkina"},
    {"text": "9622 Burma"},
    {"text": "9623 Burundi"},
    {"text": "9625 Cameroon"},
    {"text": "9651 Finland"},
    {"text": "9880 Canary Islands"},
    {"text": "9107 Cape Verde"},
    {"text": "9141 Caribbean, not otherwise specified"},
    {"text": "9108 Cayman Islands"},
    {"text": "9627 Central African Republic"},
    {"text": "9142 Central America, not otherwise specified"},
    {"text": "9629 Chad"},
    {"text": "9143 Channel Islands, not elsewhere specified"},
    {"text": "9630 Chile"},
    {"text": "9631 China (People's Republic of)"},
    {"text": "9109 Christmas Island"},
    {"text": "9110 Cocos (Keeling) Islands"},
    {"text": "9632 Colombia"},
    {"text": "9111 Comoros"},
    {"text": "9128 Congo"},
    {"text": "9634 Congo (People's Republic of)"},
    {"text": "9112 Cook Islands"},
    {"text": "9635 Costa Rica"},
    {"text": "9653 France"},
    {"text": "9636 Cuba"},
    {"text": "9883 Germany"},
    {"text": "9661 Greece"},
    {"text": "9639 Czechoslovakia"},
    {"text": "9670 Hungary"},
    {"text": "9900 Djibouti"},
    {"text": "005 Do Not Use"},
    {"text": "0123 Do Not Use"},
    {"text": "099 Do Not Use"},
    {"text": "299 Do Not Use"},
    {"text": "602 Do Not Use"},
    {"text": "9901 Dominica, Commonwealth of"},
    {"text": "9643 Dominican Republic"},
    {"text": "9902 East Timor"},
    {"text": "9645 Ecuador"},
    {"text": "9768 Egypt"},
    {"text": "9646 El Salvador"},
    {"text": "EN England"},
    {"text": "9903 Equatorial Guinea"},
    {"text": "9904 Eritrea"},
    {"text": "9671 Iceland"},
    {"text": "9648 Ethiopia"},
    {"text": "9906 Falkland Islands (UK Overseas Territory)"},
    {"text": "9113 Faroe Islands"},
    {"text": "9650 Fiji"},
    {"text": "9676 Ireland (Republic of)"},
    {"text": "9678 Italy"},
    {"text": "FR France"},
    {"text": "9791 French Guiana"},
    {"text": "9114 French Polynesia"},
    {"text": "9792 French West Indies (including Martinique & Guadeloupe)"},
    {"text": "9654 Gabon"},
    {"text": "9655 Gambia"},
    {"text": "9907 Georgia"},
    {"text": "9915 Latvia"},
    {"text": "DE Germany"},
    {"text": "9657 Germany (Democratic Republic of) / East Germany"},
    {"text": "9656 Germany (Federal Republic of )/ West Germany"},
    {"text": "9658 Ghana"},
    {"text": "9659 Gibraltar"},
    {"text": "9881 Liechtenstein"},
    {"text": "9115 Greenland"},
    {"text": "9908 Grenada"},
    {"text": "9116 Guam"},
    {"text": "9663 Guatemala"},
    {"text": "9117 Guernsey"},
    {"text": "9664 Guinea"},
    {"text": "9909 Guinea-Bissau"},
    {"text": "9665 Guyana"},
    {"text": "9666 Haiti"},
    {"text": "9910 Holy See"},
    {"text": "9667 Honduras"},
    {"text": "9669 Hong Kong"},
    {"text": "9916 Lithuania"},
    {"text": "9693 Luxembourg"},
    {"text": "9672 India"},
    {"text": "9673 Indonesia"},
    {"text": "9674 Iran (Islamic Republic of)"},
    {"text": "9675 Iraq"},
    {"text": "9700 Malta"},
    {"text": "9118 Isle of Man"},
    {"text": "9677 Israel"},
    {"text": "9710 Netherlands"},
    {"text": "9679 Ivory Coast"},
    {"text": "9680 Jamaica"},
    {"text": "9681 Japan"},
    {"text": "9119 Jersey"},
    {"text": "9682 Jordan"},
    {"text": "9624 Kampuchea, Democratic"},
    {"text": "9912 Kazakhstan"},
    {"text": "9683 Kenya"},
    {"text": "9913 Kiribati"},
    {"text": "9685 Korea (Democratic Peoples Republic of) / North Korea"},
    {"text": "9684 Korea (South)"},
    {"text": "9127 Kosovo"},
    {"text": "9686 Kuwait"},
    {"text": "9914 Kyrgyzstan"},
    {"text": "9687 Laos"},
    {"text": "9718 Norway"},
    {"text": "9688 Lebanon"},
    {"text": "9689 Leeward Islands"},
    {"text": "9690 Lesotho"},
    {"text": "9691 Liberia"},
    {"text": "9692 Libya"},
    {"text": "9727 Poland"},
    {"text": "9728 Portugal"},
    {"text": "9733 Romania"},
    {"text": "9120 Macao"},
    {"text": "9917 Macedonia"},
    {"text": "9695 Madagascar"},
    {"text": "9696 Malawi"},
    {"text": "9697 Malaya"},
    {"text": "9698 Malaysia"},
    {"text": "9918 Maldives"},
    {"text": "9699 Mali"},
    {"text": "9936 Slovakia"},
    {"text": "9919 Marshall Islands"},
    {"text": "9701 Mauritania"},
    {"text": "9702 Mauritius"},
    {"text": "9121 Mayotte"},
    {"text": "9703 Mexico"},
    {"text": "9920 Micronesia"},
    {"text": "9144 Middle East, not otherwise specified"},
    {"text": "9921 Moldova"},
    {"text": "9882 Monaco"},
    {"text": "9704 Mongolia"},
    {"text": "9125 Montenegro"},
    {"text": "9922 Montserrat (UK Overseas Territory)"},
    {"text": "9706 Morocco"},
    {"text": "9707 Mozambique"},
    {"text": "9923 Namibia"},
    {"text": "9924 Nauru"},
    {"text": "9709 Nepal"},
    {"text": "9637 Netherlands Antilles"},
    {"text": "9937 Slovenia"},
    {"text": "9711 New Caledonia"},
    {"text": "9751 Spain"},
    {"text": "9715 Nicaragua"},
    {"text": "9716 Niger"},
    {"text": "9717 Nigeria"},
    {"text": "9122 Niue"},
    {"text": "9123 Norfolk Island"},
    {"text": "9145 North America, not otherwise specified"},
    {"text": "9099 Northern Ireland"},
    {"text": "9129 Northern Mariana Islands"},
    {"text": "9755 Sweden"},
    {"text": "9925 Oman"},
    {"text": "9721 Pakistan"},
    {"text": "9130 Palau"},
    {"text": "9926 Palestine National Authority"},
    {"text": "9722 Panama"},
    {"text": "9723 Papua New Guinea"},
    {"text": "9724 Paraguay"},
    {"text": "9725 Peru"},
    {"text": "9726 Philippines"},
    {"text": "9927 Pitcairn Henderson Ducie & Oeno Islands (UK OT)"},
    {"text": "9756 Switzerland"},
    {"text": "AU Australia"},
    {"text": "9730 Puerto Rico"},
    {"text": "9928 Qatar (State of)"},
    {"text": "9795 Reunion"},
    {"text": "CA Canada"},
    {"text": "9772 Russian Federation"},
    {"text": "9734 Rwanda"},
    {"text": "9929 Saint Christopher and Nevis (St Kitts & Nevis)"},
    {"text": "9930 Saint Lucia"},
    {"text": "9931 Saint Vincent and the Grenadines"},
    {"text": "9932 Samoa"},
    {"text": "9131 San Marino"},
    {"text": "9933 Sao Tome and Principe"},
    {"text": "9743 Saudi Arabia"},
    {"text": "9299 Scotland"},
    {"text": "SC Scotland"},
    {"text": "9785 Senegal"},
    {"text": "9126 Serbia"},
    {"text": "9934 Serbia and Montenegro"},
    {"text": "9935 Serbia and Montenegro, Kosovo"},
    {"text": "9744 Seychelles"},
    {"text": "9745 Sierra Leone"},
    {"text": "9746 Singapore"},
    {"text": "NZ New Zealand"},
    {"text": "US United States"},
    {"text": "9748 Solami Democratic Republic"},
    {"text": "9747 Soloman Islands"},
    {"text": "9938 Somalia"},
    {"text": "9750 South Africa"},
    {"text": "9146 South America, not otherwise specified"},
    {"text": "9939 South Georgia & South Sandwich Islands (UK OT)"},
    {"text": "9609 Australia"},
    {"text": "9628 Sri Lanka (Ceylon)"},
    {"text": "9940 St Helena (UK Overseas Territory)"},
    {"text": "9132 St Pierre And Miquelon"},
    {"text": "9752 Sudan"},
    {"text": "9753 Surinam"},
    {"text": "9134 Svalbard And Jan Mayen"},
    {"text": "9754 Swaziland"},
    {"text": "9626 Canada"},
    {"text": "9714 New Zealand"},
    {"text": "9757 Syria"},
    {"text": "9652 Taiwan"},
    {"text": "9941 Tajikistan"},
    {"text": "9759 Tanzania"},
    {"text": "9760 Thailand"},
    {"text": "9762 Togo"},
    {"text": "9135 Tokelau"},
    {"text": "9784 Tonga"},
    {"text": "9763 Trinidad & Tobago"},
    {"text": "9942 Tristan da Cunha (Dependency of St Helena)"},
    {"text": "9765 Tunisia"},
    {"text": "9766 Turkey"},
    {"text": "9943 Turkmenistan"},
    {"text": "9944 Turks and Caicos Islands (UK Overseas Territory)"},
    {"text": "9945 Tuvalu"},
    {"text": "9767 Uganda"},
    {"text": "9100 UK"},
    {"text": "9946 Ukraine"},
    {"text": "9764 United Arab Emirates"},
    {"text": "9133 United States Virgin Islands"},
    {"text": "9999 Unknown"},
    {"text": "9769 Upper Volta"},
    {"text": "9770 Uruguay"},
    {"text": "9771 USA"},
    {"text": "9947 Uzbekistan"},
    {"text": "9948 Vanuatu"},
    {"text": "9773 Venezuela"},
    {"text": "9774 Vietnam"},
    {"text": "WA Wales"},
    {"text": "9136 Wallis & Futuna"},
    {"text": "9777 West Indies"},
    {"text": "9137 Western Sahara"},
    {"text": "9778 Windward Islands"},
    {"text": "9601 Yemen (South) (formerly Aden)"},
    {"text": "9780 Yugoslavia"},
    {"text": "9633 Zaire"},
    {"text": "9781 Zambia"},
    {"text": "9732 Zimbabwe"}
]
}) }}