{{ xGovukAutocomplete({
  id: "provider",
  name: "iqtsProvider",
  allowEmpty: false,
  classes: "govuk-input--width-10",  
    items: [
      { "text": "Ambition Institute - Ambition Teacher Training" },
      { "text": "Anglia Ruskin University - Anglia Ruskin University" },
      { "text": "Bath Spa University - Bath Spa University" },
      { "text": "Bright Futures Educational Trust - Bright Futures SCITT" },
      { "text": "Canterbury Christ Church University - Canterbury Christ Church University" },
      { "text": "Chiltern Learning Trust - Chiltern Training Group" },
      { "text": "Delta Academies Trust - Delta Academies Trust" },
      { "text": "East Anglian Schools Trust - EAST SCITT" },
      { "text": "Exceed Academies Trust - Exceed SCITT" },
      { "text": "Goldsmiths, University of London - Goldsmiths, University of London" },
      { "text": "GORSE Academies Trust - GORSE SCITT" },
      { "text": "King’s College London - King’s College London" },
      { "text": "Leeds Trinity University - Leeds Trinity University" },
      { "text": "London School of Jewish Studies - LSJS SCITT" },
      { "text": "Manchester Metropolitan University - Manchester Metropolitan University" },
      { "text": "Northampton School for Boys - Northampton Teacher Training Partnership" },
      { "text": "Oxford Brookes University - Oxford Brookes University" },
      { "text": "St Mary’s University - St Mary’s University" },
      { "text": "Teach First - Teach First" },
      { "text": "University of Cambridge - University of Cambridge" }
    ]
}) }}