{% extends "layouts/nav-test.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Compare potential duplicate records" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set summaryCardTitle %}
  TRN request
{% endset %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ record | log }}

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>


      {# <p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> on the right hand side</p> #}
      
      {{ govukInsetText({
        html: '<p class="govuk-body">Differences are <mark class="hods-highlight"><strong>highlighted</strong></mark> in the existing record</p>',
        classes: "govuk-!-width-two-thirds"
      }) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            
            {# <p class="govuk-body">This is a paragraph inside a one half column</p> #}


            {{ govukSummaryList({
              card: {
                title: {
                  html: summaryCardTitle
                }
              },
              rows: [
                {
                  key: { text: "First name" },
                  value: { text: "Richard" }
                },
                {
                  key: { text: "Middle name" },
                  value: {text: "Sara" }
                },
                {
                  key: { text: "Last Name" },
                  value: { text: "Porter" }
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: "27 April 1970" }
                },
                {
                  key: { text: "Email" },
                  value: { text: "	rich.p@gmail.com" }
                },
                {
                  key: { text: "NI number" },
                  value: { text: "	XX 52 20 24 D" }
                },
                {
                  key: { text: "Evidence" },
                  value: { html: '<a href="#" class="govuk-link">' + record.providedEvidence + ' (opens in a new tab)</a>' or "None"} 
                } if record.providedEvidence
              ]
            }) }}
          </div>
  
      

          <div class="govuk-grid-column-one-half">
            {{ govukSummaryList({
              card: {
                title: {
                  text: "Existing record"
                },
                actions: {
                  items: [
                    {
                      href: "/deactivate/show/" + match.id,
                      text: "View record",
                      visuallyHiddenText: "view record"
                    }
                  ]
                }
              },
              rows: [
                {
                  key: { text: "First name" },
                  value: { text: "Richard" }
                },
                {
                  key: { text: "Middle name" },
                  value: {html: '<mark class="hods-highlight"><strong>' + 'Not provided' + '</strong></mark>' }
                },
                {
                  key: { text: "Last Name" },
                  value: { text: "Porter" }
                },
                {
                  key: { text: "Date of birth" },
                  value: { text: "	27 April 1970" }
                },
                {
                  key: { text: "Email" },
                  value: { html: '<mark class="hods-highlight"><strong>' + '	rich.porter@gmail.com' + '</strong></mark>' }
                },
                {
                  key: { text: "NI number" },
                  value: { html: '<mark class="hods-highlight"><strong>' + 'Not provided' + '</strong></mark>' }
                }
                
              ]
            }) }}
          </div>
        </div>

        {# <p>{{ record.id }}</p> #}
     

       

       {{ govukRadios({
          name: "mergeRecord",
          fieldset: {
            legend: {
              text: "Are they the same person?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, I want to create a new record",
              text: "No, I want to create a new record"
            }
          ]
        }) }}
        
        <form method="get" action="select-data-updated">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
        
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: "javascript:window.history.back()"
            }) }}
          </div>
        </form>
    
  </div>
</div>

{% endblock %}
