{% extends "layouts/nav-test.html" %}

{% set captionName = "Support tasks" %}
{% set pageName="Get a TRN requests" %}
{% set serviceNavId = "supportTasks" %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    {{ govukNotificationBanner({
      type: "success",
      html: '
        <div class="banner-flex">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Record updated for Richard Sara Porter.<br><a href="/support-tasks/create-record/from-trn-request/get-a-trn/updated?recordId={{ recordId }}">View record</a>
          </h2>
        </div>'
    }) }}

    

<span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <div class="app-search-form">
      <form method="post" action="/find-teacher">
        {{ govukInput({
            id: "find-record",
            name: "findRecord",
          label: {
              text: "Search",
              classes: "govuk-label--s app-search-form__label"
          },
          hint: {
            text: "TRN, name or date of birth, for example 4/3/1975"
          },
          value: data.findRecord
        }) }}

        {{ govukButton({
          text: "Search",
          classes: "app-search-form__button"
        }) }}
      </form>
    </div>
</div>

<div class="govuk-grid-column-full">
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Email</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Duplicate</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      
        

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Amelia Fraser</a></td>
            <td class="govuk-table__cell">amelia.fraser@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              12 Jan 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Thomas Reid</a></td>
            <td class="govuk-table__cell">thomas.reid@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              03 Feb 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Lily Grant</a></td>
            <td class="govuk-table__cell">lily.grant@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              18 Dec 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Ethan Doyle</a></td>
            <td class="govuk-table__cell">ethan.doyle@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              24 Mar 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Sophie Newton</a></td>
            <td class="govuk-table__cell">sophie.newton@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              09 Apr 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Jack Morrison</a></td>
            <td class="govuk-table__cell">jack.morrison@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              27 Jan 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Ruby Khan</a></td>
            <td class="govuk-table__cell">ruby.khan@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              15 Feb 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Oscar Bennett</a></td>
            <td class="govuk-table__cell">oscar.bennett@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              05 May 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Zara Patel</a></td>
            <td class="govuk-table__cell">zara.patel@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              11 Mar 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Leo Armstrong</a></td>
            <td class="govuk-table__cell">leo.armstrong@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              28 Apr 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Maya Russell</a></td>
            <td class="govuk-table__cell">maya.russell@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              07 May 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Nathan Cooper</a></td>
            <td class="govuk-table__cell">nathan.cooper@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              14 May 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Holly Bryant</a></td>
            <td class="govuk-table__cell">holly.bryant@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              19 May 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">No</strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link">Caleb Marsh</a></td>
            <td class="govuk-table__cell">caleb.marsh@example.com</td>
            <td class="govuk-table__cell" data-sort-value="{{req.dateOfTrnRequest}}">
              23 May 2025
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Yes</strong>
            </td>
          </tr>
          
          
        
      </tbody>
    </table>


</div>
</div>

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

{% endblock %}
