{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = "Support tasks" %}
{# {% set pageName = "Check details before updating primary record %} #}
{% set pageName = "Check details before merging records" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ record | log }}

    <span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l">Check details before updating primary record</h1>

    <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Details of the merged record</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> details of the merged record</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">First name</dt>
        <dd class="govuk-summary-list__value">Richard</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Middle name</dt>
        <dd class="govuk-summary-list__value">Sara</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last name</dt>
        <dd class="govuk-summary-list__value">Porter</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">27 April 1970</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">rich.p@gmail.com</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">National Insurance number</dt>
        <dd class="govuk-summary-list__value">XX 52 20 24 D</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">TRN</dt>
        <dd class="govuk-summary-list__value">123456</dd>
      </div>
      <!-- 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Comments</dt>
        <dd class="govuk-summary-list__value">None added</dd>
      </div>-->
    </dl>
  </div>
</div>

    
    
    <form method="post" action="list-accepted">
      <input type="hidden" name="recordId" value="{{ record.id }}">
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">Confirm and update primary record</button>
        <a href="javascript:window.history.back()" class="govuk-button govuk-button--secondary">Cancel</a>
      </div>
    </form>

    


  </div>
</div>

{% endblock %}

