{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %}


{% set pageName =  record.fullName %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

        {{ govukSummaryList({
          card: {
            title: {
              text: "Personal Details"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "personal details"
                }
              ]
            }
          },
          rows: [
            {
              key: { text: "Name" },
              value: { text: record.fullName }
            },
            {
              key: { text: "Date of birth" },
              value: { text: record.dateOfBirth }
            },
            {
              key: { text: "Email" },
              value: {
                html: '<ul class="govuk-list govuk-list--bullet"><li>' + record.email + '</li></ul>'
              }
            },
            {
              key: { text: "National Insurance number" },
              value: { text: record.nationalInsuranceNumber or "Not provided" }
            },
            {
              key: { text: "Teacher reference number (TRN)" },
              value: { text: record.trn or "Not assigned" }
            },
            {
              key: { text: "Gender" },
              value: { text: record.gender or "Not provided" }
            },
            {
              key: { text: "Mobile number" },
              value: { text: record.mobile or "Not provided" }
            }
          ]
        }) }}


    </div>
  </div>
{% endblock %}
