{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "general" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<pre>
  
  recordId: {{ recordId }}
  
</pre>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ record.fullName }}</h1>

      {{ record | log }}
      <p>{{ record.id }}</p>
      <p>{{ record.id }}</p>

      {% include "_includes/secondary-navigation.njk" %}  

      {{ govukSummaryList({
        card: {
          title: {
            text: "Personal Details"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "personal details"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "Name" },
            value: { html: record.fullName }
          },
          {
            key: { text: "Date of birth" },
            value: { text: record.dateOfBirth }
          },
          {
            key: { text: "Email" },
            value: {
              html: '<ul class="govuk-list govuk-list--bullet"><li>' + record.email + '</li></ul>'
            }
          },
          {
            key: { text: "National Insurance number" },
            value: { text: record.nationalInsuranceNumber }
          },
          {
            key: { text: "Teacher reference number (TRN)" },
            value: { text: record.trn }
          },
          {
            key: { text: "Gender" },
            value: { text: record.gender }
          },
          {
            key: { text: "Mobile number" },
            value: { text: record.mobile or "Not provided" }
          }
        ]
      }) }}
      
      
    

  </div>
</div>

{% endblock %}