{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
Further checks required (previously definite matches) screen index
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/551065fb-8c72-4ace-a977-ede18cef5649/edit?viewport_loc=-517600%2C851950%2C48000%2C23350%2C0_0&invitationId=inv_b2dde79d-02b4-4538-8ad3-c66b27d25ba9" target="_blank">Design board</a>
  </p>

<h2 class="govuk-heading-s">
Upon picking up the task:
  </h2>


  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="pick-up/support-tasks-index">Support tasks index</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         New landing page (tiles)
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="pick-up/list">List of requests</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        New column for status
         
          </p>
        </td>
      </tr>

      
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="pick-up/review">Review request</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         "Incoming" request page.
          </p>
        </td>
      </tr>
      
       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="pick-up/list-after">List of requests after changing status</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       List view with success banner.
          </p>
        </td>
      </tr>
   </tbody>
  </table>
    


  <h1 class="govuk-heading-s">Upon return (after finishing offline checks)</h1>
<table class="govuk-table">
<thead class="govuk-table__head">
   <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
            <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="return/support-tasks-index">Support tasks index</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         New landing page (tiles)
         
          </p>
        </td>
      </tr>

      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="return/list">List of requests</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
        New column for status
         
          </p>
        </td>
      </tr>

      
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="return/review">Review request</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
         "Incoming" request page.
          </p>
        </td>
      </tr>
      
       <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="return/list-after">List of requests after changing status</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
       List view with success banner.
          </p>
        </td>
      </tr>
   </tbody>
  </table>




 
         
  
{% endblock %}
