{{data.retainFirstName | log}}
{{data.retainMiddleName | log}}
{{data.retainDOB | log}}
{{data.retainEmail | log}}
{{data.retainnationalInsuranceNumber | log}}
{{data.retainTRN | log}}
{{data.makeMergeComment | log}}
{{data.combineTheseSelections | log}}

{{ govukSummaryList({
      card: {
      title: {
        text: "Personal Details"
      },
      actions: {
        items: [
          {
            href: "/personal-details/details",
            text: "Change",
            visuallyHiddenText: "personal details"
          }
        ]
      }
    },
  rows: [
    {
      key: { text: "First name" },
      value: { html: data.retainFirstName or "Not selected" }
    },
    {
      key: { text: "Middle name" },
      value: { html: data.retainMiddleName or "Not selected" }
    },
    {
      key: { text: "Last name" },
      value: { html: data.retainLastName or "Not selected" }
    },
    {
      key: { text: "Date of birth" },
      value: { html: data.retainDOB or "Not selected" }
    },
    {
      key: { text: "Email address" },
      value: { html: data.retainEmail or "Not selected" }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: data.retainnationalInsuranceNumber or "Not selected" }
    },
    {
      key: { text: "TRN" },
      value: { html: data.retainTRN or "Not selected" }
    }
  ]
}) }}



