{{ govukWarningText({
  text: "These include the details you selected from the secondary record.",
  iconFallbackText: "Warning"
}) }}


<h2 class="govuk-heading-m">Primary record</h2>

{{ data.firstNameA | log }}
{{ data.middleNameA | log }}
{{ data.lastNameA | log }}
{{ data.dateOfBirthA | log }}
{{ data.emailA | log }}
{{ data.nationalInsuranceNumberA | log }}
{{ data.trnA | log }}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: data.deactivate[0].firstName }
    },
    {
      key: { text: "Middle name" },
      value: { html: data.retainMiddleName }
    },
    {
      key: { text: "Last Name" },
      value: { html: data.deactivate[0].lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { html: data.retainDOB }
    },
    {
      key: { text: "Email address" },
      value: { html: data.retainEmail }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: data.retainnationalInsuranceNumber }
    },

    {
      key: { text: "TRN" },
      value: { html: data.retainTRN }
    },
     {
      key: { text: "Comments" },
      value: { html: data.makeMergeComment }
    }
  ]
}) }}



