{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "alerts" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}
{% set questionName = "Delete route" %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{pageName}}</span>
    <h1 class="govuk-heading-l"> {{questionName}}</h1>

    {{ data.teachers | log }}
    {{ teacher.inductionStatus | log }}
    {{ teacher.trn | log }}
    {{ data.newInductionStatus | log }}
 
      <form method="post" novalidate>
        

        {% set anotherDeleteReason %}
        {{ govukTextarea({
            id: "another-delete-reason",
            name: "anotherDeleteReason",
            classes: "govuk-!-width-one-half",
            label: {
              text: "Add delete reason",
              classes: "govuk-label--s"
            },
            value: data.anotherDeleteReason
          }) }}
        {% endset %}


        {{ govukRadios({
          name: "deleteRouteReason",
          fieldset: {
            legend: {
              text: "Reason for deleting route",
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "The route was created in error",
              text: "The route was created in error"
            },
            
            {
              value: "I have another reason to delete this route",
              text: "I have another reason to delete this route",
              conditional: {
                html: anotherDeleteReason
              }
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
    </form>

    <p class="govuk-body">
      <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
    </p>
  </div>
</div>

{% endblock %}
