{% extends "layouts/main.html" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}
{% set questionName = "Check details to complete route to professional status" %}

{% set subjectChoices %}
  <ul class="govuk-list">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}

{% set exemptionReasons %}
 <ul class="govuk-list">
  {% for reason in data.inductionExemptionReason%}
  <li>
    {{reason}}
  </li>
  {% endfor %}
 </ul>
{% endset %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "End date"
            },
            value: {
              text:  data | isoDateFromDateInput('routeCompleteEndDate') | govukDate
            },
            actions: {
              items: [
                {
                  href: "/route-information/subjects?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          },

          {
            key: {
              text: "Award date"
            },
            value: {
              text:  data | isoDateFromDateInput('routeAwardDate') | govukDate
            },
            actions: {
              items: [
                {
                  href: "/route-information/subjects?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          },

          {
            key: {
              text: "Has exemption"
            },
            value: {
              html: data.hasRouteExemption
            },
            actions: {
              items: [
                {
                  href: "/route-information/subjects?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          }
			  ]
      }) }}

      

      <form method="post" action="/check-handler">
        {{ govukButton({
          text: "Confirm and complete route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

      {{ data.hasRouteExemption | log }}
      {{ data | isoDateFromDateInput('routeAwardDate') | govukDate | log }}
      {{ data | isoDateFromDateInput('routeCompleteEndDate') | govukDate | log }}

    
  </div>
</div>

{% endblock %}
