{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set captionName = "Support tasks" %}
{% set pageName = "Possible duplicate record" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>

      {{ govukTable({
        caption: "Record to be created",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: "app-custom-class"
          },
          {
            text: "Date of birth",
            classes: "app-custom-class"
          },
          {
            text: "Email address",
            classes: "app-custom-class"
          },
          {
            text: "National insurance number",
            classes: "app-custom-class"
          }
        ],
        rows: [
          [
            {
              text: data.createRecordFullName
            },
            {
              text: data | isoDateFromDateInput('createRecordDateOfBirth') | govukDate
            },
            {
              text: data.createRecordEmail
            },
            {
              text: data.createRecordNationalInsuranceNumber
            }
          ]
        ]
      }) }}


        {% include "_includes/support-tasks/duplicate-record-table.njk" %}
      
       {# {% include "_includes/support-tasks/duplicate-record-card.njk" %} #}



      <form method="post" action="/check-confirm">

        {{ govukRadios({
          name: "samePerson",
          fieldset: {
            legend: {
              text: "Are they the same person?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes, use the duplicate above"
            },
            {
              value: "No",
              text: "No, create a new record"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Confirm and create record"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
