{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Potential match found" %}




{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{captionName}}</span>
      <h1 class="govuk-heading-l"> {{pageName}}</h1>

      <form method="post" novalidate>

      {{ govukTable({
        caption: "Details you entered",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: "app-custom-class"
          },
          {
            text: "Date of birth",
            classes: "app-custom-class"
          },
          {
            text: "Email address",
            classes: "app-custom-class"
          },
          {
            text: "National insurance number",
            classes: "app-custom-class"
          }
        ],
        rows: [
          [
            {
              text: data.createRecordFirstName + " " + data.createRecordMiddleName + " " + data.createRecordLastName
            },
            {
              text: data | isoDateFromDateInput('createRecordDateOfBirth') | govukDate
            },
            {
              text: data.createRecordEmail
            },
            {
              text: data.createRecordNationalInsuranceNumber
            }
          ]
        ]
      }) }}


      
      {{ govukTable({
        caption: "Existing record",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: "app-custom-class"
          },
          {
            text: "Date of birth",
            classes: "app-custom-class"
          },
          {
            text: "Email address",
            classes: "app-custom-class"
          },
          {
            text: "National insurance number",
            classes: "app-custom-class"
          }
        ],
        rows: [
          [
            {
              text: data.person[0].firstName + " " + data.person[0].middleName + " " + data.person[0].lastName
            },
            {
              text: data | isoDateFromDateInput('createRecordDateOfBirth') | govukDate
            },
            {
              text: data.person[0].email
            },
            {
              text: data.person[0].nationalInsurance
            }
          ]
        ]
      }) }}


        {{ govukRadios({
          name: "samePerson",
          fieldset: {
            legend: {
              text: "Are they the same person?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No, create a new record"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Finish"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
