{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "createRecord" %}

{% set captionName = "Support tasks" %}
{% set pageName = "Create record" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data.teachers %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{captionName}}</span>
    <h1 class="govuk-heading-l"> {{pageName}}</h1>

      {{ data.teachers | log }}
      {{ data.chooseQtsRoute | log }}


      {# {% include "_includes/support-tasks/secondary-navigation.njk" %} #}
      
      
      <form method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s govuk-input--width-10"
          },
          id: "full-name",
          name: "createRecordFullName",
          autocomplete: "name",
          spellcheck: false,
          classes: "govuk-input--width-20",
          value: data.createRecordFullName
        }) }}


        {{ govukDateInput({
          id: "createRecordDateOfBirth",
          namePrefix: "createRecordDateOfBirth",
          fieldset: {
            legend: {
              text: "Date of birth",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          value: data.createRecordDateOfBirth
        }) }}


        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          id: "createRecordEmail",
          name: "createRecordEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-20",
          value: data.createRecordEmail
        }) }}

        
        {{ govukInput({
          label: {
            text: "National Insurance number (Optional)",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’"
          },
          value: data.createRecordNationalInsuranceNumber,
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "create-record-national-insurance-number",
          name: "createRecordNationalInsuranceNumber",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      
      

  </div>
</div>

{% endblock %}
