{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = "Create record" %}
{% set pageName = task.reference %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l"></span>{{captionName}}</span>
    <h1 class="govuk-heading-l">Create record for {{pageName}}</h1>

    {{ govukButton({
      text: "Create record",
      href: "/create-record/from-trn-request/check"
    }) }}

    <!--Put your list of things here-->
    {# {% include "_includes/support-tasks/create-from-trn/trn-request-details.njk" %} #}

    {% include "_includes/support-tasks/create-from-trn/trn-request-reason-evidence.njk" %}

  </div>
</div>

{% endblock %}

