{% extends "layouts/main.html" %}

{% set serviceNavId = "supportTasks" %} 
{% set secondaryNavId = "allTasks" %}

{% set captionName = task.dateOfTrnRequest %}
{% set pageName = task.reference %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Request made {{captionName}}</span>
    <h1 class="govuk-heading-l">Reference: {{pageName}}</h1>

    <!--Put your list of things here-->
    {% include "_includes/support-tasks/create-from-trn/trn-request-details.njk" %}

  </div>
</div>

{% endblock %}

