<div class="hods-timeline">
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Induction Status change
    </h2>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-03-15T16:27:00.000Z"
      >
        by Erica Francoise-Smith on {{ "now" | govukDateTime }} at  {{ "now" | govukTime }}
      </time>
    </p>
    <p class="hods-timeline__description">
      <b>Status chaged to: </b>{{ data["newInductionStatus"] }}<br>
      <b>Change reason: </b>{{ data["statusChangeReason"] }}
    </p>
  </div>
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Alert details changed
    </h2>
    <p class="hods-timeline__by">
    </p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-03-15T10:04:00.000Z"
      >
        By Komal Nazir on 2 January 2024 at 2:11pm
      </time>
    </p>
    <p class="hods-timeline__description">
      Teacher sanctioned in other EEA member state
    </p>
  </div>
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Route to Professional Status changed
    </h2>
    <p class="hods-timeline__by"></p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-01-25T09:35:00.000Z"
      >
        By Komal Nazir 25 January 2021 at 9:35am
      </time>
    </p>
    <p class="hods-timeline__description">
      This is a description of the event.
    </p>
  </div>
</div>