{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 

{% set headingName = "Check personal details and confirm changes" %}
{% set captionName = data.fullName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ headingName }}</h1>

      
      {{ data | log }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Personal Details"
          },
          actions: {
            items: [
              {
                href: "/personal-details/details?returnUrl",
                text: "Change",
                visuallyHiddenText: "personal details"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text:  data.personalDetailsFirstName + " " +  data.personalDetailsMiddleName + " " +  data.personalDetailsLastName
            }
          },
          {
            key: {
              text: "Previous name"
            },
            value: {
              text:  data.person[0].fullName
            } 
          } if data.personalDetailsFirstName or data.personalDetailsMiddleName or data.personalDetailsLastName ,
          {
            key: {
              text: "Teacher reference number (TRN)"
            },
            value: {
              text: data.person[0].trn
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data | isoDateFromDateInput('personalDetailsDateOfBirth') | govukDate
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
               text: data.personalDetailsEmail
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: data.personalDetailsNationalInsuranceNumber
            }
          },
          {
            key: {
              text: "Sex"
            },
            value: {
              html: data.personalDetailsSex
            }
          },
          
          {
            key: {
              text: "Mobile number"
            },
            value: {
               text: data.personalDetailsPhoneNumber
            }
          },

          {
            key: {
              text: "Reason for change"
            },
            value: {
               text: data.createRecordReason
            }
          } if data.createRecordReason,

          {
            key: {
              text: "Evidence"
            },
            value: {
               text: data.evidenceFile
            }
          } if data.evidenceFile
        ]
      }) }}


      <form method="post">
        {{ govukButton({
          text: "Confirm changes"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>
    </div>
  </div>
{% endblock %}
