{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set headingName = "Check personal details and confirm changes" %}
{% set captionName = data.person[0].fullName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ headingName }}</h1>


      {{ govukSummaryList({
        card: {
          title: {
            text: "Personal Details"
          },
          actions: {
            items: [
              {
                href: "/personal-details/details?returnUrl",
                text: "Change",
                visuallyHiddenText: "personal details"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "Name" },
            value: { html: data.personalDetailsFirstName + " " + data.personalDetailsMiddleName + " " + data.personalDetailsLastName }
          },
          {
            key: { text: "Previous name" },
            value: { html: data.person[0].fullName }
          } if data.personalDetailsFirstName + " " + data.personalDetailsMiddleName + " " + data.personalDetailsLastName,
          {
            key: { text: "Date of birth" },
            value: { text: data | isoDateFromDateInput('personalDetailsDateOfBirth') | govukDate }
          },
          {
            key: { text: "Email address" },
            value: { text: data.personalDetailsEmail }
          },
          {
            key: { text: "National Insurance number" },
            value: { text: data.personalDetailsNationalInsuranceNumber }
          } if data.personalDetailsNationalInsuranceNumber,
          {
            key: { text: "Sex" },
            value: { text: data.personalDetailsSex }
          },
          {
            key: { text: "Reason for creating record" },
            value: { text: data.createRecordReason }
          } if not moreDetailsTextArea,
          {
            key: { text: "Evidence" },
            value: {
              html: '<p class="govuk-body"><a href="#" class="govuk-link">' + data.evidenceFile + '</a>.</p>'
            }
          } if data.evidenceFile
        ]
      }) }}


      <form method="post">
        {{ govukButton({
          text: "Confirm changes"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>
    </div>
  </div>
{% endblock %}
