{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set headingName = "Check personal details and confirm changes" %}
{% set captionName = data.person[0].fullName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ headingName }}</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: { text: "First name" },
            value: { html: data.personalDetailsFirstName },
            actions: { items: [{ href: "/personal-details/details", text: "Change", visuallyHiddenText: "personal details" }] }
          },
          {
            key: { text: "Middle name" },
            value: { html: data.personalDetailsMiddleName }
          } if data.personalDetailsMiddleName,
          {
            key: { text: "Last name" },
            value: { html: data.personalDetailsLastName }
          },
          {
            key: { text: "Date of birth" },
            value: { text: data | isoDateFromDateInput('personalDetailsDateOfBirth') | govukDate }
          },
          {
            key: { text: "Email address" },
            value: { text: data.personalDetailsEmail }
          },
          {
            key: { text: "National Insurance number" },
            value: { text: data.personalDetailsNationalInsuranceNumber }
          } if data.personalDetailsNationalInsuranceNumber,
          {
            key: { text: "Sex" },
            value: { text: data.personalDetailsSex }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Why are you creating this record?</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: { text: "Reason for creating record" },
            value: { text: data.createRecordReason },
            actions: { items: [{ href: "/personal-details/details", text: "Change", visuallyHiddenText: "reason details" }] }
          } if not moreDetailsTextArea,
          {
            key: { text: "Evidence" },
            value: {
              html: '<p class="govuk-body"><a href="#" class="govuk-link">' + data.evidenceFile + '</a>.</p>'
            }
          } if data.evidenceFile
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm changes"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>
    </div>
  </div>
{% endblock %}
