{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "general" %}


{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/find-teacher"
  }) }}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      {{ govukNotificationBanner({
        type: "success",
        html: '<h2 class="govuk-heading-m">'+flash+'</h2>'
      }) if flash.length }}

      <h1 class="govuk-heading-l">{{ data.person[0].fullName }}</h1>

      {{ data.teachers | log }}
      {{ updatedData | log }}


      {% include "_includes/personal-details/secondary-navigation.njk" %}
      
      {% if data.personalDetailsFirstName %}
        {% include "_includes/personal-details/updated-personal-details.njk" %} 
      {% else  %}
        {% include "_includes/personal-details/original-personal-details.njk" %}  
      {% endif %}


      

  </div>
</div>

{% endblock %}
