{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
ITR screen index
  </h1>

  <p>
    <a href="https://lucid.app/lucidspark/bfc7e982-9d47-4fe5-ae99-2a66173de942/edit?viewport_loc=-13262%2C13338%2C24000%2C11675%2C0_0&invitationId=inv_2a0e0b2a-2e7b-44e5-be3c-59b66a320a48" target="_blank">Design & UR planning board</a>
  </p>
  
         

  <h2 class="govuk-heading-m">Happy path</h2>
  <p>
    Showing 0 errors but 1 duplicate in the first row. Also has an 'export errors' button.
  </p>
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="happy-path/sign-in">Sign in page</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          Journey start.
            <br>
           The existing screen.
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          
          <p><a href="happy-path/find-teacher">Records (find teacher)</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          The existing screen.
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <p><a href="happy-path/support-tasks-index">New support tasks landing page</a></p>
            
          </td>
          <td class="govuk-table__cell">
            <p>
            New screen.
              <br>
            Shows tiles in place of a filtered list.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
               
            <p><a href="happy-path/interfaces">Interfaces</a></p>
              
              
            </td>
            <td class="govuk-table__cell">
              <p>
              Sortable interfaces list. The first item (ID 115141) shows a detailed ITR.
               
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                 
              <p><a href="happy-path/itr">ITR</a></p>
                
                
              </td>
              <td class="govuk-table__cell">
                <p>
                Page showing all rows within an ITR.
                 
                </p>
              </td>
            </tr>
            <tr class="govuk-table__row">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                   
                <p><a href="happy-path/detail">Row details</a></p>
                  
                  
                </td>
                <td class="govuk-table__cell">
                  <p>
                  Page showing details of a given row.
                   
                  </p>
                </td>
              </tr>
              <tr class="govuk-table__row">
      
    </tbody>
  </table>


  <h2 class="govuk-heading-m">Unhappy path</h2>
  <p>
    Showing 20 errors total and a few duplicates. First two rows have row details screens.
  </p>
  <table class="govuk-table">
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
       
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
        <th scope="col" class="govuk-table__header app-custom-class">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
       
        <td class="govuk-table__cell">
          
          <p><a href="unhappy-path/sign-in">Sign in page</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          Journey start.
            <br>
           The existing screen.
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          
          <p><a href="unhappy-path/find-teacher">Records (find teacher)</a></p>
          
        </td>
        <td class="govuk-table__cell">
          <p>
          The existing screen.
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            
            <p><a href="unhappy-path/support-tasks-index">New support tasks landing page</a></p>
            
          </td>
          <td class="govuk-table__cell">
            <p>
            New screen.
              <br>
            Shows tiles in place of a filtered list.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
               
            <p><a href="unhappy-path/interfaces">Interfaces</a></p>
              
              
            </td>
            <td class="govuk-table__cell">
              <p>
              Sortable interfaces list. The first item (ID 115141) shows a detailed ITR.
               
              </p>
            </td>
          </tr>
          <tr class="govuk-table__row">


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                 
              <p><a href="unhappy-path/itr">ITR</a></p>
                
                
              </td>
              <td class="govuk-table__cell">
                <p>
                Page showing all rows within an ITR.
                 
                </p>
              </td>
            </tr>
            <tr class="govuk-table__row">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                   
                <p><a href="unhappy-path/z_details">Row details for row ID 1 (error + duplicate)</a></p>
                  
                  
                </td>
                <td class="govuk-table__cell">
                  <p>
                  Page showing details of a given row.
                   
                  </p>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                   
                <p><a href="unhappy-path/y_details">Row details for row ID 2 (error only)</a></p>
                  
                  
                </td>
                <td class="govuk-table__cell">
                  <p>
                  Page showing details of a given row.
                   
                  </p>
                </td>
              </tr>


      
    </tbody>
  </table>
{% endblock %}
