{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add and manage users – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    classes: "govuk-header__container--full-width",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block main %}

{{ govukServiceNavigation({
  serviceName: "Teaching Records System",
  serviceUrl: "#",
  navigation: [
    {
      href: "general/index",
      text: "Find a record"
    },
    {
      href: "#",
      text: "Support tasks",
      active: true
    },
    {
      href: "permissions/overview",
      text: "Add and manage users"
    }
  ]
}) }}


  

  

  <div class="govuk-width-container">


    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <nav class="govuk-breadcrumbs govuk-!-padding-bottom-4" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../support-tasks">Support tasks</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="interfaces">Interfaces</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="interfaces">File details</a>
              </li>
              
            </ol>
          </nav>
         
          <span class="govuk-caption-l">Capita Import</span>
          <h1 class="govuk-heading-l">Row details</h1>

          <p class="govuk-body govuk-!-padding-bottom-4">
            Row ID: <b>1</b>
            <br>
            Status: <b>Fail</b>
            <br>
            Linked record: <b><a class=govuk-link href="../general/itr-record">Joseph Stubbersfield</a></b>
          </p>
      

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Row data
              </dt>
              <dd class="govuk-summary-list__value">
                4063484;1;Joseph;Stubbersfield;;16851218;JR499242C;;;;;;;;;;;;;;;;;;;;;
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Failure message
              </dt>
              <dd class="govuk-summary-list__value">
                General error: Date is less than the minimum value support by CrmDateTime. Actual value: 12/18/1685, Minimum value supported: 01/01/1753 00:00:00
              </dd>
            </div>
          
      
          </dl>


          <p class="govuk-body">
            <a href="itr" class="govuk-link">Back to integration transaction records</a>
          </p>
        

    </div>
  </div>
</main>
</div>
{% endblock %}