{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukInsetText({
        text: "A professional status will be added when you confirm this route."
      }) }}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route"
            },
            value: {
              text: data.chooseQtsRoute
            },
            actions: {
              items: [
                {
                  href: "/change-qts-route",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "SET membership number"
            },
            value: {
              text: data.setMemberNumber
            },
            actions: {
              items: [
                {
                  href: "/qtls-and-set/set-member-number?returnUrl=/qtls-and-set/check",
                  text: "Change",
                  visuallyHiddenText: "set membership number"
                }
              ]
            }
          },
          {
            key: {
              text: "QTS equivalent award date"
            },
            value: {
              text: data['qtlsAndSetEquivalentDate-day'] + " " + data['qtlsAndSetEquivalentDate-month'] + " " + data['qtlsAndSetEquivalentDate-year']
            },
            actions: {
              items: [
                {
                  href: "/qtls-and-set/award-date?returnUrl=/qtls-and-set/check",
                  text: "Change",
                  visuallyHiddenText: "award date"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/qtls-and-set/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
