
{# <p class="govuk-body">Information being retained from the existing record is <mark class="hods-highlight"><strong>highlighted</strong></mark></p> #}
<h2 class="govuk-heading-m">Details of the merged record</h2>

{# <p>{{ record.id }}</p> #}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: record.firstName }
    },
    {
      key: { text: "Middle name" },
      value: { html: record.middleName }
    } if record.middleName,
    {
      key: { text: "Last Name" },
      value: { html: record.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: record.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<ul class="govuk-list"><li>' +record.email+ '</li></ul>'  }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: record.nationalInsuranceNumber }
    },
     {
      key: { text: "Gender" },
      value: { html: record.gender }
    },
    {
      key: { text: "TRN" },
      value: { html: data.duplicates[6].trn }
    }
  ]
}) }}



