{{ govukSummaryList({
  card: {
    title: {
      html: "Existing record"
    },
    actions: {
      items: [
        {
          href: "/deactivate/show/"+record.id,
          text: "View record",
          visuallyHiddenText: "view record"
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "First name" },
      value: { html: data.duplicates[3].firstName }
    },
    {
      key: { text: "Middle name" },
      value:  { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].middleName + '</strong></mark>' }
    } if data.duplicates[3].middleName,
    {
      key: { text: "Last Name" },
      value: { html: data.duplicates[3].lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: data.duplicates[3].dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].email + '</strong></mark>' }
    },
    {
      key: { text: "NI number" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].nationalInsuranceNumber + '</strong></mark>' }
    } if data.duplicates[3].nationalInsuranceNumber,
    {
      key: { text: "TRN" },
      value: { html:  data.duplicates[3].trn  }
    }
  ]
}) }}