{{ govukSummaryList({
  card: {
    title: {
      html: "Existing record"
    },
    actions: {
      items: [
        {
          href: "/deactivate/show/" + match.id,
          text: "View record",
          visuallyHiddenText: "view record"
        }
      ]
    }
  },
  rows: [
    {
      key: { text: "First name" },
      value: { html: match.firstName }
    },
    {
      key: { text: "Middle name" },
      value:  { html: '<mark class="hods-highlight"><strong>' + match.middleName + '</strong></mark>' }
    } if match.middleName,
    {
      key: { text: "Last Name" },
      value: { html: match.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: match.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<mark class="hods-highlight"><strong>' + match.email + '</strong></mark>' }
    },
    {
      key: { text: "NI number" },
      value: { html: '<mark class="hods-highlight"><strong>' + match.nationalInsuranceNumber + '</strong></mark>' }
    } if match.nationalInsuranceNumber,
    {
      key: { text: "TRN" },
      value: { html: match.trn }
    }
  ]
}) }}
