{{ govukWarningText({
  text: "Some words about merging & what is deactivated.",
  iconFallbackText: "Warning"
}) }}

 {{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: data.duplicates[4].firstName }
    },
    {
      key: { text: "Middle name (optional)" },
      value:  { html: '<mark class="hods-highlight"><strong>' + data.duplicates[4].middleName + '</strong></mark>' }
    } if data.duplicates[4].middleName,
    {
      key: { text: "Last Name" },
      value: { html: data.duplicates[4].lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: data.duplicates[4].dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[4].email + '</strong></mark>' }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[4].nationalInsuranceNumber + '</strong></mark>' }
    } if data.duplicates[4].nationalInsuranceNumber,
    {
      key: { text: "Sex" },
      value: { text: data.duplicates[4].gender }
    },
    {
      key: { text: "TRN" },
      value: { html: data.duplicates[4].trn }
    }
  ]
}) }}