{{ govukWarningText({
  text: "Some words about merging & consequences.",
  iconFallbackText: "Warning"
}) }}


{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: data.duplicates[3].firstName }
    },
    {
      key: { text: "Middle name (optional)" },
      value:  { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].middleName + '</strong></mark>' }
    } if data.duplicates[3].middleName,
    {
      key: { text: "Last Name" },
      value: { html: data.duplicates[3].lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: data.duplicates[3].dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].email + '</strong></mark>' }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].nationalInsuranceNumber + '</strong></mark>' }
    } if data.duplicates[3].nationalInsuranceNumber,
    {
      key: { text: "Sex" },
      value: { text: data.duplicates[3].gender }
    },
    {
      key: { text: "TRN" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].trn + '</strong></mark>' }
    }
  ]
}) }}