
{# <p class="govuk-body">Information being retained from the existing record is <mark class="hods-highlight"><strong>highlighted</strong></mark></p> #}
<h2 class="govuk-heading-m">Record details after merge</h2>


{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: record.firstName }
    },
    {
      key: { text: "Middle name" },
      value: { html: record.middleName }
    } if record.middleName,
    {
      key: { text: "Last Name" },
      value: { html: record.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: record.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { html: '<ul class="govuk-list govuk-list--bullet"><li>' +record.email+ '</li><li>' +data.duplicates[3].email+ '</li></ul>'  }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: data.duplicates[3].nationalInsuranceNumber }
    } if data.duplicates[3].nationalInsuranceNumber,
    {
      key: { text: "TRN" },
      value: { html: data.duplicates[3].trn }
    }
  ]
}) }}



