
{# { key: { text: "Potential duplicate" }, value: { html: '<span class="govuk-tag govuk-!-font-size-16 ' + task.potentialRecordMatch | statusColour + ' "> ' +  task.potentialRecordMatch + '</span>'} } if task.potentialRecordMatch == "Yes" #}



{{ govukWarningText({
  text: "Some earnest words about consequences. 😏",
  iconFallbackText: "Warning"
}) }}

<h2 class="govuk-heading-m">Merging the data will look like 👇</h2>
<p class="govuk-body">Information being retained from the existing record is <mark class="hods-highlight"><strong>highlighted</strong></mark></p>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: { text: "First name" },
      value: { html: task.firstName }
    },
    {
      key: { text: "Middle name (optional)" },
      value: { html: task.middleName }
    } if task.middleName,
    {
      key: { text: "Last Name" },
      value: { html: task.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: task.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { text: task.email }
    },
    {
      key: { text: "National Insurance number" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].nationalInsuranceNumber + '</strong></mark>' }
    } if data.duplicates[3].nationalInsuranceNumber,
    {
      key: { text: "Sex" },
      value: { text: data.duplicates[3].gender }
    },
    {
      key: { text: "TRN" },
      value: { html: '<mark class="hods-highlight"><strong>' + data.duplicates[3].trn + '</strong></mark>' }
    }
  ]
}) }}



