{{ govukTable({
  classes: "govuk-!-font-size-16",
  head: [
    {
      text: "First name"
    },
    {
      text: "Middle name"
    },
    {
      text: "Last name"
    },
    {
      text: "Date of birth"
    },
    {
      text: "National Insurance number"
    },
    {
      text: "Date of TRN request"
    },
    {
      text: "Actions"
    }
  ],
  rows: [
    [
      {
        text: "John"
      },
      {
        text: "Not given"
      },
      {
        text: "Doe"
      },
      {
        text: "12 April 1985"
      },
      {
        text: "Not given"
      },
      {
        text: "15 January 2024"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ],
    [
      {
        text: "Sarah"
      },
      {
        text: "Elizabeth"
      },
      {
        text: "Smith"
      },
      {
        text: "23 September 1990"
      },
      {
        text: "NZ 96 87 96 D"
      },
      {
        text: "2 February 2024"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ],
    [
      {
        text: "David"
      },
      {
        text: "James"
      },
      {
        text: "Brown"
      },
      {
        text: "7 July 1978"
      },
      {
        text: "Not given"
      },
      {
        text: "20 December 2023"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ],
    [
      {
        text: "Emily"
      },
      {
        text: "Not given"
      },
      {
        text: "Taylor"
      },
      {
        text: "30 November 1995"
      },
      {
        text: "XZ 45 78 32 A"
      },
      {
        text: "5 March 2024"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ],
    [
      {
        text: "James"
      },
      {
        text: "Andrew"
      },
      {
        text: "Wilson"
      },
      {
        text: "14 May 1982"
      },
      {
        text: "Not given"
      },
      {
        text: "10 April 2024"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ],
    [
      {
        text: "Olivia"
      },
      {
        text: "Not given"
      },
      {
        text: "Johnson"
      },
      {
        text: "8 August 1988"
      },
      {
        text: "TR 78 56 12 C"
      },
      {
        text: "25 January 2024"
      },
      {
        html: '<a href="#" class="govuk-link">Create record</a>'
      }
    ]
  ]
}) }}
