<table class="govuk-table govuk-!-font-size-16">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Requested on</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for trnRequest in data.trnRequests %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ trnRequest.reference }}</a></td> 
      <td class="govuk-table__cell">{{ trnRequest.supportTaskType }}</td>
      <td class="govuk-table__cell">{{ trnRequest.dateOfTrnRequest }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>