<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Email</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Requested on</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Possible duplicate</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for req in data.trnreq %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ req.firstName }} {{ req.lastName }}</a></td>
        <td class="govuk-table__cell">{{ req.email }}</td>
        <td class="govuk-table__cell" data-sort-value="{{ req.dateOfTrnRequest | date('YYYYMMDD') }}">
          {{ req.dateOfTrnRequest | date('D MMM YYYY') }}
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag 
            {% if req.caseStatus == 'Open' %}
              govuk-tag--blue
            {% elif req.caseStatus == 'Unassigned' %}
              govuk-tag--yellow
            {% elif req.caseStatus == 'On hold' %}
              govuk-tag--red
            {% else %}
              govuk-tag--grey
            {% endif %}
          ">
            {{ req.caseStatus }}
          </strong>
        </td>
        <td class="govuk-table__cell">
          {{req.potentialRecordMatch}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


