{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-3",
  rows: [
    {
      key: { text: "Potential duplicate" },
      value: { html: '<span class="govuk-tag govuk-!-font-size-16' + task.potentialRecordMatch | statusColour + ' "> ' +  task.potentialRecordMatch + '</span>'
 }
    } if task.potentialRecordMatch == "Yes",
    {
      key: { text: "Source of match" },
      value: { html: task.sourceOfMatch }
    } if task.potentialRecordMatch == "Yes",
    {
      key: { text: "First name" },
      value: { html: task.firstName }
    },
    {
      key: { text: "Middle name (optional)" },
      value: { html: task.middleName }
    } if task.middleName,
    {
      key: { text: "Last Name" },
      value: { html: task.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: task.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { text: task.email }
    },
    {
      key: { text: "National Insurance number" },
      value: { text: task.nationalInsuranceNumber }
    } if task.nationalInsuranceNumber,
    {
      key: { text: "Sex" },
      value: { text: task.gender }
    }
  ]
}) }}
   