{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-3",
  rows: [
    {
      key: { text: "First name" },
      value: { html: task.firstName }
    },
    {
      key: { text: "Middle name (optional)" },
      value: { html: task.middleName }
    },
    {
      key: { text: "Last Name" },
      value: { html: task.lastName }
    },
    {
      key: { text: "Date of birth" },
      value: { text: task.dateOfBirth }
    },
    {
      key: { text: "Email address" },
      value: { text: task.email }
    },
    {
      key: { text: "National Insurance number" },
      value: { text: task.nationalInsurance }
    } if task.nationalInsurance,
    {
      key: { text: "Sex" },
      value: { text: task.gender }
    }
  ]
}) }}
   