
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Requested on {{record.dateOfTrnRequest}}</h2>
     
     <p>{{record.id}}</p>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">First name</dt>
          <dd class="govuk-summary-list__value">{{record.firstName}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Middle name</dt>
          <dd class="govuk-summary-list__value">{{record.middleName}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last name</dt>
          <dd class="govuk-summary-list__value">{{record.lastName}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">{{record.dateOfBirth}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email</dt>
          <dd class="govuk-summary-list__value">{{record.email}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">TRN</dt>
          <dd class="govuk-summary-list__value">{{record.trn}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">National Insurance number</dt>
          <dd class="govuk-summary-list__value">{{record.nationalInsuranceNumber}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Provider</dt>
          <dd class="govuk-summary-list__value">[provider name]</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Course</dt>
          <dd class="govuk-summary-list__value">[course name]</dd>
        </div>
      </dl>
    </div>
  </div>




