{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "alerts" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l">Select a route to professional status</h1>

      {# <h3 class="govuk-heading-s">Initial teacher training</h3> #}
      
      <form method="post" novalidate>
      {{ govukRadios({
        name: "chooseQtsRoute",
        value: data.chooseQtsRoute,    
        items: [
          {
            value: "Initial teacher training",
            text: "ITT"
          },
          {
            value: "Assessment only",
            text: "Assessment only"
          },
          {
            value: "IQTS",
            text: "IQTS"
          },
          {
            value: "Apply for qualified teacher status",
            text: "Apply for qualified teacher status"
          },
          {
            value: "QTLS and SET ",
            text: "QTLS and SET "
          },
          {
            divider: "or"
          },
          {
            value: "Another route",
            text: "Another route"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

      <p class="govuk-body">
        <a href="general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
