{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "alerts" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l">How did they achieve their professional status?</h1>

      
      <form method="post" novalidate>
        
        {% include "_includes/autocompletes/routes/route-type-autocomplete.njk" %} 
        
        {% include "_includes/autocompletes/routes/route-type-legacy-autocomplete.njk" %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

      <p class="govuk-body">
        <a href="general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
