{% extends "layouts/main.html" %}

{% set pageName="Find a record" %}
{% set serviceNavId = "findRecord" %}
{% set secondaryNavId = "findRecord" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
      type: "success",
      html: '<h2 class="govuk-heading-m">'+flash + data.deactivate[0].firstName + " " + data.deactivate[0].lastName +'</h2>'
    }) if flash.length }}



    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {% include "_includes/support-tasks/secondary-navigation-find-record.njk" %}

    {% include "_includes/search-form.njk" %}
    
  </div>
</div>

{% endblock %}

{# value: data.findRecord #}