{% extends "layouts/main.html" %}

{% set pageName = "TRS Prototype" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Screen index</h1>

       <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Create a record</caption>
       <caption class="govuk-table__caption govuk-caption-s">July 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!-- Create a record -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="create-record/_screen-index">Create a record screen index</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
           Existing designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
              This design has been adapted from an earlier iteration already present in this prototype. It has been re-formatted to include new gender options.
            </p>
          </td>
        </tr>
         </tbody>
        </table>

         <!-- Multiple matches -->
           <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Multiple matches</caption>
       <caption class="govuk-table__caption govuk-caption-s">July 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="multiple-matches/_screen-index">Multiple matches</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
           Existing designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
              Detached from the old prototype to make it more easily accessible. This shows the screens for the 'multiple matches' duplicates journey.
            </p>
          </td>
        </tr>
         </tbody>
        </table>

            <!-- Manual merge -->
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Manual merge</caption>
       <caption class="govuk-table__caption govuk-caption-s">June 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="manual-merge/_screen-index">Manual merge</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
            Existing designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
          Updated designs for the manual merge journey. These designs have a new button on each record to trigger the manual merge.
            </p>
          </td>
        </tr>
        </tbody>
        </table>

 <!-- Definite match -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Notes</caption>
       <caption class="govuk-table__caption govuk-caption-s">June 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="notes/index">Prototype link</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
            Updated designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>  <a href="notes/index">Notes</a> - showing the new add a note button. Note that the layout may not show correctly due to conflicts with the old prototype.</li>
                <li><a href="notes/new-note">Add a new note</a> - Shows the option to add a new note.</li>
                <li><a href="notes/new-note-added">New note added</a> - Shows the view after a new note has been added. The secondary navigation may not show due to conflicts with the old prototype.</li>
              </ul>
            <a href="notes/index">
            </p>
          </td>
        </tr> 
      </tbody>
        </table>

        <!-- Definite match -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Further checks</caption>
       <caption class="govuk-table__caption govuk-caption-s">May 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="definite-match/_screen-index">Further checks required</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            New designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
            New designs for the 'Further checks required' duplicates journey. Includes an interruption page for offline checks.
            </p>
          </td>
        </tr> 
      </tbody>
        </table>


         <!-- Navigation -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Navigation</caption>
       <caption class="govuk-table__caption govuk-caption-s">May 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="navigation/_screen-index">Navigation</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            New designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
            Brand new design for navigation and restructuring the service to be more easily parsed. Introduction of a new service landing page with tiles.
            </p>
            <p>
                <span class="govuk-tag govuk-tag--red">
            WARNING
            </span>
            Note that you have to click on 'launch prototype' first to select a role, otherwise the layout will not show any content.
            </p>
          </td>
        </tr> 
      </tbody>
        </table>


        <!-- PII -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">PII</caption>
       <caption class="govuk-table__caption govuk-caption-s">April 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="pii/_screen-index">PII screen index</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--yellow">
            Updated designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
              Updated screens following new requirements for gender radios and change reasons. This only takes the 'edit' route into consideration. To see the new gender options upon adding a new record manually, use <a href="create-record/_screen-index">this</a>.
          
            </p>
          </td>
        </tr> 
      </tbody>
        </table>


          <!-- ITRs -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Permissions</caption>
       <caption class="govuk-table__caption govuk-caption-s">March/April 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="itrs/_screen-index">ITRs screen index</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            New designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
            ITRs designs.
            </p>
             <p>
                <span class="govuk-tag govuk-tag--red">
            WARNING
            </span>
           The file details table is randomly generated rather than hardcoded, so information within the table is always randomised.
            </p>
          </td>
        </tr> 
      </tbody>
        </table>


          <!-- Permissions -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Permissions</caption>
       <caption class="govuk-table__caption govuk-caption-s">February/March 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="permissions/_screen-index">Permissions screen index</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            New designs
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
              Showing user permissions on the TRS console.
            </p>
             <p>
                <span class="govuk-tag govuk-tag--red">
            WARNING
            </span>
            May be outdated and not match preprod as some permissions were revised pre-implementation. Preprod will have more up-to-date designs and functionality for this feature.
            </p>
          </td>
        </tr> 
      </tbody>
        </table>

      
    
       

      <h2 class="govuk-heading-m">Older prototypes</h2>

      <!-- Old -->
         <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Old prototype</caption>
       <caption class="govuk-table__caption govuk-caption-s">Pre-February 2025</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="20%">Link</th>
          <th scope="col" class="govuk-table__header" width="20%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="/account/sign-in">Launch prototype</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--grey">
           Old version of TRS console
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
          These designs include the two tab sections for 'search' and 'create a new record'.
            </p>
             <p>
              <b> To navigate this prototype</b> <br>
                FOR RESOLVE DUPLICATE FOR 2 TRNs JOURNEY<br>
                   <br>
                   Go to Find a record —> Search on 'John Doe'
                   <br>
                -------
                <br>
                <b>FOR CHANGE PERSONAL DETAILS JOURNEY (search the TRN)</b>
              <pre>
                "fullName": “Amber Lola McDonald”,
                "trn": 987654</pre>
                -------<br>
                <b>TRNs below FOR INDUCTIONS JOURNEYS</b>
               <pre> "trn": "494612", 
                "inductionStatus": "none"</pre>
                -------<br>
                <pre>“trn": "553092",
                "inductionStatus": "Required to complete"</pre>
                -------<br>
               <pre> "trn": "571028",
                "inductionStatus": "Exempt"</pre>
                ------<br>
                <pre>"trn": "752394",
                "inductionStatus": "In progress"</pre>
             
            </p>
          </td>
        </tr> 
      </tbody>
        </table>



      <p><a href="/account/sign-in">Go to first page of prototype</a></p>
    </div>
  </div>

{% endblock %}