{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "alerts" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l">Select route status</h1>
      
      <form method="post" novalidate>
        
        {{ govukRadios({
          name: "routeStatus",
          fieldset: {
            legend: {
              text: "Select route status",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "Awarded",
              text: "Awarded"
            },
            {
              value: "Deferred",
              text: "Deferred"
            },
            {
              value: "Deferred for skills tests",
              text: "Deferred for skills tests"
            },
            {
              value: "Fail",
              text: "Fail"
            },
            {
              value: "In progress",
              text: "In progress"
            },
            {
              value: "Withdrawn",
              text: "Withdrawn"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

      <p class="govuk-body">
        <a href="general" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
