{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "general" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data.teachers %}
{% set teacher = trn | find(teacherArray)  %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/find-teacher"
  }) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Joseph Stubbersfield</h1>
      {% include "_includes/secondary-navigation.njk" %}  
  
      {{ govukSummaryList({
        card: {
          title: {
            text: "Personal details"
          }
        },
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: 'Joseph Stubbersfield'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: teacher['dateOfBirth']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Gender"
            },
            value: {
              text: 'Male'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Teacher reference number (TRN)"
            },
            value: {
              text: '4063484'
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: teacher['nationalInsurance']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "National Insurance number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
               text: 'joe.stubbersfield@gmail.com'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email"
                }
              ]
            }
          },
          {
            key: {
              text: "Mobile number"
            },
            value: {
               text: teacher['mobile']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Mobile number"
                }
              ]
            }
          }
        ]
      }) }}

     
      
    

  </div>
</div>

{% endblock %}
