{% extends "layouts/nav-search.html" %}
{% set currentPage = "records" %}
{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  {% if data.roleSelect == "viewer" or data.roleSelect == "record manager" or data.roleSelect == "service excellence team" %}
 <h1 class="govuk-heading-m">Records</h1>

<div class="app-search-form">
  <form id="searchForm">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s app-search-form__label" for="find-record">
        Search for a record
      </label>
      <div id="find-record-hint" class="govuk-hint">
        For example TRN, name or date of birth
      </div>
      <input class="govuk-input" id="find-record" name="findRecord" type="text" aria-describedby="find-record-hint" value="">
    </div>
    
    <button class="govuk-button app-search-form__button" data-module="govuk-button">
      Search
    </button>
  </form>
</div>
{% if data.roleSelect != "viewer" %}
<form action="records/new/create-new-record" novalidate>
<button type="submit" class="govuk-button" data-module="govuk-button">
  Create a record
</button>
{% endif %}
</form>
</div>
</div>

{% endif %}
{% if data.roleSelect == "record manager" or data.roleSelect == "service excellence team" %}
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Tasks to complete</h2>
        <div class="app-home-statuses app-home-statuses--3-up govuk-!-margin-bottom-4">
          
          

          {# TRN request #}
          <a href="get-a-trn-request/get-a-trn-list" class="status-card status-card--in-training">
            <span class="status-card__count">135</span>
            <span class="status-card__status">TRN requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
  
        

  
          {# Duplicates (general) #}
          
          <a href="duplicates/list" class="status-card status-card--in-training">
            <span class="status-card__count">40</span>
            <span class="status-card__status">Duplicates via API</span><span class="govuk-visually-hidden">View these records.</span>
          </a>

          <!-- 
           {# Definite matches #}
          
          <a href="definite-match/list" class="status-card status-card--in-training">
            <span class="status-card__count">28</span>
            <span class="status-card__status">Definite matches</span><span class="govuk-visually-hidden">View these records.</span>
          </a>-->

          {# Further checks #}
          
          <a href="further-checks/list" class="status-card status-card--in-training">
            <span class="status-card__count">12</span>
            <span class="status-card__status">Further checks required</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
         

            {# Change details request #}
          
          <a href="change-details-requests/list" class="status-card status-card--in-training">
            <span class="status-card__count">27</span>
            <span class="status-card__status">Change details requests</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
          </div>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

           <h2 class="govuk-heading-m">Third party tasks</h2>
        <div class="app-home-statuses app-home-statuses--3-up govuk-!-margin-bottom-4">
          

          {# ITRs #}
  
          <a href="interfaces" class="status-card status-card--incomplete">
            <span class="status-card__status">Intergration transaction records (ITRs)</span><span class="govuk-visually-hidden">View these records.</span>
          </a>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
    {% endif %}

  {% endblock %}


{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>

<script>
  document.getElementById("searchForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent form submission

    const input = document.getElementById("find-record").value.trim().toLowerCase();

    if (input === "harry taylor") {
      window.location.href = "search-results-a.html";
    }
    else if (input === "charlie williams") {
      window.location.href = "search-results-b.html";
    }
    else if (input === "olivia evans") {
      window.location.href = "search-results-c.html";
    }
     else {
      window.location.href = "search-results-none.html";
    }
  });
</script>

{% endblock %}
