{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}
{% set pageName = "Add a QTS route -" + data.teachers[0].fullName %}
{% set questionName = "Check details and confirm route" %}

{% set subjectChoices %}
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ data.subjectChoiceOne }}</li>
    
      {% if data.subjectChoiceTwo %}
      <li>{{ data.subjectChoiceTwo }}</li>
      {% endif %}

      {% if data.subjectChoiceThree %}
        <li>{{ data.subjectChoiceThree }}</li>
      {% endif %}
  </ul>
{% endset %}s

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>


      {{ govukInsetText({
        text: "A professional status will be added when you confirm this route."
      }) }}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Route"
            },
            value: {
              text: data.chooseQtsRoute
            },
            actions: {
              items: [
                {
                  href: "/change-qts-route",
                  text: "Change",
                  visuallyHiddenText: "QTS route"
                }
              ]
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data.applyQtsCountry
            },
            actions: {
              items: [
                {
                  href: "/iqts/country?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Establishment"
            },
            value: {
              text: data.establishment
            },
            actions: {
              items: [
                {
                  href: "/iqts/establishment?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "establishment"
                }
              ]
            }
          },
          {
            key: {
              text: "Qualification"
            },
            value: {
              text: data.establishmentQualification
            },
            actions: {
              items: [
                {
                  href: "/iqts/qualification?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "establishment qualification"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: data['iqtsStartDate-day'] + " " + data['iqtsStartDate-month'] + " " + data['iqtsStartDate-year']
            },
            actions: {
              items: [
                {
                  href: "/iqts/start-date?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "From " + data.ittFromAgeRestriction + " to " + data.ittToAgeRestriction
            },
            actions: {
              items: [
                {
                  href: "/iqts/age-restrictions?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "age restrictions"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              html: subjectChoices 
            },
            actions: {
              items: [
                {
                  href: "/iqts/subjects?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "subjects"
                }
              ]
            }
          },     
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data.iqtsProvider
            },
            actions: {
              items: [
                {
                  href: "/iqts/provider?returnUrl=/iqts/check",
                  text: "Change",
                  visuallyHiddenText: "Provider"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post" action="/iqts/check-handler">
        {{ govukButton({
          text: "Confirm and add route"
        }) }}
      </form>    

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
