{% extends "layouts/main.html" %}

{% set serviceNavId = "findRecord" %} 
{% set secondaryNavId = "routes" %}

{% set trn = data["findRecord"] %}
{% set teacherArray = data["teachers"] %}
{% set teacher = trn | find(teacherArray)  %}

{% set pageName = "Routes and professional status - " + teacher.fullName %}
{% set questionName = "Select degree type" %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    
      <span class="govuk-caption-l">{{pageName}}</span>
      <h1 class="govuk-heading-l"> {{questionName}}</h1>
      
      {% set chooseUnderGradType %}
        {% include "_includes/autocompletes/degree-type/undergrad.njk" %}
      {% endset %}

      {% set choosePostGradType %}
        {% include "_includes/autocompletes/degree-type/postgrad.njk" %}
      {% endset %}

      <form method="post" novalidate>
        {{ govukRadios({
          name: "establishmentQualification",
          value: data.establishmentQualification,    
          items: [
            {
              value: "Undergraduate",
              text: "Undergraduate",
              conditional: {
                html: chooseUnderGradType
              }
            },
            {
              value: "Postgraduate",
              text: "Postgraduate",
              conditional: {
                html: choosePostGradType
              }
            }
          ]
        }) }}

        {# {{ govukRadios({
          name: "establishmentQualification",
          value: data.establishmentQualification,    
          items: [
            {
              value: "Undergraduate",
              text: "Undergraduate"
            },
            {
              value: "Postgraduate",
              text: "Postgraduate"
            },
            {
              divider: "or"
            },
            {
              text: "Something else",
              conditional: {
                html: anotherEstQuaHtml
              }
            }
          ]
        }) }} #}
  
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a href="/cancel-and-return" class="govuk-link">Cancel and return to record</a>
      </p>

    
    
  </div>
</div>

{% endblock %}
